@model CRS.ADMIN.APPLICATION.Models.PointSetup.PointSetupModel
@{
    ViewBag.Title = "Points Slab List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ManagePointSlab = Model.ManageCategorySlab as CRS.ADMIN.APPLICATION.Models.PointSetup.CategorySlabModel;
}
<div class="px-8 py-4">
    @Html.AntiForgeryToken()
    <!-- title  -->
    <div class="flex flex-col  gap-6">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Points_Setup
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_your_points_detail
            </div>
        </div>
        <!-- container  -->
        <div id="tab1" class="tab-content-plane">
            <div class="flex flex-col gap-8">
                <div id="tab1" class="tab-content">
                    <div class="flex justify-between pb-[24px]">


                        <form action="/PointSetup/PointsCategorySlabList" method="get">
                            @*<input type="hidden" name="ClubId" value="@Model.UserTypeList.R">*@
                            @*<div class="relative input-search-wrapper">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                            <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                                  stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <input type="search"
                                           id="default-search"
                                           class="input-search block w-full "
                                           placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                           value="@Model.SearchFilter"
                                           name="SearchFilter">
                                </div>*@
                        </form>
                        <div class="flex gap-6 justify-between items-center w-full">                           
                                <p>@CRS.ADMIN.APPLICATION.Resources.Resource.Points_Category_Type : @ViewBag.Category</p>                       
                            <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-category-slab"
                                 data-drawer-show="add-new-category-slab" data-drawer-placement="right" data-drawer-backdrop="false"
                                 aria-controls="drawer-disabled-backdrop" id="add-new-id">
                                <img src="~/Content/assets_new/images/plus-circle-solid.svg" />
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                            </div>
                        </div>

                    </div>

                    <div id="points" class="pane active table-tab">
                        <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                            <div class="flex items-center select-entries" id="ShowEntries-Id">
                            </div>
                        </div>
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-left club-table" id="table-id">
                                <thead class="club-table-thead">
                                    <tr>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                S.N
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.FromAmountSlab
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.ToAmountSlab
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Value
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.CategorySlabList.Count > 0)
                                        {
                                            int SN = 1;
                                            foreach (var item in Model.CategorySlabList)
                                            {
                                                <tr class="bg-white border-b ">
                                                    <td class="p-[12px]">
                                                        @SN
                                                    </td>
                                                    <td class="p-[12px]">
                                                        @item.FromAmount
                                                    </td>
                                                    <td class="p-[12px]">
                                                        @item.ToAmount
                                                    </td>
                                                    <td class="p-[12px]">
                                                        @item.PointValue
                                                    </td>

                                                    <td class="p-[12px]">
                                                        <div class="flex gap-[7px]">

                                                            <i class="las la-edit text-[20px] cursor-pointer text-[#A6A6A6]" onclick="EditPointsSlab('@item.RoleTypeId','@item.CategoryId','@item.CategorySlabId')"></i>
                                                            <i class="las la-trash-alt text-[20px] cursor-pointer text-[#CB3F3F]" onclick="DeletePointsSlab('@item.RoleTypeId','@item.CategoryId','@item.CategorySlabId')"></i>

                                                        </div>
                                                    </td>
                                                </tr>
                                                SN++;
                                            }
                                        }

                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="pagination-club">
                            <div class="show-entry" id="Entries-Id">
                            </div>
                            <div class="flex gap-[12px]">
                                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                </div>
                                <div class="flex gap-[12px]" id="pagination-id">
                                </div>
                                <div class="btn btn-secondary-box-shadow" id="next-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="assignpoint" class="pane" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ManagePointsSlabPartialView", _ManagePointSlab)

@section scripts
{

    <script>
     $(document).ready(function () {
     var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
      if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "Manage") {
          var element = document.getElementById('add-new-category-slab');
     element.classList.remove('translate-x-full');
     }
     });
    document.addEventListener('DOMContentLoaded', function () {
        const page_size = @ViewBag.PageSize;
        const total_data = @ViewBag.TotalData;
        const start_index_val = @ViewBag.StartIndex;
        let URL = "/PointSetup/PointsCategorySlabList";
        let search_filter = $('#default-search').val();
        URL = addQueryParam(URL, 'SearchFilter', search_filter);
        LoadPagination(page_size, total_data, start_index_val, URL);

    });
        function EditPointsSlab(i,j,k) {
            window.location.href = '/PointSetup/ManageCategoryPointsSlab?roleTypeId=' + i + '&categoryId=' + j + '&categorySlabId=' + k;
        }
       function DeletePointsSlab(i,j,k) {
           window.location.href = '/PointSetup/DeleteCategoryPointsSlab?roleTypeId=' + i + '&categoryId=' + j + '&categorySlabId=' + k;
        }
      function CancelFunction() {
          location.reload();
      }
    </script>

}