@model  CRS.ADMIN.APPLICATION.Models.CustomerManagement.CustomerListCommonModel

<div class="flex justify-between pb-[24px]">
    <form action="/CustomerManagement/CustomerList" method="get">
        <div class="relative input-search-wrapper">
            <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                          stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <input name="FromDate" value="@Model.FromDate" hidden />
            <input name="ToDate" value="@Model.ToDate" hidden />
            <input name="Status" value="@ViewBag.UserStatusKey" hidden />
            <input name="MobileNumber" value="@Model.MobileNumber" hidden />
            <input type="search"
                   id="default-search"
                   class="input-search block w-full "
                   placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                   value="@Model.SearchFilter"
                   name="SearchFilter">
        </div>
    </form>
    @*<div class="flex gap-6">
            <div class="custom-date " data-drawer-target="customer-date" data-drawer-show="customer-date"
                 data-drawer-placement="right" aria-controls="customer-date">
                <img src="~/Content/assets_new/images/club/calendar-week-solid.svg" alt="date">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Custom_Date
            </div>
        </div>*@

</div>
<div>
    <!-- filter  -->
    <div class="mb-4">
        <div id="filter" class="export-button h-[40px] text-[#3E3E3E] w-max" onclick="showFilterContainer()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M5 10.5H15M2.5 5.5H17.5M7.5 15.5H12.5" stroke="#3E3E3E" stroke-width="1.67"
                      stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            @CRS.ADMIN.APPLICATION.Resources.Resource.Filter_By
        </div>

        <div id="filter-container" class="px-6 py-5 rounded-[5px] border border-[#D0D5DD]" style="display: none;">
            <form action="/CustomerManagement/CustomerList" method="get" id="filter-id">
                <div class="flex flex-col gap-4">
                    <div class="flex text-[#3E3E3E] gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                             height="21" viewBox="0 0 20 21" fill="none">
                            <path d="M5 10.5H15M2.5 5.5H17.5M7.5 15.5H12.5" stroke="#3E3E3E" stroke-width="1.67"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Filter_By
                    </div>

                    <div class="grid grid-cols-3 gap-[27px]">
                        <div class="input-field-common">
                            <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                Customer Status
                            </label>
                            <select id="large" name="Status" class=" default_select select-common block w-full "
                                    style="width: 100%;">
                                @foreach (var item in ViewBag.UserStatusDDL as IEnumerable<SelectListItem>)
                                {
                                    var selectedId = ViewBag.UserStatusKey as string;
                                    if (item.Value == selectedId)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">
                                            @item.Text
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="input-field-common">
                            <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number
                            </label>
                            <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number" name="MobileNumber" id="MobileNumber" value="@Model.MobileNumber"
                                   onkeypress="return isNumber(event)" maxlength="11">
                        </div>
                        <br />
                        <div class="input-field-common">
                            <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.From_Date
                            </label>

                            <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.From_Date" name="FromDate" id="FromDate" value="@Model.FromDate" readonly>
                        </div>
                        <div class="input-field-common">
                            <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.To_Date
                            </label>

                            <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.To_Date" name="ToDate" id="ToDate" value="@Model.ToDate" readonly>
                        </div>

                    </div>
                </div>
                <div class=" flex gap-4 mt-4">
                    <button id="cancelFilter" class="btn btn-primary-normal gap-1 rounded-[4px]"
                            onclick="hideFilterContainerCustom()" type="button">
                        <i class="las la-times"></i>@CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                    </button>

                    <button id="SubmitFilter" class="btn btn-primary-default gap-1 rounded-[4px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19"
                             viewBox="0 0 18 19" fill="none">
                            <path d="M5.25 14.75V10.25H12.75V14.75H14.25V6.371L12.129 4.25H3.75V14.75H5.25ZM3 2.75H12.75L15.75 5.75V15.5C15.75 15.6989 15.671 15.8897 15.5303 16.0303C15.3897 16.171 15.1989 16.25 15 16.25H3C2.80109 16.25 2.61032 16.171 2.46967 16.0303C2.32902 15.8897 2.25 15.6989 2.25 15.5V3.5C2.25 3.30109 2.32902 3.11032 2.46967 2.96967C2.61032 2.82902 2.80109 2.75 3 2.75ZM6.75 11.75V14.75H11.25V11.75H6.75Z"
                                  fill="white" />
                        </svg>Apply
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="table-tab">
        <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
            <div class="flex items-center select-entries" id="ShowEntries-Id">
            </div>

            <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'Customer');">
                <img src="~/Content/assets_new/images/club/download-solid.svg"> @CRS.ADMIN.APPLICATION.Resources.Resource.Export
            </div>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full  text-left club-table" id="table-id">
                <thead class="club-table-thead">
                    <tr>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                S.N
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.User_Info
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Age
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>

                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Status
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                Referrer
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Location
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Updated_On
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Created_On
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex  w-max justify-center">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.CustomerListModel)
                    {
                        <tr class="bg-white border-b ">
                            <td class="p-[12px]">
                                @customer.SNO
                            </td>
                            <td class="p-[12px]">
                                <div class="round-image-text flex gap-[12px] w-max">
                                    @if (!string.IsNullOrEmpty(@customer.ProfileImage))
                                    {
                                        <img class="w-[32px] h-[32px] rounded-full"
                                             src="@customer.ProfileImage" />
                                    }
                                    else
                                    {
                                        <img class="w-[32px] h-[32px] rounded-full"
                                             src="~/Content/assets_new/images/demo-image.jpeg" />
                                    }

                                    <div class="flex justify-between w-full">
                                        <div class="text-image grid flex-none ">
                                            <div class="text-sm font-semibold text-[#101828] ">@customer.FullName</div>
                                            <div class='text-xs  text-[#404040] '>@customer.NickName</div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-[12px]">
                                @customer.MobileNumber
                            </td>
                            <td class="p-[12px]">
                                @customer.Age
                            </td>

                            <td class="p-[12px]">
                                @if (!string.IsNullOrEmpty(customer.Status) && customer.Status.ToUpper() == "A")
                                {
                                    <div class="approved">
                                        Active
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(customer.Status) && customer.Status.ToUpper() == "B")
                                {
                                    <div class="blocked">
                                        Blocked
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        -
                                    </div>
                                }
                            </td>
                            <td class="p-[12px]">
                                @customer.Referer
                            </td>
                            <td class="p-[12px]">
                                @customer.Location
                            </td>
                            <td class="p-[12px]">
                                <div class="w-max">
                                    @customer.UpdatedDate
                                </div>
                            </td>
                            <td class="p-[12px]">
                                <div class="w-max">
                                    @customer.CreatedDate
                                </div>
                            </td>
                            <td class="p-[12px]">
                                <div class="flex gap-[7px] justify-center text-[16px] ">
                                    @*<div>
                                            <i class="fa-regular fa-pen-to-square text-[#989898] cursor-pointer"></i>
                                        </div>*@

                                    @if (!string.IsNullOrEmpty(customer.Status) && customer.Status.ToUpper().Trim() == "A")
                                    {
                                        <div onclick="BlockEvent('@customer.AgentId')">
                                            <i class="fa-solid fa-lock text-primary-100 cursor-pointer"></i>
                                        </div>
                                    }
                                    else if (!string.IsNullOrEmpty(customer.Status) && customer.Status.ToUpper().Trim() == "B")
                                    {
                                        <div onclick="UnblockEvent('@customer.AgentId')">
                                            <i class="fa-solid fa-unlock text-primary-100 cursor-pointer"></i>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="pagination-club">
            <div class="show-entry" id="Entries-Id">
            </div>
            <div class="flex gap-[12px]">
                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                </div>
                <div class="flex gap-[12px]" id="pagination-id">
                </div>
                <div class="btn btn-secondary-box-shadow" id="next-btn">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                </div>
            </div>
        </div>
    </div>
</div>