@model CRS.ADMIN.APPLICATION.Models.TemplateMessage.TemplateMessageModel
@{
    ViewBag.Title = "Event List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ManageTemplateModel = Model.ManageTemplateModel as CRS.ADMIN.APPLICATION.Models.TemplateMessage.ManageTemplateModel;

}

<style>

    .note-modal-backdrop{
        display:none!important
    }
    .note-modal-footer{
        height: 65px !important
    }
    .note-modal-footer .note-btn {
       float: right;
       background-color: #d75a8b;
       color: white;
       padding-bottom :32px;
     }

    .note-btn-primary.focus, .note-btn-primary:focus, .note-btn-primary:hover {
        background-color: #d75a8b !important;
        color: white;
        padding-bottom: 32px;
    }
    .note-modal-body .checkbox .sn-checkbox-use-protocol {
        display: none !important;
    }
</style>


<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">
<div class="px-8 py-4">

    @Html.AntiForgeryToken()
    <!-- title  -->
    <div class="flex flex-col  gap-6">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Template_Message
            </div>

        </div>
        <!-- container  -->
        <div id="tab1" class="tab-content-plane">
            <div class="flex flex-col gap-8">
                <div id="tab1" class="tab-content">
                    <div class="flex justify-between pb-[24px]">
                        <form action="/TemplateManagement/MessageTemplateList" method="get">
                            @*<input type="hidden" name="ClubId" value="@Model.ManageEventModel.AgentId">*@
                            <div class="relative input-search-wrapper">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                        <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                              stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <input type="search"
                                       id="default-search"
                                       class="input-search block w-full "
                                       placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                       value="@Model.SearchFilter"
                                       name="SearchFilter">
                            </div>
                        </form>
                        <div class="flex gap-6">
                            <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'Event')">
                                <img src="~/Content/assets_new/images/club/download-solid.svg">@CRS.ADMIN.APPLICATION.Resources.Resource.Export
                            </div>

                            <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-template-message"
                                 data-drawer-show="add-template-message" data-drawer-placement="right" data-drawer-backdrop="false"
                                 aria-controls="drawer-disabled-backdrop" id="add-template-message-id">
                                <img src="~/Content/assets_new/images/plus-circle-solid.svg" />
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                            </div>
                        </div>
                    </div>
                    <div class="table-tab">
                        <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                            <div class="flex items-center select-entries" id="ShowEntries-Id">
                            </div>
                        </div>
                        <div class="relative overflow-x-auto">

                            <table class="w-full text-left club-table" id="table-id">
                                <thead class="club-table-thead">
                                    <tr>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                S.N
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.User_Type
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Content_Category
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Content_Type
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>

                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Subject
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Created_On
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        @*<th scope="col" class="p-[12px]">
            <div class="flex w-max">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Status
                <div class="relative pl-[5px]">
                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                </div>
            </div>
        </th>*@
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.GetTemplateMessageList.Count > 0)
                                        {
                                            int SN = 1;
                                            foreach (var item in Model.GetTemplateMessageList)
                                            {
                                                                        <tr class="bg-white border-b ">
                                                                            <td class="p-[12px]">
                                                                                @SN
                                                                            </td>
                                                                            <td class="p-[12px]">
                                                                                @item.userType
                                                                            </td>
                                                                            <td class="p-[12px]">
                                                                                @item.contentCategory
                                                                            </td>
                                                                            <td class="p-[12px]">
                                                                                @item.contentType
                                                                            </td>
                                                                            <td class="p-[12px]">
                                                                                @item.subject
                                                                            </td>
                                                                            <td class="p-[12px]">
                                                                                @item.createdDate
                                                                            </td>
                                                                            @*<td class="p-[12px]">
            @if (!string.IsNullOrEmpty(item.Status) && item.Status.Trim().ToUpper() == "A")
            {
                <div class="approved">
                    Active
                </div>
            }
            else
            {
                <div class="blocked">
                    Blocked
                </div>
            }
        </td>*@

                                                                            <td class="p-[12px]">
                                                                                <div class="flex gap-[7px]">
                                                                                    @*<i class="las la-eye text-[20px] cursor-pointer text-[#A6A6A6]" onclick="ViewCategory('@item.RoleTypeId','@item.CategoryId');"></i>*@
                                                                                    <i class="las la-edit text-[20px] cursor-pointer text-[#A6A6A6]" onclick="EditTemplate('@item.Id');"></i>


                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                SN++;
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-club">
                            <div class="show-entry" id="Entries-Id">
                            </div>
                            <div class="flex gap-[12px]">
                                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                </div>
                                <div class="flex gap-[12px]" id="pagination-id">
                                </div>
                                <div class="btn btn-secondary-box-shadow" id="next-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_ManageTemplate", _ManageTemplateModel)
<style>
    .fr-element.fr-view br {
        display: block; /* Ensures `<br>` behaves like a block element */
        height: 8px; /* Control the vertical spacing */
        content: ''; /* Maintain compatibility */
        color: #6495ED; /* Optional: Add color to emphasize breaks */
    }
</style>
@section scripts
{

    <script src="~/Content/assets_new/js/calendar-management.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
    <script>
        // Initialize Froala Editor
        let editorInstance;

        function insertAtCursor() {
            const dropdown = $('#large[name="fieldTypeDDL"]');
            const selectedValue = dropdown.val();
            //editorInstance.html.insert(selectedValue);
            $('#summernote').summernote('focus'); // Ensure the editor is focused
            $('#summernote').summernote('insertText', selectedValue);
        
        }
        $(document).ready(function () {
           $.extend($.summernote.options.buttons, {
        insertCustomLink: function (context) {
            const ui = $.summernote.ui;
            return ui.button({
                contents: '<i class="note-icon-link"/> Insert Link',
                tooltip: 'Insert Link (no popup)',
                click: function () {
                    const selectedText = window.getSelection().toString();
                    const url = prompt('Enter the URL:');

                    if (selectedText && url) {
                        const linkHTML = `<a href="${url}" target="_blank">${selectedText}</a>`;
                        $('#summernote').summernote('pasteHTML', linkHTML);
                    } else {
                        alert('Please select text and provide a valid URL.');
                    }
                }
            }).render();
        }
           });
           

            $('#summernote').summernote({
                height: 200, // Set minimum height
                placeholder: 'Start writing here...',
                toolbar: [
                    ['style', ['bold', 'italic', 'underline']], // Toolbar customization
                    //['customLink', ['insertCustomLink']]
                    ['insert', ['link']]
                ],
                callbacks: {
                    onInit: function () {
                        // Load initial content from input field if available
                        const body = $('input[name="messageBody"]').val();
                        if (body) {
                            $('#summernote').summernote('code', body);
                        }
                    },
                    onPaste: function (e) {
                        e.preventDefault(); // Prevent default paste action

                        // Get plain text from clipboard
                        const clipboardData = e.originalEvent.clipboardData || window.clipboardData;
                        let pastedData = clipboardData.getData('text/plain');

                        // Clean up the pasted content
                        pastedData = pastedData.trim().replace(/\s+/g, ' ');

                        // Insert cleaned text manually
                        $('#summernote').summernote('pasteHTML', pastedData);
                    }
                
                }
            });
            $('#summernote').on('summernote.link.create', function (we, url) {
                setTimeout(() => {
                  
                    $('#summernote').next('.note-editor').find(`a[href="${url}"]`).attr('target', '_blank');
                }, 0);
            });

            setTimeout(function () {
                $('.sn-checkbox-use-protocol').hide();
            }, 500);
        });
       
        document.addEventListener('DOMContentLoaded', function () {
            const page_size = @ViewBag.PageSize;
            const total_data = @ViewBag.TotalData;
            const start_index_val = @ViewBag.StartIndex;
            let URL = "/TemplateManagement/MessageTemplateList";
            let search_filter = $('#default-search').val();
            URL = addQueryParam(URL, 'SearchFilter', search_filter);
            LoadPagination(page_size, total_data, start_index_val, URL);
            //editorInstance = new FroalaEditor('#froala-editor', {
            //    events: {
            //        'initialized': function () {
            //            const body = $('input[name="messageBody"]').val();
            //            if (body) {
            //                this.html.set(body); // 'this' refers to the editor instance
            //            }
            //        },
            //        'paste.before': function (e, editor) {
            //            const clipboardData = e.clipboardData || window.clipboardData;
            //            let pastedData = clipboardData.getData('text/plain'); // Get plain text
            //            pastedData = pastedData.trim(); // Trim whitespace
            //            pastedData = pastedData.replace(/\s+/g, ' '); // Normalize spaces
            //            editor.html.insert(pastedData); // Insert cleaned data manually
            //            e.preventDefault(); // Prevent the default paste action
            //        }
            //    },
            //    heightMin: 200, // Optional: Minimum height for the editor
            //    toolbarButtons: ['bold', 'italic', 'underline'],
            //    pluginsEnabled: [], // Optional: List plugins you want to enable
            //    fontSize: {
            //        options: ['8', '10', '12']
            //    },
            //    inlineMode: false // Disable inline mode if not required
            //});


        });
        function cleanContent(content) {
            // Create a temporary DOM element
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = content;
            // Loop through all elements and remove inline styles
            const elements = tempDiv.querySelectorAll('*');
            elements.forEach(el => el.removeAttribute('style'));
            tempDiv.innerHTML = tempDiv.innerHTML.replace(/<p><br><\/p>/g, '<br>');
            return tempDiv.innerHTML;
        }
        function submitContent() {
            // Get the HTML content from Froala Editor
            //const content = editorInstance.html.get();
            //const raw = cleanContent(content);
            //$('#editorContent[name="messageBody"]').val(raw);
            const content = $('#summernote').summernote('code');

            $('#editorContent[name="messageBody"]').val(content);
            
            $("#ManageTemplateEmailForm").submit();
        }
        function EditTemplate(i)
        {
            let search_filter = $('#default-search').val();
            const start_index_val = @ViewBag.StartIndex;
            const page_size = @ViewBag.PageSize;
            window.location.href = '/TemplateManagement/ManageTemplate?Id=' + i + '&SearchFilter=' + search_filter + '&StartIndex=' + start_index_val + '&PageSize=' + page_size;
         }
        var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
        if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "Manage")
        {
            var element = document.getElementById('add-template-message');
            element.classList.remove('translate-x-full');
        }
        function CancelFunction()
        {
            location.reload();
        };
    </script>

}