<!-- #region Header section -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoslog | Admin | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/assets_new/css/superadmin/global.css">
    <link rel="stylesheet" href="~/Content/assets_new/css/superadmin/layout.css">
    <link rel="stylesheet" href="~/Content/assets_new/css/superadmin/custom.css">
    <link rel="stylesheet" href="~/Content/assets_new/css/superadmin/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <!--export html table to excel js-->
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include html2pdf library -->
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js"></script>
    <script src="~/Content/assets_new/js/modal.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "primary-100": '#D75A8B',
                        "primary-200": '#FFB6C1',
                        "primary-300": '#18181b',
                        "primary-400": "#667085",
                        "secondary-100": '#333',
                        "secondary-200": '#A1A1AA',
                        "secondary-300": '#7A7A7A',
                        "secondary-400": "#EFF4FB",
                        "secondary-text-1": "#3E3E3E",
                        "secondary-text-2": "#151518",
                        "secondary-color-pink": "#CC527A",
                        "gold": '#E3AB00',
                        "silver": '#A6A6A6',
                        "copper": '#BD764B',
                        "white": '#fff',
                        "background-100": "#15050B",
                        "gray-200": "#E4E4E7",
                        "gray-500": "#71717A",
                        "textColor-100": "#151518",
                        "textColor-200": "#3E3E3E",
                        "green-500": "#22c55e",
                        "error": "#959595",
                        "secondary-color-pink": " #cc527a",
                        "gray-900": "#18181B",
                    }
                }
            }
        }
    </script>
    <style>
        /*.border-card-balance {
            width: 176px;
            height: 59px;
            position: absolute;*/ /* Ensure positioning is respected */
            /*top: 8px;
            right: 334px;
            padding: 6px 12px;
            gap: 8px;
            border-radius: 4px 4px 4px 4px;
            border: 1px solid #FCE6EF;*/ /* Ensure border is styled correctly */
            /*opacity: 1;
            background-color: #FCE6EF
        }
        .card-text {*/
            /*width: 91px;*/ /* Replace Hug (91px)px with 91px */
            /*height: 28px;*/ /* Replace Hug (28px)px with 28px */
            /*gap: 0;*/ /* '0px' is equivalent to '0' */
            /*color: #d75a8b;
        }
        .hoslog-text {
            font-family: Noto Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 10.9px;
            letter-spacing: 0.5px;
            text-align: left;
            margin-top: 6px;
        }*/

        .border-card-balance {
            display: flex; /* Use flexbox for layout */
            align-items: center; /* Center items vertically */
            width: auto; /* Allow width to adjust based on content */
            height: 40px;
            position: absolute; /* Ensure positioning is respected */
            top: 20px;
            left: 1000px;
            padding: 6px 12px;
            gap: 8px;
            border-radius: 4px;
            border: 1px solid #FCE6EF;
            opacity: 1;
            background-color: #FCE6EF;
        }

            .border-card-balance img {
                height:100%; /* Adjust the height of the image to fit the container */
                width: auto; /* Maintain aspect ratio of the image */
            }

        .card-text {
            display: flex; /* Use flexbox to align text content */
            flex-direction: column; /* Stack text vertically */
            gap: 0; /* Remove gap between text elements */
            color: #d75a8b;
            flex: 1; /* Allow the text container to take up available space */
            line-height: 16px;
            margin-top: 6px;
            font-size: 14px;
        }

        .hoslog-text {
            font-family: Noto Sans;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.5px;
            text-align: left;
            margin-bottom: 8px;
        }

    </style>

    @*<style>
            .menuContainer.menuActive .menu-icon .active-image {
                display: block;
            }

            .menuContainer .menu-icon .active-image {
                display: none;
            }

            .menu-icon img {
                height: 20px;
                width: 20px;
                object-fit: contain;
            }

            img, video {
                max-width: 100%;
                height: auto;
            }
        </style>*@
</head>

<body class="select-checkbox-custom">

    <div class="flex">

        <div class="leftsidebarContainer">
            <div class="logo" style="margin-bottom: 24px;">
                <img src="~/Content/assets_new/images/logo.svg" alt="logo" />
            </div>
            <div class="main-menu-title text-secondary-300 pb-[16px]">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Main_Menu
            </div>
            @{
                var CurrentURL = ApplicationUtilities.GetSessionValue("CurrentURL")?.ToString();
                var MenuActiveClass = string.Empty;
            }

        <div style="padding-bottom: 24px;" class="grid gap-[8px] ">
            @if (ApplicationUtilities.HasMenuRight("/Home/Dashboard"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/HOME/DASHBOARD") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Dashboard", "Home")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/dashboard.svg" class="image" />
                            <img src="~/Content/assets_new/images/dashboard-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Dashboard
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/RoleManagement/RoleList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/ROLEMANAGEMENT/ROLELIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("RoleList", "RoleManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/user-cog-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/user-cog-solid-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Roles_and_Privileges
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/LocationManagement/LocationList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/LOCATIONMANAGEMEN/LOCATIONLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("LocationList", "LocationManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/location-arrow-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/location-arrow-solid-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Location_Management
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/StaffManagement/StaffList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/STAFFMANAGEMENT/STAFFLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("StaffList", "StaffManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/customer.svg" class="image" />
                            <img src="~/Content/assets_new/images/customer-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Staff_Management
                        </div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/PromotionManagement/GetPromotionalImages"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/PROMOTIONMANAGEMENT/GETPROMOTIONALIMAGES") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("GetPromotionalImages", "PromotionManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/image-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/image-solid-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Promotion_Management
                        </div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/CommissionManagement/CategoryList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/COMMISSIONMANAGEMENT/CATEGORYLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("CategoryList", "CommissionManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/commission.svg" class="image" />
                            <img src="~/Content/assets_new/images/commission-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Commission_Management
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/CustomerManagement/CustomerList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/CUSTOMERMANAGEMENT/CUSTOMERLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("CustomerList", "CustomerManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/customer.svg" class="image" />
                            <img src="~/Content/assets_new/images/customer-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Customer_Management
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/ClubManagement/ClubList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/CLUBMANAGEMENT/CLUBLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("ClubList", "ClubManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/club.svg" class="image" />
                            <img src="~/Content/assets_new/images/club-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.ClubManagement
                        </div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/BasicClubManagement/BasicClubManagementList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/BASICCLUBMANAGEMENT/BASICCLUBMANAGEMENTLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("BasicClubManagementList", "BasicClubManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/club.svg" class="image" />
                            <img src="~/Content/assets_new/images/club-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Basic_Club_Management
                        </div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/PlanManagement/PlanList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/PLANMANAGEMENT/PLANLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("PlanList", "PlanManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/Plan.svg" class="image" />
                            <img src="~/Content/assets_new/images/Plan-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Plan_Management
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/ReservationLedger/ReservationLedgerList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/RESERVATIONLEDGER/RESERVATIONLEDGERLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("ReservationLedgerList", "ReservationLedger")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/reservationledger.svg" class="image" />
                            <img src="~/Content/assets_new/images/reservationledger-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Reservation_Ledger
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/AffiliateManagement/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/AFFILIATEMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "AffiliateManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/affiliate.svg" class="image" />
                            <img src="~/Content/assets_new/images/affiliate-active.svg" class="active-image" />

                        </div>
                        <div class="label">@CRS.ADMIN.APPLICATION.Resources.Resource.Affiliate_Management</div>
                    </div>
                </a>
            }

            <!-- -----  -->

            @if (ApplicationUtilities.HasMenuRight("/PointSetup/index"))  //@if (ApplicationUtilities.HasMenuRight("/PointSetup/PointSetupUserTypeList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/POINTMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("index", "PointManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/affiliate.svg" class="image" />
                            <img src="~/Content/assets_new/images/affiliate-active.svg" class="active-image" />

                        </div>
                        <div class="label">Point Management</div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/PointSetup/PointSetupUserTypeList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/POINTSETUP/POINTSETUPUSERTYPELIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("PointSetupUserTypeList", "PointSetup")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/coins-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/coins-solid-active.svg" class="active-image" />

                        </div>
                        <div class="label">@CRS.ADMIN.APPLICATION.Resources.Resource.Points_Setup</div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/PointsManagement/PointsTransferList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/POINTSMANAGEMENT/POINTSTRANSFERLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("PointsTransferList", "PointsManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/coins-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/coins-solid-active.svg" class="active-image" />

                        </div>
                        <div class="label">@CRS.ADMIN.APPLICATION.Resources.Resource.Points_Management</div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/AdminPointManagement/AdminPointList"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/ADMINPOINTMANAGEMENT/ADMINPOINTLIST") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("AdminPointList", "AdminPointManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/coins-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/coins-solid-active.svg" class="active-image" />

                        </div>
                        <div class="label">Admin Point Management </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/PaymentManagement/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/PAYMENTMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "PaymentManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/payment.svg" class="image" />
                            <img src="~/Content/assets_new/images/payment-active.svg" class="active-image" />
                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Management
                        </div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight(""))
            {
                <a href="../tag-management">
                    <div class="menuContainer">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/tag-solid.svg" class="image" />
                            <img src="~/Content/assets_new/images/dashboard-active.svg" class="active-image" />

                        </div>
                        <div class="label">Tag Management</div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/RecommendationManagementV2/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/RECOMMENDATIONMANAGEMENTV2/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "RecommendationManagementV2")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/recommendation.svg" class="image" />
                            <img src="~/Content/assets_new/images/recommendation-active.svg" class="active-image" />

                        </div>
                        <div class="label">@CRS.ADMIN.APPLICATION.Resources.Resource.Recommendation_Requests</div>
                    </div>
                </a>
            }
            <!-- -----  -->
            @if (ApplicationUtilities.HasMenuRight("/ReviewAndRatingsManagement/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/REVIEWANDRATINGSMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "ReviewAndRatingsManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/review.svg" class="image" />
                            <img src="~/Content/assets_new/images/review-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Review_and_Ratings
                        </div>
                    </div>
                </a>
            }
            <!-- static data section  -->
            @if (ApplicationUtilities.HasMenuRight("/StaticDataManagement/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/STATICDATAMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "StaticDataManagement")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/review.svg" class="image" />
                            <img src="~/Content/assets_new/images/review-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.StaticDataType
                        </div>
                    </div>
                </a>
            }
            @if (ApplicationUtilities.HasMenuRight("/Inquiries/Index"))
            {
                if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/INQUIRIES/INDEX") { MenuActiveClass = "menuActive"; }
                else { MenuActiveClass = string.Empty; }
                <a href="@Url.Action("Index", "Inquiries")">
                    <div class="menuContainer @MenuActiveClass">
                        <div class="menu-icon w-max">
                            <img src="~/Content/assets_new/images/review.svg" class="image" />
                            <img src="~/Content/assets_new/images/review-active.svg" class="active-image" />

                        </div>
                        <div class="label">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Inquiries
                        </div>
                    </div>
                </a>
            }
        </div>
            <div>
                <div class="main-menu-title text-secondary-300 pb-[16px]">Setting</div>

                <div class="grid gap-[8px] ">
                    @if (ApplicationUtilities.HasMenuRight("/ProfileManagement/Index"))
                    {
                        if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/PROFILEMANAGEMENT/INDEX") { MenuActiveClass = "menuActive"; }
                        else { MenuActiveClass = string.Empty; }
                        <a href="@Url.Action("Index", "ProfileManagement")">
                            <div class="menuContainer @MenuActiveClass">
                                <div class="menu-icon w-max">
                                    <img src="~/Content/assets_new/images/profile.svg" />
                                    @*<img src="~/Content/assets_new/images/profile-active.svg" class="active-image" />*@
                                </div>
                                <div class="label">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Profile
                                </div>
                            </div>
                        </a>
                    }
                    @if (ApplicationUtilities.HasMenuRight("/ProfileManagement/ChangePassword"))
                    {
                        if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/PROFILEMANAGEMENT/CHANGEPASSWORD") { MenuActiveClass = "menuActive"; }
                        else { MenuActiveClass = string.Empty; }
                        <a href="@Url.Action("ChangePassword", "ProfileManagement")">
                            <div class="menuContainer @MenuActiveClass">
                                <div class="menu-icon w-max">
                                    <img src="~/Content/assets_new/images/lock.svg" />
                                    @*<img src="~/Content/assets_new/images/lock-active.svg" class="active-image" />*@
                                </div>
                                <div class="label">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Security
                                </div>
                            </div>
                        </a>
                    }
                    <!-- -----  -->
                    @if (ApplicationUtilities.HasMenuRight("/LanguageManagement/Index"))
                    {
                        if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/LANGUAGEMANAGEMENT/INDEX")
                        {
                            MenuActiveClass = "menuActive";
                        }
                        else { MenuActiveClass = string.Empty; }
                        <a href="@Url.Action("Index", "LanguageManagement")">
                            <div class="menuContainer @MenuActiveClass">
                                <div class="menu-icon w-max">
                                    <img src="~/Content/assets_new/images/language.svg" />
                                    @*<img src="~/Content/assets_new/images/language-active.svg" class="active-image" />*@
                                </div>
                                <div class="label">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Language_Preference
                                </div>
                            </div>
                        </a>
                    }
                    <!-- -----  -->
                    @if (ApplicationUtilities.HasMenuRight(""))
                    {
                        <div class="menuContainer">
                            <div class="menu-icon w-max">
                                <img src="~/Content/assets_new/images/help.svg" />
                            </div>
                            <div class="label">Help</div>
                        </div>
                    }
                    @if (ApplicationUtilities.HasMenuRight("/EmailLog/Index"))
                    {
                        if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/EMAILLOG/INDEX")
                        {
                            MenuActiveClass = "menuActive";
                        }
                        else { MenuActiveClass = string.Empty; }
                        <a href="@Url.Action("Index", "EmailLog")">
                            <div class="menuContainer @MenuActiveClass">
                                <div class="menu-icon w-max">
                                    <img src="~/Content/assets_new/images/list-alt.svg" />
                                    @*<img src="~/Content/assets_new/images/language-active.svg" class="active-image" />*@
                                </div>
                                <div class="label">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.EmailLog
                                </div>
                            </div>
                        </a>
                    }
                    @if (ApplicationUtilities.HasMenuRight("/SMSLog/Index"))
                    {
                        if (!string.IsNullOrEmpty(CurrentURL) && CurrentURL.Trim().ToUpper() == "/SMSLOG/INDEX")
                        {
                            MenuActiveClass = "menuActive";
                        }
                        else { MenuActiveClass = string.Empty; }
                        <a href="@Url.Action("Index", "SMSLog")">
                            <div class="menuContainer @MenuActiveClass">
                                <div class="menu-icon w-max">
                                    <img src="~/Content/assets_new/images/list-alt.svg" />
                                    @*<img src="~/Content/assets_new/images/language-active.svg" class="active-image" />*@
                                </div>
                                <div class="label">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.SMSLog
                                </div>
                            </div>
                        </a>
                    }
                    <!-- -----  -->
                    <a href="@Url.Action("LogOff", "Home")">
                        <div class="menuContainer">
                            <div class="menu-icon w-max">
                                <img src="~/Content/assets_new/images/logout.svg" />
                            </div>
                            <div class="label">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Log_out
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="navbar  h-[80px] w-full flex justify-between items-center z-10">
                @if (ViewBag.IsBackAllowed != null && ViewBag.IsBackAllowed)
                {
                    if (!string.IsNullOrEmpty(ViewBag.BackButtonURL))
                    {
                        <div onclick="window.location.href='@ViewBag.BackButtonURL'">
                            <!-- remove this code only, if back is not needed -->
                            <div class="flex items-center text-[#667085] gap-2 cursor-pointer">
                                <i class="las la-arrow-left text-[20px]"></i>
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Back
                            </div>
                            <!-- end  -->
                        </div>
                    }
                    else
                    {
                        <div onclick="window.history.back();">
                            <!-- remove this code only, if back is not needed -->
                            <div class="flex items-center text-[#667085] gap-2 cursor-pointer">
                                <i class="las la-arrow-left text-[20px]"></i>
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Back
                            </div>
                            <!-- end  -->
                        </div>
                    }
                }
                else
                {
                    <div> </div>
                }
            <div class="flex-none flex gap-[64px]">
                              
                    
                @*<div class="h-[34px] w-[34px] " style="margin-top: 4px;display: contents;">
            <span align-text="center" id="adminamount"></span>
        </div>*@
                <div class="notification-bell rounded-full h-[34px] w-[34px] mt-[5px] bg-secondary-400 cursor-pointer"
                     data-dropdown-toggle="dropdownNotification">
                    <img src="~/Content/assets_new/images/alarm.svg" />

                    <div class="notification-bell-red"></div>
                </div>



                <!-- Dropdown menu -->
                <div id="dropdownNotification" class="z-20 hidden w-full max-w-sm bg-white divide-y
                         divide-gray-100 rounded-lg shadow  dark:divide-gray-700"
                     aria-labelledby="dropdownNotificationButton">
                    <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 ">
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Notifications
                    </div>
                    <div class="divide-y divide-gray-100 dark:divide-gray-700">
                        @{
                            if (Session["Notifications"] != null)
                            {
                                var notifications = Session["Notifications"] as List<CRS.ADMIN.APPLICATION.Models.NotificationManagement.NotificationDetailModel>;
                                if (notifications != null && notifications.Count > 0)
                                {
                                    foreach (var item in notifications)
                                    {
                                        <a href="@Url.Action("ViewAllNotifications","NotificationManagement", new {NotificationId= item.NotificationId})" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                                            <div class="w-full pl-3">
                                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">
                                                    @Html.Raw(item.NotificationBody)
                                                </div>
                                                <div class="text-xs text-blue-600 dark:text-blue-500">@item.Time</div>
                                            </div>
                                        </a>
                                    }
                                }
                            }
                        }
                    </div>
                    <a href="@Url.Action("ViewAllNotifications","NotificationManagement")"
                       class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 ">
                        <div class="inline-flex items-center ">
                            <svg class="w-4 h-4 mr-2 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                            </svg>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.View_All
                        </div>
                    </a>
                </div>

                <div class="profile-details">
                    <div class="profile-details-user">
                        @if (!string.IsNullOrEmpty(ApplicationUtilities.GetSessionValue("username").ToString()))
                        {
                            <h3>@ApplicationUtilities.GetSessionValue("username").ToString()</h3>
                        }
                        else
                        {
                            <span>Admin</span>
                        }
                        @if (!string.IsNullOrEmpty(ApplicationUtilities.GetSessionValue("Fullname").ToString()))
                        {
                            <span>@ApplicationUtilities.GetSessionValue("Fullname").ToString()</span>
                        }
                    </div>
                    <div data-drawer-target="drawer-right-example-profile"
                         data-drawer-show="drawer-right-example-profile" data-drawer-placement="right"
                         aria-controls="drawer-right-example-profile" class="cursor-pointer">
                        <img src="@ApplicationUtilities.GetSessionValue("ProfileImage").ToString()" class="rounded-full w-[45px] h-[45px] object-fill" />
                    </div>
                </div>
            </div>
            </div>

            <div class="body-container">


                <!-- #endregion -->
                <!-- #region Render Section -->

                <div>
                    @RenderBody()
                </div>

                <!-- #endregion -->
                <!-- #region Footer section -->

            </div>
        </div>
    </div>
    <script>
        $(".js-select2").select2({
            closeOnSelect: false,
            placeholder: "Placeholder",
            // allowHtml: true,
            allowClear: true,
            tags: true // создает новые опции на лету
        });
        $(document).ready(function () {
            $('select').select2({
                minimumResultsForSearch: Infinity
            });
        });
    </script>

    <script src="~/Content/assets_new/js/tabs.js"></script>
    @*<script src="~/Content/assets_new/js/jquery.validate.min.js "></script>*@
    <script src="~/Content/assets_new/js/additional-methods.min.js "></script>
    <script src="~/Content/assets_new/js/jquery.steps.min.js "></script>
    <script src="~/Content/assets_new/js/main.js "></script>
    <script src="~/Content/assets_new/js/filter.js "></script>

    <script src="~/Content/assets_new/js/image-upload.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
            integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
     //For toaster Notification
     $(function () {
         {
            @if (TempData["Notifications"] != null)
            {
                var messages = (List<CRS.ADMIN.SHARED.NotificationModel>)TempData["Notifications"];
                foreach (var note in messages)
                {
                    <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
                }
            }
            @{
                ViewBag.Notifications = string.Empty;
            }
         }
     });
    </script>
    <script>
        $(document).ready(function () {
            $(".toggleable").hide();
            $("#addNewBtnToggle").click(function () {
                $(".toggleable").toggle();
            });
        });
    </script>
    <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script src="~/Content/assets_new/js/excel-download.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Content/assets_new/js/custom-pagination-helper.js"></script>
    <script>
        const ShowingDynamicLabel = '@CRS.ADMIN.APPLICATION.Resources.Resource.Showing';
        const EntriesDynamicLabel = '@CRS.ADMIN.APPLICATION.Resources.Resource.Entries';
        const ShowDynamicLabel = '@CRS.ADMIN.APPLICATION.Resources.Resource.Show';
        var dynamicStartIndexLabel = "StartIndex";
        var dynamicPageSizeLabel = "PageSize";
    </script>


</body>
</html>
<!-- #endregion -->