@model CRS.ADMIN.APPLICATION.Models.GroupManagement.ManageSubGroupClubModel
<div id="add-sub-group-club" class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[863px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div> Manage Clubs</div>
                <button type="button" data-drawer-hide="add-sub-group-club" aria-controls="add-sub-group-club" onclick="CancelFunction()"
                        class="text-[20px]">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        <div class="p-[24px]">
            <div class=" py-4 grid gap-6">
                <div id="content3" class="content-section" style="display: block;">
                    <div class="grid  gap-4">
                        <div class="grid grid-cols-2 gap-x-4 gap-y-5">
                            <div class="input-field-common">
                                <label for="instagram" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                    Group Name
                                </label>
                                @Html.TextBoxFor(model => model.GroupName, new
                                    {
                                        @class = "w-full",
                                        @placeholder = "",
                                        autocomplete = "off"
                                    })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.GroupName)
                                </span>
                            </div>
                            <div class="input-field-common">
                                <label for="WorkingHrTo" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                    Group Name (Katakan)
                                </label>
                                @Html.TextBoxFor(model => model.GroupNameKatakana, new
                                    {
                                        @class = "w-full",
                                        @placeholder = "",
                                        autocomplete = "off"
                                    })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.GroupNameKatakana)
                                </span>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-x-4 gap-y-5">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                    Sub Group
                                </label>
                                <select id="large" class=" default_select select-common block w-full "
                                        style="width: 100%;" name="LocationDDL"
                                                 <option value="" selected>
                                                 </option>
                                     </select>
                                @*@Html.HiddenFor(m => m.HolidayStr)
                                    <select id="large" name="holiday" class=" default_select select-common block w-full "
                                            style="width: 100%;" multiple="multiple" placeholder="Select">
                                        @foreach (var item in ViewBag.Holiday as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.HolidayIdKey as string;
                                            string[] selectedIds = !string.IsNullOrEmpty(selectedId) ? selectedId.Split(',') : new string[0]; ;
                                            bool isSelected = selectedIds.Contains(item.Value);
                                            if (isSelected == true)
                                            {
                                                <option value="@item.Value" selected @(item.Disabled == true ? "selected disabled" : "")>
                                                    @item.Text
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value" @(item.Disabled == true ? "selected disabled" : "")>
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    </select>*@
                            </div>
                        </div>
                        <!-- for last order -->
                        @*<div class="grid grid-cols-2 gap-x-4 gap-y-5">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.other_holidays
                                    </label>
                                    @Html.HiddenFor(m => m.OthersHolidayStr)
                                    <select id="large" name="OthersHoliday" class=" default_select select-common block w-full "
                                            style="width: 100%;" multiple="multiple" placeholder="Select">
                                        @foreach (var item in ViewBag.OthersHoliday as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.OthersHolidayIdKey as string;
                                            string[] selectedIds = !string.IsNullOrEmpty(selectedId) ? selectedId.Split(',') : new string[0]; ;
                                            bool isSelected = selectedIds.Contains(item.Value);
                                            if (isSelected == true)
                                            {
                                                <option value="@item.Value" selected @(item.Disabled == true ? "selected disabled" : "")>
                                                    @item.Text
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value" @(item.Disabled == true ? "selected disabled" : "")>
                                                    @item.Text
                                                </option>
                                            }

                                        }

                                    </select>
                                </div>
                            </div>*@
                    </div>
                    <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                        <div class="flex-none uppercase">Add Clubs into Group</div>
                        <div class="bg-[#F4F4F4] h-[1px] w-full">
                        </div>
                    </div>
                    <div class="grid  gap-4">
                        <div class="grid grid-cols-2 gap-x-4 gap-y-5">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    Location
                                </label>
                                <select id="large" class=" default_select select-common block w-full "
                                        style="width: 100%;" name="LocationDDL"
                                                <option value="" selected>
                                                </option>
                                    </select>
                                @*<span class="error">
                                        @Html.ValidationMessageFor(m => m.LocationDDL)
                                    </span>*@
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    Clubs
                                </label>
                                <select id="large" class=" default_select select-common block w-full "
                                        style="width: 100%;" name="LocationDDL"
                                                 <option value="" selected>
                                                 </option>
                                     </select>
                                @*<span class="error">
                                        @Html.ValidationMessageFor(m => m.LocationDDL)
                                    </span>*@
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-x-4 gap-y-5">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    Total Club Count
                                </label>
                            </div>
                            <div class="input-field-common">

                            </div>
                            <div class="input-field-common">

                            </div>
                            <div class="input-field-common">
                                @Html.TextBoxFor(model => model.TotalClubCount, new
                                            {
                                                @class = "w-full",
                                                @placeholder = "",
                                                autocomplete = "off"
                                            })
                            </div>
                        </div>
                        <div class="bg-[#F4F4F4] h-[1px] w-full">
                        </div>
                    </div>
                    <button class="btn btn-primary-normal gap-1 mt-[24px]" id="addNewRow">
                        <i class="las la-plus-circle"></i> @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                    </button>
                    <div class="grid grid-cols-4 gap-x-4 gap-y-5">
                        <div class="input-field-common">
                            <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                Grand Total Count
                            </label>
                        </div>
                        <div class="input-field-common">

                        </div>
                        <div class="input-field-common">

                        </div>
                        <div class="input-field-common">
                            @Html.TextBoxFor(model => model.TotalClubCount, new
                                        {
                                            @class = "w-full",
                                            @placeholder = "",
                                            autocomplete = "off"
                                        })
                        </div>
                    </div>
                </div>
                <div class="py-4 flex justify-end">
                    <div class="flex gap-6">
                        <button class="btn btn-secondary rounded-[4px]" type="button" data-drawer-hide="add-sub-group-club"
                                aria-controls="add-sub-group-club" onclick="CancelFunction();">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        <button class="btn btn-primary-default rounded-[4px]" id="submit-button-id"> @CRS.ADMIN.APPLICATION.Resources.Resource.Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>