@model CRS.ADMIN.APPLICATION.Models.GroupManagement.ManageSubGroupModel
<style>

    .landline-number-input {
        padding: 1px !important;
    }

    .box {
        display: flex;
        height: 40px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

        .box i {
            display: flex;
            width: fit-content;
            height: 40px;
            padding: 0px 8px;
            align-items: center;
            gap: 5px;
            border-radius: 4px;
            border: 1px solid #A09E91;
        }

        .box p {
            color: #B7B7B7;
            font-family: &quot;
            Noto Sans&quot;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }
</style>
<div id="add-sub-group" class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full"
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[574px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div> Manage Sub Group</div>
                <button type="button" data-drawer-hide="add-sub-group" aria-controls="add-sub-group" onclick="CancelFunction()"
                        class="text-[20px]">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        <div class="p-[24px]">
            <div class=" py-4 grid gap-6">
                @using (Html.BeginForm("ManageSubGroup", "GroupManagement", FormMethod.Post, new { @id = "ManageSubGroupForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    if (!string.IsNullOrEmpty(Model.GroupId))
                    {
                        @Html.HiddenFor(model => model.GroupId)
                    }
                    if (!string.IsNullOrEmpty(Model.SubGroupId))
                    {
                        @Html.HiddenFor(model => model.SubGroupId)
                    }

                    if (!string.IsNullOrEmpty(Model.GroupName))
                    {
                        @Html.HiddenFor(model => model.GroupName)
                    }
                    if (!string.IsNullOrEmpty(Model.GroupNameKatakana))
                    {
                        @Html.HiddenFor(model => model.GroupNameKatakana)
                    }
                    <div id="contentBasic" class="content-section " style="display:block">
                        <div class="grid gap-4 py-[10px]">
                            <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        Group Name
                                    </label>
                                    @Html.TextBoxFor(model => model.GroupName, new
                               {
                                   @class = "w-full",
                                   @id = "group_name_id",
                                   autocomplete = "off",
                                   @maxLength = "200",
                                   value = Model.GroupName,
                                   disabled = "disabled"
                               })
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.GroupName)
                                    </span>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        Group Name Katakana
                                    </label>
                                    @Html.TextBoxFor(model => model.GroupNameKatakana, new
                               {
                                   @class = "w-full",
                                   @id = "group_name_katakana_id",
                                   autocomplete = "off",
                                   @maxLength = "200",
                                   value = Model.GroupNameKatakana,
                                   disabled = "disabled"
                               })
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.GroupNameKatakana)
                                    </span>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 gap-x-5 gap-y-4">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        Sub Group
                                    </label>
                                    @Html.TextBoxFor(model => model.SubGroupName, new
                               {
                                   @class = "w-full",
                                   @id = "sub_group_name_id",
                                   autocomplete = "off",
                                   @maxLength = "500"
                               })
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.SubGroupName)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 flex justify-end">
                        <div class="flex gap-6">
                            <button class="btn btn-secondary rounded-[4px]" type="button" data-drawer-hide="add-sub-group"
                                    aria-controls="add-sub-group" onclick="CancelFunction();">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                            </button>
                            <button class="btn btn-primary-default rounded-[4px]" id="submit-button-id"> @CRS.ADMIN.APPLICATION.Resources.Resource.Submit</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>