@model CRS.ADMIN.APPLICATION.Models.PointsManagement.PointsManagementModel
@{
    ViewBag.Title = "User Type List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ManagePointsModel = Model.ManagePointsTansfer as CRS.ADMIN.APPLICATION.Models.PointsManagement.PointsTansferModel;
    var _ManagePointsRequestModel = Model.ManagePointsRequest as CRS.ADMIN.APPLICATION.Models.PointsManagement.PointsRequestModel;
    var _PointRequestCommonModel = Model.PointRequestCommonModel as CRS.ADMIN.APPLICATION.Models.PointsManagement.PointRequestCommonModel;
    var _PointStatementModel = Model.PointBalanceStatementRequest as CRS.ADMIN.APPLICATION.Models.PointsManagement.PointBalanceStatementRequestModel;
    var _systemTransferModel = Model.SystemTransferModel as CRS.ADMIN.APPLICATION.Models.PointsManagement.SystemTransferRequestModel;
    var _pointTransferDetails = Model.PointsTransferRetriveDetails as CRS.ADMIN.APPLICATION.Models.PointsManagement.PointsTansferRetriveDetailsModel;

}
<style>
    .filterborder {
        outline: 1px solid #d0d5dd;
        border-radius: 0;
    }

    .filteroutlinepadding {
        padding-left: 18px;
        padding-top: 18px;
        padding-right: 18px;
    }
</style>
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />


<div class="px-8 py-4">
    @Html.AntiForgeryToken()
    <!-- title  -->
    <div class="flex flex-col  gap-6">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Points_Setup
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_your_points_detail
            </div>
        </div>
        <!-- container  -->
        <div id="tab1" class="tab-content-plane">
            <div class="flex flex-col gap-8">
                <div id="tab1" class="tab-content">
                    <div class="flex gap-4 mb-8 border-b ">
                        <div id="tab1Link" class="styleCss active px-1 pb-4 cursor-pointer active" onclick="changeTab('pointstransfer', 'tab1Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Points_Transfer
                        </div>
                        <div id="tab2Link" class="styleCss px-1 pb-4 cursor-pointer" onclick="changeTab('pointsbalance', 'tab2Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Points_Balance_Statement
                        </div>
                        <div id="tab3Link" class="styleCss px-1 pb-4 cursor-pointer" onclick="changeTab('pointsSystemTransfer', 'tab3Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.System_Transfer
                        </div>
                        <div id="tab4Link" class="styleCss px-1 pb-4 cursor-pointer" onclick="changeTab('pointsrequest', 'tab4Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Point_Requests
                        </div>
                    </div>


                    <div id="pointstransfer" class="pane active">
                        <form action="/PointsManagement/PointsTransferList" method="get">
                            <div class="flex justify-between pb-[24px]">
                                @Html.HiddenFor(model => model.ListType)

                                <div class="relative input-search-wrapper">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                            <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                                  stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>

                                    <input type="search"
                                           id="default-search"
                                           class="input-search block w-full "
                                           placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                           value="@Model.SearchFilter"
                                           name="SearchFilter">
                                </div>

                                <div class="flex gap-6">
                                    <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-points"
                                         data-drawer-show="add-new-points" data-drawer-placement="right" data-drawer-backdrop="false"
                                         aria-controls="drawer-disabled-backdrop" id="add-new-id">
                                        <img src="~/Content/assets_new/images/plus-circle-solid.svg" />
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                                    </div>
                                </div>
                            </div>

                            <div class="grid grid-cols-3 gap-x-12 table-tab filteroutlinepadding">
                                <div class="input-field-common filteroutlinepadding">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.User_Type
                                    </label>
                                    <select id="large" name="UserType" class=" default_select select-common block w-full "
                                            style="width: 100%;">
                                        @foreach (var item in ViewBag.UserTypeList as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.UserTypeIdKeyPT1 as string;
                                            if (item.Value == selectedId)
                                            {
                                                <option value="@item.Value" selected>
                                                    @item.Text
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.UserType)
                                    </span>
                                </div>
                                <div class="input-field-common filteroutlinepadding">
                                    <label for="date" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Username
                                    </label>
                                    <select id="large" name="UserName" class=" default_select select-common block w-full "
                                            style="width: 100%;">
                                        @foreach (var item in ViewBag.FilterUserList as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.UsernameIdKeyPT1 as string;
                                            if (item.Value == selectedId)
                                            {
                                                <option value="@item.Value" selected>
                                                    @item.Text
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </span>
                                </div>
                                <div class="input-field-common filteroutlinepadding">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Transfer_Type
                                    </label>
                                    <select id="large" name="TransferTypeId" class=" default_select select-common block w-full "
                                            style="width: 100%;">
                                        @foreach (var item in ViewBag.TransferTypeIdList as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.TransferTypeIdKey as string;
                                            if (item.Value == selectedId)
                                            {
                                                <option value="@item.Value" selected>
                                                    @item.Text
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.TransferTypeId)
                                    </span>
                                </div>

                                <div class="input-field-common mb-[20px]" id="tagInput1">
                                    <div class="input-field-common filteroutlinepadding">
                                        <label for="date" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.From_Date
                                        </label>
                                        @Html.TextBoxFor(model => model.FromDate, new
                                       {
                                       @class = "w-full",
                                       @placeholder = "YYYY/MM/DD",
                                       @autocomplete = "off",
                                       @type = "text",
                                         @readonly = "readonly"
                                          })
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.FromDate)
                                        </span>
                                    </div>
                                </div>
                                <div class="input-field-common mb-[20px]" id="tagInput2">
                                    <div class="input-field-common filteroutlinepadding">
                                        <label for="date" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.To_Date
                                        </label>
                                        @Html.TextBoxFor(model => model.ToDate, new
                                   {
                                       @class = "w-full",
                                       @placeholder = "YYYY/MM/DD",
                                       @autocomplete = "off",
                                       @type = "text",
                                        @readonly = "readonly"
                                          })
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.ToDate)
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <div class="py-4 flex justify-start mx-[18px]">
                                        <div class="flex gap-6">
                                            <button class="btn btn-secondary rounded-[4px]" type="button" data-drawer-hide="add-new-points-request"
                                                    aria-controls="add-new-points-request" onclick="CancelFunction();">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                                            </button>
                                            <button class="btn btn-primary-default rounded-[4px]" type="submit"> @CRS.ADMIN.APPLICATION.Resources.Resource.Apply</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                        @*<div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                                <div class="flex items-center select-entries" id="ShowEntries-Id">
                                </div>
                            </div>*@
                        <div class="table-tab">
                            <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                                <div class="flex items-center select-entries" id="ShowEntries-Id">
                                </div>
                                <div class="export-button h-[40px]" onclick="exportExcel('table-id_PointTransfer', 'PointTransfer')">
                                    <img src="~/Content/assets_new/images/club/download-solid.svg"> @CRS.ADMIN.APPLICATION.Resources.Resource.Export
                                </div>
                            </div>
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-left club-table" id="id_PointTransfer">
                                    <thead class="club-table-thead">
                                        <tr>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    S.N
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Transaction_ID
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>


                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Transaction_Date
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Transaction_Type
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.User_Type
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.From_User
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.To_User
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Points
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.PointsTansferReportList.Count > 0)
                                            {
                                                int SN = 1;
                                                foreach (var item in Model.PointsTansferReportList)
                                                {
                                                    <tr class="bg-white border-b ">
                                                        <td class="p-[12px]">
                                                            @SN
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.TransactionId
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.TransactionDate
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.TransactionType
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.UserType
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.FromUser
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.ToUser
                                                        </td>
                                                        <td class="p-[12px]">
                                                            @item.Points
                                                        </td>

                                                        <td class="p-[12px]">
                                                            <i class="las la-eye text-[20px] cursor-pointer text-[#A6A6A6]" onclick="ViewPointTransferRetriveDetail('@item.Id');"></i>
                                                        </td>
                                                    </tr>
                                                    SN++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pagination-club">
                            <div class="show-entry" id="Entries-Id">
                            </div>
                            <div class="flex gap-[12px]">
                                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                </div>
                                <div class="flex gap-[12px]" id="pagination-id">
                                </div>
                                <div class="btn btn-secondary-box-shadow" id="next-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="pointsbalance" class="pane" style="display: none;">
                        @Html.Partial("_PointBalanceStatement", _PointStatementModel)
                    </div>
                    <div id="pointsSystemTransfer" class="pane" style="display: none;">
                        @Html.Partial("_GetSystemTransferReportAsync", _systemTransferModel)
                    </div>
                    <div id="pointsrequest" class="pane" style="display: none;">
                        @Html.Partial("_PointRequestListPartialView", _PointRequestCommonModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ManagePointsTransferPartialView", _ManagePointsModel)
@Html.Partial("_ManagePointsRequestPartialView", _ManagePointsRequestModel)
@Html.Partial("_PointTransferRetrivePartialView", _pointTransferDetails)

@section scripts
{
    @*<script src="~/Content/assets_new/js/calendar-management.js"></script>*@
    @* <script src="~/Content/assets_new/js/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#large[name="UserName"]').select2({
                width: 'resolve'
            });
            $('#large[name="UserId"]').select2({
                width: 'resolve'
            });
            $('#User_name[name="User_name"]').select2({
                width: 'resolve'
            });
            $('#UserNameList[name="UserNameList"]').select2({
                width: 'resolve'
            });
          });
          $("input[name='TransferType'][value='Transfer']").prop("checked", true);

        //$(".cls_trftype").click(function () {

        //});
        function addQueryParam2(url, paramName, paramValue, paramName2, paramValue2) {
            // Add the first query parameter
            if (paramValue != null && paramValue != "") {
                // Check if it's the first parameter, if so, use "?" else use "&"
                url += url.includes('?') ? `&${paramName}=${paramValue}` : `?${paramName}=${paramValue}`;
            }

            // Add the second query parameter
            if (paramValue2 != null && paramValue2 != "") {
                url += url.includes('?') ? `&${paramName2}=${paramValue2}` : `?${paramName2}=${paramValue2}`;
            }

            return url;
        }
        function changeTab(selectedTabId, selectedLinkId) {
            var tabLinks = document.querySelectorAll('.styleCss');
            var tabContents = document.querySelectorAll('.pane');

            // Toggle active class for tab links
            tabLinks.forEach(function (link) {
                if (link.id === selectedLinkId) {
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            });

            // Toggle display for tab contents
            tabContents.forEach(function (content) {
                if (content.id === selectedTabId) {
                    content.style.display = 'block';
                } else {
                    content.style.display = 'none';
                }
            });
            // Change color for tab links
            if (selectedLinkId === 'tab1Link') {
                document.getElementById('tab1Link').style.color = '#D75A8B';
                document.getElementById('tab1Link').style.borderBottom = '#D75A8B 2px solid';
                document.getElementById('tab2Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '';
                document.getElementById('tab3Link').style.borderBottom = '';
                document.getElementById('tab3Link').style.color = '';
                document.getElementById('tab4Link').style.borderBottom = '';
                document.getElementById('tab4Link').style.color = '';



            }
            else if (selectedLinkId === 'tab2Link') {
                document.getElementById('tab1Link').style = ''; // Reset color for other link
                document.getElementById('tab1Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '#D75A8B';
                document.getElementById('tab2Link').style.borderBottom = '#D75A8B 2px solid';
                document.getElementById('tab3Link').style.borderBottom = '';
                document.getElementById('tab3Link').style.color = '';
                document.getElementById('tab4Link').style.borderBottom = '';
                document.getElementById('tab4Link').style.color = '';


            }
            else if (selectedLinkId === 'tab3Link') {
                document.getElementById('tab1Link').style = ''; // Reset color for other link
                document.getElementById('tab1Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '';
                document.getElementById('tab2Link').style.borderBottom = '';
                document.getElementById('tab3Link').style.color = '#D75A8B';
                document.getElementById('tab3Link').style.borderBottom = '#D75A8B 2px solid';
                document.getElementById('tab4Link').style.borderBottom = '';
                document.getElementById('tab4Link').style.color = '';


            }
            else if (selectedLinkId === 'tab4Link') {
                document.getElementById('tab1Link').style = ''; // Reset color for other link
                document.getElementById('tab1Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '';
                document.getElementById('tab2Link').style.borderBottom = '';
                document.getElementById('tab3Link').style.borderBottom = '';
                document.getElementById('tab3Link').style.color = '';
                document.getElementById('tab4Link').style.color = '#D75A8B';
                document.getElementById('tab4Link').style.borderBottom = '#D75A8B 2px solid';

            }
        }


        $('#large[name="UserTypeId"]').change(function () {
              var UserTypeId = $(this).find("option:selected").val().trim();
              $('#large[name="UserId"]').prop("disabled", true);
            $.ajax({
                type: 'GET',
                async: true,
                url: '@Url.Action("GetUserListByRoleTypeId", "PointSetup")',
                dataType: 'json',
                data: {  RoleTypeId: UserTypeId },
                success: function (response) {
                    $('#large[name="UserId"]').empty();
                    if (response.userNameList.length > 0) {
                        $('#large[name="UserId"]').append($("<option>").val("").text("--- @CRS.ADMIN.APPLICATION.Resources.Resource.Select ---"));
                        $.each(response.userNameList, function (i, value) {
                            $('#large[name="UserId"]').append($("<option>").val(value.Value).text(value.Text));
                        });
                          $('#large[name="UserId"]').prop("disabled", false);
                          $('#large[name="UserName"]').select2({
                                width: 'resolve'
                           });
                     
                    }
                    else {
                        $('#large[name="UserId"]').empty();
                    }
                },
                error: function (ex) {
                    alert('Failed to retrive details.' + ex);
                }
            });
            return false;
          });
        $('#large[name="UserType"]').change(function () {
            var UserTypeId = $(this).find("option:selected").val().trim();
            $('#large[name="UserName"]').prop("disabled", true);
              $.ajax({
                  type: 'GET',
                  async: true,
                  url: '@Url.Action("GetUserListByRoleTypeId", "PointSetup")',
                  dataType: 'json',
                  data: {  RoleTypeId: UserTypeId },
                  success: function (response) {
                      $('#large[name="UserName"]').empty();
                      if (response.userNameList.length > 0) {
                          $('#large[name="UserName"]').append($("<option>").val("").text("--- @CRS.ADMIN.APPLICATION.Resources.Resource.Select ---"));
                          $.each(response.userNameList, function (i, value) {
                              $('#large[name="UserName"]').append($("<option>").val(value.Value).text(value.Text));
                          });
                          $('#large[name="UserName"]').prop("disabled", false);
                          $('#large[name="UserName"]').select2({
                              width: 'resolve'
                          });
                      }
                      else {
                          $('#large[name="UserName"]').empty();
                      }
                  },
                  error: function (ex) {
                      alert('Failed to retrive details.' + ex);
                  }
              });
              return false;
            });

        document.addEventListener('DOMContentLoaded', function () {

            if ($("#ListType").val().toLowerCase() == "pbs") {
                changeTab('pointsbalance', 'tab2Link')
                const page_size2 = @ViewBag.PageSize2;
                const total_data2 = @ViewBag.TotalData2;
                const start_index_val2 = @ViewBag.StartIndex2;
                var usertypeid = $("#UserTypeList").val();
                var username = $("#UserNameList").val();
                var transfertype = $("#TransferTypeList").val();
                var FromDate = $("#From_Date").val();
                var ToDate = $("#To_Date").val();
                let URL2 = "/PointsManagement/GetPointBalanceStatementDetails?UserTypeList=" + usertypeid + "&UserNameList=" + username + "&TransferTypeList=" + transfertype + "&From_Date=" + FromDate + "&To_Date=" + ToDate ;
                let search_filter2 = $('#default-search').val();
                URL2 = addQueryParam2(URL2, 'SearchFilter', search_filter2, 'value', 'pbs');
                dynamicStartIndexLabel = "StartIndex2";
                dynamicPageSizeLabel = "PageSize2";
                LoadPagination(page_size2, total_data2, start_index_val2, URL2, 'pagination-id-2', 'prev-btn-2', 'next-btn-2', 'ShowEntries-Id-2', 'Entries-Id-2');

            }
            else if ($("#ListType").val().toLowerCase() == "st") {
                changeTab('pointsSystemTransfer', 'tab3Link')
                const page_size3 = @ViewBag.PageSize3;
                const total_data3 = @ViewBag.TotalData3;
                const start_index_val3 = @ViewBag.StartIndex3;
                var usertypeid = $("#User_type").val();
                var username = $("#User_name").val();
                var transfertype = $("#TransferType1").val();
                var FromDate = $("#From_Date1").val();
                var ToDate = $("#To_Date1").val();
                let URL3 = "/PointsManagement/GetSystemTransferReportAsync?User_type=" + usertypeid + "&User_name=" + username + "&TransferType=" + transfertype + "&From_Date1=" + FromDate + "&To_Date1=" + ToDate ;
                let search_filter3 = $('#default-search').val();
                URL3 = addQueryParam2(URL3, 'SearchFilter', search_filter3, 'value', 'st');
                dynamicStartIndexLabel = "StartIndex3";
                dynamicPageSizeLabel = "PageSize3";
                LoadPagination(page_size3, total_data3, start_index_val3, URL3, 'pagination-id-3', 'prev-btn-3', 'next-btn-3', 'ShowEntries-Id-3', 'Entries-Id-3');

            }
            else if ($("#ListType").val().toLowerCase() == "pr") {
                changeTab('pointsrequest', 'tab4Link')
                const page_size4 = @ViewBag.PageSize4;
                const total_data4 = @ViewBag.TotalData4;
                const start_index_val4 = @ViewBag.StartIndex4;
                var LocationId4 = $("#LocationId4").val();
                var ClubName4 = $("#ClubName4").val();
                var PaymentMethodId4 = $("#PaymentMethodId4").val();
                var FromDate4 = $("#FromDate4").val();
                var ToDate4 = $("#ToDate4").val();
                let URL4 = "/PointsManagement/PointsTransferList?FromDate4=" + FromDate4 + "&ToDate4=" + ToDate4 +
                    '&PaymentMethodId4=' + PaymentMethodId4 + '&ClubName4=' + ClubName4 +
                    '&LocationId4=' + LocationId4;

                let search_filter4 = $('#default-search').val();
                URL4 = addQueryParam2(URL4, 'SearchFilter', search_filter4, 'value', 'pr');
                dynamicStartIndexLabel = "StartIndex4";
                dynamicPageSizeLabel = "PageSize4";
                LoadPagination(page_size4, total_data4, start_index_val4, URL4, 'pagination-id-4', 'prev-btn-4', 'next-btn-4', 'ShowEntries-Id-4', 'Entries-Id-4');

            }
            else
            {
                changeTab('pointstransfer', 'tab1Link')
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                var usertypeid = $("#large[name='UserType']").val();
                var username = $("#UserName").val();
                var transfertype = $("#TransferTypeId").val();
                var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                let URL = "/PointsManagement/PointsTransferList?UserTypeId=" + usertypeid + "&UserName=" + username + "&TransferTypeId=" + transfertype + "&FromDate=" + FromDate + "&ToDate=" + ToDate;
                let search_filter = $('#default-search').val();
                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                LoadPagination(page_size, total_data, start_index_val, URL);
            }


                $("#FromDate").val("@Model.FromDate");
                jQuery(function ($) {
                $.datepicker.regional['ja'] = {
                closeText: '閉じる',
                prevText: '&#x3c;前',
                nextText: '次&#x3e;',
                currentText: '今日',
                monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                '7月', '8月', '9月', '10月', '11月', '12月'],
                monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                '7月', '8月', '9月', '10月', '11月', '12月'],
                dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                weekHeader: '週',
                dateFormat: 'yy/mm/dd',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: '年'
                };
                $.datepicker.setDefaults($.datepicker.regional['ja']);
                $("#FromDate").datepicker({
                /*minDate: new Date(),*/
                    /*   maxDate: new Date(),*/
                maxDate: new Date(),
                defaultDate: '@Model.FromDate'
                });
                });


               $("#ToDate").val("@Model.ToDate");
               jQuery(function ($) {
               $.datepicker.regional['ja'] = {
               closeText: '閉じる',
               prevText: '&#x3c;前',
               nextText: '次&#x3e;',
               currentText: '今日',
               monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
               '7月', '8月', '9月', '10月', '11月', '12月'],
               monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
               '7月', '8月', '9月', '10月', '11月', '12月'],
               dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
               dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
               dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
               dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
               weekHeader: '週',
               dateFormat: 'yy/mm/dd',
               firstDay: 0,
               isRTL: false,
               showMonthAfterYear: true,
               yearSuffix: '年'
               };
               $.datepicker.setDefaults($.datepicker.regional['ja']);
               $("#ToDate").datepicker({
                   maxDate: new Date(),
                   defaultDate: '@Model.ToDate'
               });
               });

               $("#FromDate4").val("@_PointRequestCommonModel.FromDate");
               jQuery(function ($) {
               $.datepicker.regional['ja'] = {
               closeText: '閉じる',
               prevText: '&#x3c;前',
               nextText: '次&#x3e;',
               currentText: '今日',
               monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
               '7月', '8月', '9月', '10月', '11月', '12月'],
               monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
               '7月', '8月', '9月', '10月', '11月', '12月'],
               dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
               dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
               dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
               weekHeader: '週',
               dateFormat: 'yy/mm/dd',
               firstDay: 0,
               isRTL: false,
               showMonthAfterYear: true,
               yearSuffix: '年'
               };
               $.datepicker.setDefaults($.datepicker.regional['ja']);
               $("#FromDate4").datepicker({
               maxDate: new Date(),
               defaultDate: '@_PointRequestCommonModel.FromDate'
               });
               });


            $("#ToDate4").val("@_PointRequestCommonModel.ToDate");
              jQuery(function ($) {
              $.datepicker.regional['ja'] = {
              closeText: '閉じる',
              prevText: '&#x3c;前',
              nextText: '次&#x3e;',
              currentText: '今日',
              monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
              '7月', '8月', '9月', '10月', '11月', '12月'],
              monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
              '7月', '8月', '9月', '10月', '11月', '12月'],
              dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
              dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
              dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
              dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
              weekHeader: '週',
              dateFormat: 'yy/mm/dd',
              firstDay: 0,
              isRTL: false,
              showMonthAfterYear: true,
              yearSuffix: '年'
              };
              $.datepicker.setDefaults($.datepicker.regional['ja']);
              $("#ToDate4").datepicker({
              maxDate: new Date(),
              defaultDate: '@_PointRequestCommonModel.ToDate'
              });
              });
        });


  $("#From_Date").val("@_PointStatementModel.From_Date");
    jQuery(function ($) {
    $.datepicker.regional['ja'] = {
    closeText: '閉じる',
    prevText: '&#x3c;前',
    nextText: '次&#x3e;',
    currentText: '今日',
    monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
    '7月', '8月', '9月', '10月', '11月', '12月'],
    monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
    '7月', '8月', '9月', '10月', '11月', '12月'],
    dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
    dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
    weekHeader: '週',
    dateFormat: 'yy/mm/dd',
    firstDay: 0,
    isRTL: false,
    showMonthAfterYear: true,
    yearSuffix: '年'
    };
    $.datepicker.setDefaults($.datepicker.regional['ja']);
    $("#From_Date").datepicker({
    maxDate: new Date(),
    defaultDate: '@_PointStatementModel.From_Date'
    });
    });


 $("#To_Date").val("@_PointStatementModel.To_Date");
   jQuery(function ($) {
   $.datepicker.regional['ja'] = {
   closeText: '閉じる',
   prevText: '&#x3c;前',
   nextText: '次&#x3e;',
   currentText: '今日',
   monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
   '7月', '8月', '9月', '10月', '11月', '12月'],
   monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
   '7月', '8月', '9月', '10月', '11月', '12月'],
   dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
   dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
   dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
   dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
   weekHeader: '週',
   dateFormat: 'yy/mm/dd',
   firstDay: 0,
   isRTL: false,
   showMonthAfterYear: true,
   yearSuffix: '年'
   };
   $.datepicker.setDefaults($.datepicker.regional['ja']);
   $("#To_Date").datepicker({
   maxDate: new Date(),
   defaultDate: '@_PointStatementModel.To_Date'
   });
   });


     $("#From_Date1").val("@_systemTransferModel.From_Date1");
   jQuery(function ($) {
   $.datepicker.regional['ja'] = {
   closeText: '閉じる',
   prevText: '&#x3c;前',
   nextText: '次&#x3e;',
   currentText: '今日',
   monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
   '7月', '8月', '9月', '10月', '11月', '12月'],
   monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
   '7月', '8月', '9月', '10月', '11月', '12月'],
   dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
   dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
   dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
   weekHeader: '週',
   dateFormat: 'yy/mm/dd',
   firstDay: 0,
   isRTL: false,
   showMonthAfterYear: true,
   yearSuffix: '年'
   };
   $.datepicker.setDefaults($.datepicker.regional['ja']);
   $("#From_Date1").datepicker({
   maxDate: new Date(),
   defaultDate: '@_systemTransferModel.From_Date1'
   });
   });


$("#To_Date1").val("@_systemTransferModel.To_Date1");
  jQuery(function ($) {
  $.datepicker.regional['ja'] = {
  closeText: '閉じる',
  prevText: '&#x3c;前',
  nextText: '次&#x3e;',
  currentText: '今日',
  monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
  '7月', '8月', '9月', '10月', '11月', '12月'],
  monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
  '7月', '8月', '9月', '10月', '11月', '12月'],
  dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
  dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
  dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
  dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
  weekHeader: '週',
  dateFormat: 'yy/mm/dd',
  firstDay: 0,
  isRTL: false,
  showMonthAfterYear: true,
  yearSuffix: '年'
  };
  $.datepicker.setDefaults($.datepicker.regional['ja']);
  $("#To_Date1").datepicker({
  maxDate: new Date(),
  defaultDate: '@_systemTransferModel.To_Date1'
  });
  });
    </script>

    <script>
        function CancelFunction() {
            history.replaceState({}, document.title, window.location.pathname);
            location.reload();
        }
        document.getElementById('tab1Link').style.color = '#D75A8B';
        document.getElementById('tab1Link').style.borderBottom = '#D75A8B 2px solid';

        var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
        if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "Manage") {
            if ("@_ManagePointsModel.TransferType" != "" && "@_ManagePointsModel.TransferType" == "Retrieve") {
             $("input[name='TransferType'][value='Retrieve']").prop("checked", true);
            }
         var element = document.getElementById('add-new-points');
           element.classList.remove('translate-x-full');

        }
        if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "ManagePoints") {
            var element = document.getElementById('add-new-points-request');
            element.classList.remove('translate-x-full');
        }
        else if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "PointTransferRetriveDetails") {
            var element = document.getElementById('add-points-transfer-details');
            element.classList.remove('translate-x-full');
        }
    </script>
    <script>
        function InitateRejectRequest(Id) {
            $('#RejectId').val(Id);
        }

        function InitateApproveRequest(Id) {
            $('#ConfirmationId').val(Id);
        }

        $('#ConfirmationAdminRemark').on('change', function (event) {
            if ($('#ConfirmationAdminRemark').val() != "") {
                $("span#remarksrequired").text('');
            }
            else {
                $("span#remarksrequired").text('@CRS.ADMIN.APPLICATION.Resources.Resource.Required');
            }
        });

        $('#RejectAdminRemark').on('change', function (event) {
          if ($('#RejectAdminRemark').val() != "") {
              $("span#rejectremarksrequired").text('');
          }
          else {
              $("span#rejectremarksrequired").text('@CRS.ADMIN.APPLICATION.Resources.Resource.Required');
          }
       });
      function ApproveClubPointRequestFunction() {
          var fileInput = document.getElementById('file_input_cover');
          var file = fileInput.files[0];
          var formData = new FormData();
          formData.append('Image', file);
          if ($('#ConfirmationAdminRemark').val() == "") {
              $("span#remarksrequired").text('@CRS.ADMIN.APPLICATION.Resources.Resource.Required');
              return false;
          }
          @*if ($("#file_name_logo").text().toLowerCase().trim() == "no file choosen") {
              $("span#imagerequired").text('@CRS.ADMIN.APPLICATION.Resources.Resource.Required');
              return false;
          }*@
          else {
              $("span#imagerequired").text('');

          }
          let {  Id, AdminRemark } = {
               Id: $('#ConfirmationId').val(),
               AdminRemark: $('#ConfirmationAdminRemark').val()
               };
          formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
          formData.append('Id', Id);
          formData.append('AdminRemark', AdminRemark);
          formData.append('Status', 'Approve');
          $.ajax({
              type: 'POST',
              async: true,
              url: "/PointsManagement/ManageClubPointRequest",
              data: formData,
              processData: false,
              contentType: false,
              success: function (responseData) {
                  window.location.reload();
              },
              error: function (ex) {
                  window.location.reload();
              }
          });
    }

   function RejectClubPointRequestFunction() {
      let { Id,AdminRemark } = {
          Id: $('#RejectId').val(),
          AdminRemark: $('#RejectAdminRemark').val(),
          };
      if($('#RejectAdminRemark').val() == "") {
          $("span#rejectremarksrequired").text('@CRS.ADMIN.APPLICATION.Resources.Resource.Required');
          return false;
       }
      $.ajax({
          type: 'POST',
          async: true,
          url: "/PointsManagement/ManageClubPointRequest",
          dataType: 'json',
          data: {
              __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(), Id,  AdminRemark, Status: 'Reject'
          },
          success: function (responseData) {
              window.location.reload();
          },
          error: function (ex) {
              window.location.reload();
          }
      });
    }

function ViewPointTransferRetriveDetail(i) {
    let search_filter = $('#default-search').val();
    const start_index_val = @ViewBag.StartIndex;
    const page_size = @ViewBag.PageSize;
    const roletype = $('#large[name="UserType"]').val();
    const userId = $('#large[name="UserName"]').val();
    const transferType = $('#large[name="TransferTypeId"]').val();
    const fromDate = $('#FromDate').val();
    const toDate = $('#ToDate').val();
    window.location.href = '/PointsManagement/PointsTransferListDetails?Id=' + i + '&SearchFilter=' + search_filter + '&StartIndex=' + start_index_val + '&PageSize=' + page_size + '&Roletype=' + roletype + '&UserId=' + userId + '&TransferType=' + transferType + '&FromDate=' + fromDate + '&ToDate=' + toDate;
   }
    </script>
}