@model CRS.ADMIN.APPLICATION.Models.UserProfileManagement.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-8 py-4 flex flex-col gap-8">
    <div class="grid gap-8">
        <div class="flex justify-between items-center">
            <div>
                <div class="heading-title">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Security
                </div>
                <div class="span-title-light-gray">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_your_profile_security.
                </div>
            </div>
        </div>
    </div>
    <div class="border border-[#F4F4F4] rounded-[4px] p-6 ">
        @using (Html.BeginForm("ChangePassword", "ProfileManagement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="flex justify-between items-center mb-[29px]">
                <div class="flex flex-col gap-2">
                    <div class="heading-title text-base">
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Security
                    </div>
                    <div class="span-title-light-gray text-[#7A7A7A]">@CRS.ADMIN.APPLICATION.Resources.Resource.Last_updated_on @Session["LastPasswordChangeDate"]</div>
                </div>
            </div>
            <div class="grid grid-cols-3 gap-8">
                <!-- for password  -->
                <div class="input-field-common w-full ">
                    <div class="password-input">
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "w-full", @type = "password", @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Current_Password, @id = "OldPassword", @maxlength = 16 })
                        <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </span>
                    </div>
                </div>

                <div class="input-field-common w-full ">
                    <div class="password-input">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "w-full", @type = "password", @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.New_Password, @id = "NewPassword", @maxlength = 16 })
                        <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </span>
                    </div>
                </div>
                <div class="input-field-common w-full ">
                    <div class="password-input">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "w-full", @type = "password", @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Confirm_New_Password, @id = "ConfirmPassword", @maxlength = 16 })
                        <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex justify-start pt-8">
                <div class="flex gap-6">
                    <button class="resetForm btn btn-gray-white h-[40px] rounded-[4px] px-8 text-sm"
                            data-drawer-hide="add-new-host-location" id="CancelId">
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                    </button>
                    <button class="resetForm btn btn-primary-default h-[40px] px-8 rounded-[4px]  text-sm leading-[10px]"
                            data-drawer-hide="add-new-host-location" data-modal-target="add-new-host-modal-save"
                            data-modal-toggle="add-new-host-modal-save" id="saveData" type="submit">
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Submit
                    </button>

                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        document.querySelectorAll('.password-eye').forEach(function (eyeIcon) {
            eyeIcon.addEventListener('click', function () {
                togglePassword(this);
            });
        });

        function togglePassword(eyeIcon) {
            const passwordInput = eyeIcon.previousElementSibling;

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('la-eye');
                eyeIcon.classList.add('la-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('la-eye-slash');
                eyeIcon.classList.add('la-eye');
            }
        }

        document.getElementById('CancelId').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });

    </script>
}