@model List<CRS.ADMIN.APPLICATION.Models.PaymentManagement.PaymentLedgerModel>

@{
    ViewBag.Title = "Payment Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-8 py-4 flex flex-col gap-8">

    <!-- booking information  -->
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Ledger
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Ledger_Supporting_Text
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <div class="py-4">
            <div class="flex flex-col  gap-8">
                <div class="flex justify-between ">
                    @using (Html.BeginForm("GetPaymentLedger", "PaymentManagement", FormMethod.Get))
                    {
                        @Html.HiddenFor(x => x.FirstOrDefault().ClubId)
                        <input id="FromDate" name="FromDate" value="@ViewBag.FromDate" hidden />
                        <input id="ToDate" name="ToDate" value="@ViewBag.ToDate" hidden />
                        <div class="relative input-search-wrapper">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                     fill="none">
                                    <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                          stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                          stroke-linejoin="round">
                                    </path>
                                </svg>
                            </div>
                            <input type="search" id="default-search"
                                   class="input-search block w-full "
                                   placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                   value="@ViewBag.SearchFilter"
                                   name="searchText">
                        </div>

                    }
                    <div class="flex gap-4">
                        @*<div class="bg-white ">
                                <div class="flex tab-container">
                                    <button id="tab1Button" class="tab-button tab-link active">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Today
                                    </button>
                                    <button id="tab2Button" class="tab-button tab-link">
                                        Tomorrow
                                    </button>
                                    <button id="tab3Button" class="tab-button tab-link">
                                        Day After Tomorrow
                                    </button>
                                </div>
                            </div>*@
                        @*<div class="custom-date " data-drawer-target="custom-date-drawer"
                                 data-drawer-show="custom-date-drawer" data-drawer-placement="right"
                                 aria-controls="custom-date-drawer">
                                <img src="~/Content/assets_new/images/club/calendar-week-solid.svg" alt="date">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Custom_Date
                            </div>*@
                    </div>
                </div>

                <div class="bg-white  ">
                    <div id="tab1" class="tab-content">
                        <!-- Content for Tab 1 -->
                        <!-- table  -->
                        <div class="table-tab">
                            <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                                <div class="flex items-center select-entries" id="ShowEntries-Id">
                                </div>
                                <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'PaymentLedger')">
                                    <img src="~/Content/assets_new/images/club/download-solid.svg"> @CRS.ADMIN.APPLICATION.Resources.Resource.Export
                                </div>
                            </div>

                            <div class="relative overflow-x-auto">
                                <table class="w-full  text-left club-table" id="table-id">
                                    <thead class="club-table-thead">
                                        <tr>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    S.N
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Customer
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Plan
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.People
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Visit_Date
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Visit_Time
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Option
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Reservation Type
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Plan Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Total Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Commission Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Total Commission Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Admin Payment Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var paymentLedger in Model)
                                        {
                                            <tr class="bg-white border-b ">
                                                <td class="p-[12px] w-max">
                                                    @paymentLedger.SNO
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="round-image-text flex gap-[12px] w-max ">
                                                        <img class="w-[32px] h-[32px] rounded-full"
                                                             src="@paymentLedger.CustomerImage" />

                                                        <div class="flex justify-between w-full">
                                                            <div class="text-image grid flex-none">
                                                                <div class="text-sm font-semibold text-[#101828] ">
                                                                    @paymentLedger.CustomerName
                                                                </div>
                                                                <div class='text-sm  text-[#667085] '>
                                                                    @paymentLedger.CustomerNickName
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="p-[12px] w-max">

                                                    <div class="plan-b">
                                                        @paymentLedger.PlanName
                                                    </div>

                                                </td>
                                                <td class="p-[12px] w-max">
                                                    @paymentLedger.NoOfPeople
                                                </td>

                                                <td class="p-[12px] w-max">
                                                    <div class="w-max ">@paymentLedger.VisitDate</div>

                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max ">@paymentLedger.VisitTime</div>

                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="plan-b w-max">
                                                        @paymentLedger.PaymentType
                                                    </div>
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max ">@paymentLedger.ReservationType</div>
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max ">¥@paymentLedger.PlanAmount</div>

                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max text-[#1976D2] ">¥@paymentLedger.TotalAmount</div>
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max text-[#1976D2] ">¥@paymentLedger.CommissionAmount</div>
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max text-[#1976D2] ">¥@paymentLedger.TotalCommissionAmount</div>
                                                </td>
                                                <td class="p-[12px] w-max">
                                                    <div class="w-max text-[#1976D2] ">¥@paymentLedger.AdminPaymentAmount</div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-club">
                                <div class="show-entry" id="Entries-Id">
                                </div>
                                <div class="flex gap-[12px]">
                                    <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                    </div>
                                    <div class="flex gap-[12px]" id="pagination-id">
                                    </div>
                                    <div class="btn btn-secondary-box-shadow" id="next-btn">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Html.Partial("_CustomDate")*@
</div>
@section scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/PaymentManagement/GetPaymentLedger";
                let search_filter = '@ViewBag.SearchFilter';
                let ClubId = $('#ClubId').val();
                let FromDate = '@ViewBag.FromDate';
                let ToDate = '@ViewBag.ToDate';
                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                URL = addQueryParam(URL, 'clubId', ClubId);
                URL = addQueryParam(URL, 'FromDate', FromDate);
                URL = addQueryParam(URL, 'ToDate', ToDate);
                LoadPagination(page_size, total_data, start_index_val, URL);
            });
    </script>
}