@{
    ViewBag.Title = "Payment Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var overViewModel = Model.PaymentOverview as CRS.ADMIN.APPLICATION.Models.PaymentManagement.PaymentOverviewModel;
    var paymentLog = Model.PaymentLogs as List<CRS.ADMIN.APPLICATION.Models.PaymentManagement.PaymentLogsModel>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
@Html.AntiForgeryToken()
<div class="px-8 py-4 flex flex-col gap-8">
    <!-- booking information  -->
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Management
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Management_Supporting_Text
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <div class="">
            <div class="flex gap-[24px]" style="border-bottom: 1px solid #f4f4f4;">
                <div class="flex tab-container-plane bg-white gap-[16px]">
                    <div onclick="getActiveButtonValue()">

                        <button id="tab1Button" class="tab-button-plane tab-link active"
                                onclick="getActiveButtonValue()">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Overview
                        </button>
                    </div>
                    <div onclick="getActiveButtonValue()">
                        <button id="tab2Button" class="tab-button-plane tab-link ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Logs
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="bg-white">
                <div id="tab1" class="tab-content-plane ">
                    @Html.Partial("_Overview", overViewModel)
                </div>
                <div id="tab2" class="tab-content-plane hidden ">
                    @Html.Partial("_PaymentLog", paymentLog)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
          
            $('#large[name="ClubId"]').select2({
              width: 'resolve'
          });
        });
        function getActiveButtonValue() {
            const activeButton = document.querySelector('.tab-link.active');
            const sectionToHide = document.querySelector('.section-to-hide');

            if (activeButton) {
                const activeButtonValue = activeButton.textContent;

                if (activeButtonValue === "Overview") {
                    if (sectionToHide) {
                        sectionToHide.style.display = 'none';
                    }
                } else {
                    if (sectionToHide) {
                        sectionToHide.style.display = 'block';
                    }
                }
            }
        }
        if ("@ViewBag.TabValue" == "PL") {
            $("#tab1Button").removeClass("active");
            $("#tab2Button").addClass("tab-button-plane tab-link active");
            $("#tab1").addClass("tab-content-plane hidden");
            $("#tab2").removeClass("hidden");

        }

        // Run the function when the page is loaded
        document.addEventListener('DOMContentLoaded', getActiveButtonValue);
    </script>
    <script>
        $('.ddlPaymentClubList').change(function () {
            var ClubId = document.getElementsByClassName("ddlPaymentClubList")[0].value;
            $('#clubId').val(ClubId);
            document.getElementById("PaymentLogForm").submit();
        });
    </script>

    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/PaymentManagement/Index";
                let search_filter = '@ViewBag.SearchFilter';
                let FromDate = '@ViewBag.FromDate';
                let ToDate = '@ViewBag.ToDate';
                let LocationId = '@ViewBag.LocationId';
                let ClubId = '@ViewBag.ClubIdKey';

                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                URL = addQueryParam(URL, 'FromDate', FromDate);
                URL = addQueryParam(URL, 'ToDate', ToDate);
                URL = addQueryParam(URL, 'ClubId', ClubId);
                URL = addQueryParam(URL, 'LocationId', LocationId);
                URL = addQueryParam(URL, 'Value', 'PL');
                LoadPagination(page_size, total_data, start_index_val, URL);

            var currentDate = new Date();
            var lastThreeMonths = new Date();
            lastThreeMonths.setMonth(currentDate.getMonth() - 3);

             $("#FromDate").val("@ViewBag.FromDate");
             $("#FromDate2").val("@ViewBag.FromDate");
             jQuery(function ($) {
                 $.datepicker.regional['ja'] = {
                     closeText: '閉じる',
                     prevText: '&#x3c;前',
                     nextText: '次&#x3e;',
                     currentText: '今日',
                     monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                     dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                     dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                     weekHeader: '週',
                     dateFormat: 'yy/mm/dd',
                     firstDay: 0,
                     isRTL: false,
                     showMonthAfterYear: true,
                     yearSuffix: '年'
                 };
                 $.datepicker.setDefaults($.datepicker.regional['ja']);
                 $("#FromDate2").datepicker({
                     minDate: lastThreeMonths,
                     maxDate: new Date(),
                     defaultDate: '@ViewBag.FromDate'
                 });
             });

            $("#ToDate").val("@ViewBag.ToDate");
            $("#ToDate2").val("@ViewBag.ToDate");
             jQuery(function ($) {
                 $.datepicker.regional['ja'] = {
                     closeText: '閉じる',
                     prevText: '&#x3c;前',
                     nextText: '次&#x3e;',
                     currentText: '今日',
                     monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                     dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                     dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                     weekHeader: '週',
                     dateFormat: 'yy/mm/dd',
                     firstDay: 0,
                     isRTL: false,
                     showMonthAfterYear: true,
                     yearSuffix: '年'
                 };
                 $.datepicker.setDefaults($.datepicker.regional['ja']);
                 $("#ToDate2").datepicker({
                     minDate: lastThreeMonths,
                     maxDate: new Date(),
                     defaultDate: '@ViewBag.ToDate'
                 });
             });
            });
    </script>
}