@{
    ViewBag.Title = "Payment Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var overViewModel = Model.PaymentOverview as CRS.ADMIN.APPLICATION.Models.PaymentManagement.PaymentOverviewModel;
    var paymentLog = Model.PaymentLogs as List<CRS.ADMIN.APPLICATION.Models.PaymentManagement.PaymentLogsModel>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<div class="px-8 py-4 flex flex-col gap-8">
    <!-- booking information  -->
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Management
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Management_Supporting_Text
            </div>
        </div>
        @*<div class="section-to-hide">
                <div class="btn btn-primary-normal flex gap-2 items-center h-[40px] px-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M5.625 2.5V3.125H3.125V16.875H16.875V3.125H14.375V2.5H13.125V3.125H6.875V2.5H5.625ZM4.375 4.375H5.625V5H6.875V4.375H13.125V5H14.375V4.375H15.625V5.625H4.375V4.375ZM4.375 6.875H15.625V15.625H4.375V6.875ZM8.125 8.125V9.375H9.375V8.125H8.125ZM10.625 8.125V9.375H11.875V8.125H10.625ZM13.125 8.125V9.375H14.375V8.125H13.125ZM5.625 10.625V11.875H6.875V10.625H5.625ZM8.125 10.625V11.875H9.375V10.625H8.125ZM10.625 10.625V11.875H11.875V10.625H10.625ZM13.125 10.625V11.875H14.375V10.625H13.125ZM5.625 13.125V14.375H14.375V13.125H5.625Z"
                              fill="#D75A8B" />
                    </svg>@CRS.ADMIN.APPLICATION.Resources.Resource.August 9 - @CRS.ADMIN.APPLICATION.Resources.Resource.August 21
                </div>
            </div>*@
    </div>

    <div class="flex flex-col gap-4">
        <div class="">
            <div class="flex gap-[24px]" style="border-bottom: 1px solid #f4f4f4;">
                <div class="flex tab-container-plane bg-white gap-[16px]">
                    <div onclick="getActiveButtonValue()">

                        <button id=" tab1Button" class="tab-button-plane tab-link active"
                                onclick="getActiveButtonValue()">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Overview
                        </button>
                    </div>
                    <div onclick="getActiveButtonValue()">
                        <button id=" tab2Button" class="tab-button-plane tab-link ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Logs
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="bg-white">
                <div id="tab1" class="tab-content-plane ">
                    @Html.Partial("_Overview", overViewModel)
                </div>
                <div id="tab2" class="tab-content-plane hidden ">
                    @Html.Partial("_PaymentLog", paymentLog)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        function getActiveButtonValue() {
            const activeButton = document.querySelector('.tab-link.active');
            const sectionToHide = document.querySelector('.section-to-hide');

            if (activeButton) {
                const activeButtonValue = activeButton.textContent;

                if (activeButtonValue === "Overview") {
                    if (sectionToHide) {
                        sectionToHide.style.display = 'none';
                    }
                } else {
                    if (sectionToHide) {
                        sectionToHide.style.display = 'block';
                    }
                }
            }
        }

        // Run the function when the page is loaded
        document.addEventListener('DOMContentLoaded', getActiveButtonValue);
    </script>
    <script>
        $('.ddlPaymentClubList').change(function () {
            var ClubId = document.getElementsByClassName("ddlPaymentClubList")[0].value;
            $('#clubId').val(ClubId);
            document.getElementById("PaymentLogForm").submit();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/PaymentManagement/Index";
                let search_filter = '@ViewBag.SearchFilter';
                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                LoadPagination(page_size, total_data, start_index_val, URL);

            var currentDate = new Date();
            var lastThreeMonths = new Date();
            lastThreeMonths.setMonth(currentDate.getMonth() - 3);

             $("#FromDate").val("@ViewBag.FromDate");
             jQuery(function ($) {
                 $.datepicker.regional['ja'] = {
                     closeText: '閉じる',
                     prevText: '&#x3c;前',
                     nextText: '次&#x3e;',
                     currentText: '今日',
                     monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                     dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                     dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                     weekHeader: '週',
                     dateFormat: 'yy/mm/dd',
                     firstDay: 0,
                     isRTL: false,
                     showMonthAfterYear: true,
                     yearSuffix: '年'
                 };
                 $.datepicker.setDefaults($.datepicker.regional['ja']);
                 $("#FromDate").datepicker({
                     minDate: lastThreeMonths,
                     maxDate: new Date(),
                     defaultDate: '@ViewBag.FromDate'
                 });
             });

            $("#ToDate").val("@ViewBag.ToDate");
             jQuery(function ($) {
                 $.datepicker.regional['ja'] = {
                     closeText: '閉じる',
                     prevText: '&#x3c;前',
                     nextText: '次&#x3e;',
                     currentText: '今日',
                     monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                         '7月', '8月', '9月', '10月', '11月', '12月'],
                     dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                     dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                     dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                     weekHeader: '週',
                     dateFormat: 'yy/mm/dd',
                     firstDay: 0,
                     isRTL: false,
                     showMonthAfterYear: true,
                     yearSuffix: '年'
                 };
                 $.datepicker.setDefaults($.datepicker.regional['ja']);
                 $("#ToDate").datepicker({
                     minDate: lastThreeMonths,
                     maxDate: new Date(),
                     defaultDate: '@ViewBag.ToDate'
                 });
             });
            });
    </script>
}