<<<<<<< HEAD
﻿@model CRS.ADMIN.APPLICATION.Models.ApiResponseMessage.ApiResponseMessageModel
<div id="edit-api-response-message"
=======
@model CRS.ADMIN.APPLICATION.Models.ApiResponseMessage.ApiResponseMessageModel
<div id="add-edit-response-message"
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>
<<<<<<< HEAD
                    Edit Response Message
=======
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_Api_Response_Message
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                </div>
                <button type="button" data-drawer-hide="add-new-response-message" aria-controls="add-new-response-message"
                        class="text-[20px]" onclick="CancelFunction()">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateResponseMessage", "ApiResponseMessage", FormMethod.Post, new { @id = "editrespmsgform", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="MessageId" id="edit-id-input" value="" />
            <div class="p-[24px]">
                <div class=" py-4 grid gap-5">
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Code
                        </label>

                        @Html.TextBoxFor(model => model.Code, new
                        {
                           @id = "edit-code-input",
                           @class = "w-full rounded-[4px]",
                           @style = "border-radius:4px !important",
                           @placeholder = "Code",
                           @maxlength = "30"
                        })
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Message
                        </label>
                        @Html.TextBoxFor(model => model.Message, new
                        {
                            @id = "edit-message-input",
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = "Message",
                            @maxlength = "30"
                        })
=======
        @using (Html.BeginForm("UpdateResponseMessage", "ApiResponseMessage", FormMethod.Post, new { @id = "addrespmsgform", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="p-[24px]">
                <div class=" py-4 grid gap-5">
                    <div class="input-field-common">

                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Code
                        </label>
                        @Html.HiddenFor(model => model.MessageId, new
                        {

                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = "MessageId",
                            @maxlength = "30"
                        })
                        @Html.TextBoxFor(model => model.Code, new
                        {

                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = "Code",
                            @maxlength = "30"
                        })
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Message
                        </label>
                        @Html.TextBoxFor(model => model.Message, new
                   {
                       @class = "w-full rounded-[4px]",
                       @style = "border-radius:4px !important",
                       @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Message,
                       @maxlength = "30"
                   })
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc

                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
<<<<<<< HEAD
                           English Message
                        </label>
                        @Html.TextBoxFor(model => model.MessageEng, new
                        {
                            @id = "edit-messageeng-input",
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = "English Message",
=======
                            @CRS.ADMIN.APPLICATION.Resources.Resource.English_Message
                        </label>
                        @Html.TextBoxFor(model => model.MessageEng, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.English_Message,
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                            @maxlength = "30"
                        })

                    </div>
                    <div class="input-field-common w-full">
                        <label class="block mb-4 text-sm font-medium text-secondary-100 ">
<<<<<<< HEAD
                            Http Status Code
                        </label>
                        @Html.TextBoxFor(model => model.HttpStatusCode, new
                        {
                            @id = "edit-httpstatuscode-input",
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = "Code",
=======
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Http_Status_Code
                        </label>
                        @Html.TextBoxFor(model => model.HttpStatusCode, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Http_Status_Code,
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                            @maxlength = "30"
                        })

                    </div>
<<<<<<< HEAD

                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                            Category
                        </label>
                        <select id="edit-category-input" name="Category" class=" default_select select-common block w-full "
=======
                    <div class="input-field-common w-full">
                        <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Description
                        </label>
                        @Html.TextBoxFor(model => model.Description, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Description,
                            @maxlength = "200"
                        })

                    </div>

                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.CategoryType
                        </label>
                        <select id="large" name="Category" class=" default_select select-common block w-full "
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                                style="width: 100%;">
                            <option value="error">
                                Error
                            </option>
<<<<<<< HEAD

=======
                            <option value="success">
                                Success
                            </option>
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                        </select>
                        <span class="error">

                        </span>
                    </div>
<<<<<<< HEAD
=======
                    <div class="input-field-common w-full">
                        <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Module_Name
                        </label>
                        @Html.TextBoxFor(model => model.Module, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Module_Name,
                            @maxlength = "200"
                        })

                    </div>
                    <div class="input-field-common w-full">
                        <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.User_Category
                        </label>
                        @Html.TextBoxFor(model => model.UserCategory, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.User_Category,
                            @maxlength = "200"
                        })

                    </div>
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc

                </div>

                <div class="flex justify-end mt-6 ">
                    <div class="flex gap-6">
                        <button class="resetForm btn btn-gray-white h-[40px] rounded-[4px] px-8 text-sm" onclick="CancelFunction()" type="button">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        <button class="resetForm btn btn-primary-default h-[40px] px-8 rounded-[4px]  text-sm leading-[10px]" id="saveData" type="submit">
<<<<<<< HEAD
                            Update
=======
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Create
>>>>>>> 9a5f5ff2682516912a6a6928c4d594ce6ea591bc
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>