@model List<CRS.ADMIN.APPLICATION.Models.ApiResponseMessage.ApiResponseMessageModel>

@{
    ViewBag.Title = "Api Response Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var partialViewModel = new CRS.ADMIN.APPLICATION.Models.ApiResponseMessage.ApiResponseMessageModel();

}
<div class="px-8 py-4">
    @Html.AntiForgeryToken()
    <div>
        <div class="heading-title">
            Api Response Message List
        </div>
        <div class="span-title-light-gray">
            Manage Api Response Message
        </div>
    </div>
    <div class="flex justify-between pt-[24px] pb-[24px]">
        <form action="/StaffManagement/StaffList" method="get">
            <div class="relative input-search-wrapper">
                <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                              stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </div>
                <input type="search"
                       id="default-search"
                       class="input-search block w-full "
                       placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                       value=""
                       name="SearchFilter">
            </div>
        </form>
        <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-response-message"
             data-drawer-show="add-new-response-message" data-drawer-placement="right" data-drawer-backdrop="false"
             aria-controls="drawer-disabled-backdrop">
            <img src="~/Content/assets_new/images/plus-circle-solid.svg">
            @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
        </div>
    </div>
    <div class="table-tab">
        <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
            <div class="flex items-center select-entries" id="ShowEntries-Id">
            </div>
            @*<div class="export-button h-[40px]">
                    <img src="~/Content/assets_new/images/club/download-solid.svg"> @CRS.ADMIN.APPLICATION.Resources.Resource.Export
                </div>*@
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full  text-left club-table" id="table-id">
                <thead class="club-table-thead">
                    <tr>
                        <th scope="col" class="p-[12px]">
                            <div class="flex w-max">
                                S.N
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex w-max">
                                Code
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex w-max">
                                Cateory
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="p-[12px]">
                            <div class="flex w-max">
                                Message
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                        @*<th scope="col" class="p-[12px]">
                                <div class="flex w-max">
                                    Message English
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex w-max">
                                    Message Type
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>*@
                        <th scope="col" class="p-[12px]">
                            <div class="flex justify-center">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                <div class="relative pl-[5px]">
                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var responselist in Model)
                    {
                        <tr class="bg-white border-b ">
                            <td class="p-[12px]">
                                @responselist.MessageId
                            </td>

                            <td class="p-[12px]">
                                @responselist.Code
                            </td>
                            <td class="p-[12px]">
                                @responselist.Category
                            </td>
                            <td class="p-[12px]">
                                @responselist.Message
                            </td>
                            @*<td class="p-[12px]">
                                    @responselist.MessageEng
                                </td>

                                <td class="p-[12px]">

                                        @responselist.MessageType

                                </td>*@
                            <td class="p-[12px]">

                                        <div class="flex gap-[7px] justify-center text-[16px] ">
                                            <button class="edit-api-resp-btn" data-id="@responselist.MessageId" 
                                                    data-code="@responselist.Code"
                                                    data-category="@responselist.Category"
                                                    data-message="@responselist.Message"
                                                    data-http-status="@responselist.HttpStatusCode"
                                                    data-message-eng="@responselist.MessageEng">
                                                <i class="fa-regular fa-pen-to-square text-[#989898] cursor-pointer "></i> @*onclick="editResponseMessage('@responselist.MessageId')"*@
                                            </button>
                                            @*<div>
                                                <i class="fa-solid fa-trash-can text-primary-100 cursor-pointer" onclick="deleteResponseMessage('@responselist.MessageId')"></i>
                                            </div>*@
                                        </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_AddResponseMessage", partialViewModel)
@Html.Partial("_EditResponseMessage", partialViewModel)
@section scripts{
    <script>
    $(document).ready(function () {
        $('select').select2({
            minimumResultsForSearch: Infinity
        })

        $('.edit-api-resp-btn').click(function (e) {
            e.preventDefault();

            var t = $(this);
            var id = t.data("id");
            var code = t.data("code");
            var category = t.data("category");
            var message = t.data("message");
            var message_eng = t.data("message-eng");
            var http_status_code = t.data("http-status");

            $("#edit-id-input").val(id);
            $("#edit-code-input").val(code);
            $("#edit-category-input").val(category);
            $("#edit-message-input").val(message);
            $("#edit-messageeng-input").val(message_eng);
            $("#edit-httpstatuscode-input").val(http_status_code);

            $('#edit-api-response-message').removeClass('translate-x-full');
        });

        var popUpRenderValue = '@ViewBag.PopUpRenderValue';
        if (popUpRenderValue != null && popUpRenderValue != "" && popUpRenderValue == "Manage") {
            var element = document.getElementById('add-new-response-message');
           
            element.classList.remove('translate-x-full');
        }
    });

        function CancelFunction() {
            location.reload();
        }

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
             const page_size = @ViewBag.PageSize;
             const total_data = @ViewBag.TotalData;
             const start_index_val = @ViewBag.StartIndex;
            let URL = "/ApiResponseMessage/ApiResponseMessageList";
             let search_filter = $('#default-search').val();
             URL = addQueryParam(URL, 'SearchFilter', search_filter);
             LoadPagination(page_size, total_data, start_index_val, URL);
         });
    </script>
}
