

@model CRS.ADMIN.APPLICATION.Models.StaticDataManagement.ManageStaticData
<div id="add-new_static_data"
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>
                    Manage Static Data Type
                </div>
                <button type="button" data-drawer-hide="add-new_static_data" aria-controls="add-new_static_data"
                        class="text-[20px]">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        @using (Html.BeginForm("ManageStaticData", "StaticDataManagement", FormMethod.Post, new { @id = "ManageStaticData", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            if (!string.IsNullOrEmpty(Model.Id))
            {
                @Html.HiddenFor(model => model.Id)
            }
            if (!string.IsNullOrEmpty(Model.StaticDataValue))
            {
                @Html.HiddenFor(model => model.StaticDataValue)
            }
            if (!string.IsNullOrEmpty(Model.Status))
            {
                @Html.HiddenFor(model => model.Status)
            }
            <div class="p-[24px]">
                <div class=" py-4 grid gap-5">
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Static Data Type Id
                        </label>
                        @Html.TextBoxFor(model => model.StaticDataType, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                            @type = "number"
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.StaticDataType)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Static Data Label
                        </label>
                        @Html.TextBoxFor(model => model.StaticDataLabel, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.StaticDataLabel)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Static Data Description
                        </label>
                        @Html.TextBoxFor(model => model.StaticDataDescription, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.StaticDataDescription)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Static Data Value
                        </label>
                        @if (Model.StaticDataValue != null && !string.IsNullOrEmpty(Model.StaticDataValue))
                        {
                            @Html.TextBoxFor(model => model.StaticDataValue, new
                       {
                           @class = "w-full rounded-[4px]",
                           @style = "border-radius:4px !important",
                           @maxlength = "3",
                           @disabled = "disabled"
                       })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.StaticDataValue, new
                            {
                                @class = "w-full rounded-[4px]",
                                @style = "border-radius:4px !important",
                                @maxlength = "3"
                            })

                        }
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.StaticDataValue)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Additional Value1
                        </label>
                        @Html.TextBoxFor(model => model.AdditionalValue1, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.AdditionalValue1)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Additional Value2
                        </label>
                        @Html.TextBoxFor(model => model.AdditionalValue2, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.AdditionalValue2)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Additional Value3
                        </label>
                        @Html.TextBoxFor(model => model.AdditionalValue3, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.AdditionalValue3)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            Additional Value4
                        </label>
                        @Html.TextBoxFor(model => model.AdditionalValue4, new
                        {
                            @class = "w-full rounded-[4px]",
                            @style = "border-radius:4px !important",
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.AdditionalValue4)
                        </span>
                    </div>
                </div>
                <div class="flex justify-end mt-6 ">
                    <div class="flex gap-6">
                        <button class="resetForm btn btn-gray-white h-[40px] rounded-[4px] px-8 text-sm" id="CancelId">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        <button class="resetForm btn btn-primary-default h-[40px] px-8 rounded-[4px]  text-sm leading-[10px]" id="saveData" type="submit">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Create
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>