@model CRS.ADMIN.APPLICATION.Models.ClubManagement.ClubManagementCommonModel
<div class="flex justify-between pb-[24px]">
    <form action="/ClubManagement/ClubList" method="get">

        @*<input name="value" id="valueTypeid" type="hidden" />*@
        <div class="relative input-search-wrapper">
            <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                          stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <input type="search"
                   id="default-search"
                   class="input-search block w-full "
                   placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                   value="@Model.SearchFilter"
                   name="SearchFilter">
        </div>
    </form>
    <div class="flex gap-6">
        <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'Club')">
            <img src="~/Content/assets_new/images/club/download-solid.svg">@CRS.ADMIN.APPLICATION.Resources.Resource.Export
        </div>

        <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-host-club"
             data-drawer-show="add-new-host-club" data-drawer-placement="right" data-drawer-backdrop="false"
             aria-controls="drawer-disabled-backdrop" id="add-new-id">
            <img src="~/Content/assets_new/images/plus-circle-solid.svg" />
            @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
        </div>
    </div>
</div>
<div class="table-tab">
    <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
        <div class="flex items-center select-entries" id="ShowEntries-Id">
        </div>
    </div>
    <div class="relative overflow-x-auto">
        <table class="w-full text-left club-table" id="table-id">
            <thead class="club-table-thead">
                <tr>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            S.N
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Profile
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Rank
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Ratings
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Address
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex w-max">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Created_On
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px]">
                        <div class="flex  w-max ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Updated_On
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="p-[12px] flex justify-center">
                        <div class="flex w-max justify-center">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                            <div class="relative pl-[5px]">
                                <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int SN = 1;
                    foreach (var item in Model.ClubListModel)
                    {
                        <tr class="bg-white border-b ">
                            <td class="p-[12px]">
                                @item.SNO
                            </td>
                            <td class="p-[12px]">
                                <div class="round-image-text flex gap-[12px] w-max">
                                    <img class="w-[32px] h-[32px] rounded-full" src="@item.ClubLogo" />

                                    <div class="flex justify-between w-full">
                                        <div class="text-image grid flex-none ">
                                            <div class="text-sm font-semibold text-[#101828] ">@item.ClubNameEng</div>
                                            @if (!string.IsNullOrEmpty(item.ClubCategory))
                                            {
                                                <div class="@item.ClubCategory.ToLower()">
                                                    @item.ClubCategory.ToUpper()
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="p-[12px]">
                                @item.MobileNumber
                            </td>
                            <td class="p-[12px]">
                                @item.Rank
                            </td>
                            <td class="p-[12px]">
                                @item.Ratings
                            </td>
                            <td class="p-[12px]">
                                <div class="w-max">
                                    @item.Location
                                </div>
                            </td>
                            <td class="p-[12px]">
                                <div class="w-max">
                                    @item.CreatedDate
                                </div>
                            </td>
                            <td class="p-[12px]">
                                <div class="w-max">
                                    @item.UpdatedDate
                                </div>
                            </td>
                            <td class="p-[12px]">
                                <div class="flex gap-[7px]">
                                    @if (item.holdStatus != "P")
                                    {
                                        <i class="las la-edit text-[20px] cursor-pointer text-[#A6A6A6]" onclick="ManageClubGetDetailsFunction('@item.AgentId');"></i>
                                        <img src="/Content/assets/images/manager-setting.svg" onclick="ManageClubManagerFunction('@item.AgentId');">
                                        <i class="las la-tag text-[20px] cursor-pointer text-[#C8B477]" onclick="ManageClubTagFunction('@item.AgentId');"></i>
                                        if (!string.IsNullOrEmpty(@item.Status) && @item.Status.ToUpper() == "A")
                                        {
                                            <div onclick="openBlockEventModal('@item.AgentId')" data-modal-target="block-confirmation" data-modal-toggle="block-confirmation">
                                                <i class="fa-solid fa-lock text-primary-100 cursor-pointer"></i>
                                            </div>
                                        }
                                        else if (!string.IsNullOrEmpty(@item.Status) && @item.Status.ToUpper() == "B")
                                        {
                                            <div onclick="openUnBlockEventModal('@item.AgentId')" data-modal-target="unblock-confirmation" data-modal-toggle="unblock-confirmation">
                                                <i class="fa-solid fa-unlock text-primary-100 cursor-pointer"></i>
                                            </div>
                                        }
                                        <i class=" las la-trash-alt text-[20px] cursor-pointer text-[#CB3F3F]" onclick="openDeleteClubModal('@item.AgentId');" data-modal-target="delete-club-confirmation" data-modal-toggle="delete-club-confirmation"></i>
                                        <i class="las la-key text-[24px] text-[#C8B477] cursor-pointer" onclick="openResetCustomerPasswordModal('@item.ClubNameEng','@item.AgentId')" data-name="@item.ClubNameEng" data-id="@item.AgentId" data-modal-target="reset-customer-passwordconfirmation" data-modal-toggle="reset-customer-passwordconfirmation"></i>
                                        <img src="/Content/assets/images/notice.svg" alt="plan" class="cursor-pointer h-[20px] aspect-square" onclick="PlanRedirectFunction('@item.AgentId');" data-drawer-target="add-new-plan-tag" data-drawer-show="add-new-plan-tag" data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop">
                                        if (!string.IsNullOrEmpty(@item.LineGroupId))
                                        {
                                            <img src="/Content/assets/images/line.svg" alt="line" class="cursor-pointer h-[20px] aspect-square" onclick="LineGroupFunction('@item.AgentId','@item.LineGroupId');"data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop">
                                        }

                                        @*<i class="las la-user text-[20px] cursor-pointer text-[#A6A6A6]" onclick="PlanRedirectFunction('@item.AgentId');"></i>*@
                                        <i class="las la-user text-[20px] cursor-pointer text-[#A6A6A6]" onclick="HostRedirectFunction('@item.AgentId');"></i>
                                        @*<i class="las la-calendar-check text-[20px] cursor-pointer text-[#A6A6A6]" onclick="window.location.href='/ScheduleManagement/ClubScheduleManagement?ClubId=' + '@item.AgentId'"></i>
                                        <img src="/Content/assets/images/schedule.svg" alt="notice" class="cursor-pointer h-[20px] aspect-square" onclick="window.location.href='/ClubManagement/EventList?ClubId=' + '@item.AgentId'     " data-drawer-target="add-new-notice-tag" data-drawer-show="add-new-notice-tag" data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop">*@
                                        <div>
                                            <a onclick="ClubGalleryRedirectFunction('@item.AgentId');">
                                                <i class="las la-image text-[#C8B477] text-[20px] mt-[1px] cursor-pointer"></i>
                                            </a>
                                        </div>
                                    }

                                    @* <i class="las la-eye text-[20px] cursor-pointer text-[#A6A6A6]"></i>*@



                                </div>
                            </td>
                        </tr>
                        SN++;
                    }
                }
            </tbody>
        </table>

    </div>
    <div class="pagination-club">
        <div class="show-entry" id="Entries-Id">
        </div>
        <div class="flex gap-[12px]">
            <div class="btn btn-secondary-box-shadow" id="prev-btn">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
            </div>
            <div class="flex gap-[12px]" id="pagination-id">
            </div>
            <div class="btn btn-secondary-box-shadow" id="next-btn">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Next
            </div>
        </div>
    </div>
</div>