@model CRS.ADMIN.APPLICATION.Models.ClubManagement.ManageClubModel
@{
    string BussimageExtension = System.IO.Path.GetExtension(Model.BusinessCertificate);
    string kycfrontimageExtension = System.IO.Path.GetExtension(Model.KYCDocument);
    string kycbackimageExtension = System.IO.Path.GetExtension(Model.KYCDocumentBack);
    string passportimageExtension = System.IO.Path.GetExtension(Model.PassportPhoto);
    string insuranceimageExtension = System.IO.Path.GetExtension(Model.InsurancePhoto);
    string CorporateRegistryExtension = System.IO.Path.GetExtension(Model.CorporateRegistryDocument);
    var fileNameWithExtension = Path.GetFileName(Model.CorporateRegistryDocument);
    var fileNameWithExtensionpassport = Path.GetFileName(Model.PassportPhoto);
    var fileNameWithExtensionkycback = Path.GetFileName(Model.KYCDocumentBack);
    var fileNameWithExtensioninsurance = Path.GetFileName(Model.InsurancePhoto);
    var fileNameWithExtensionkycfront = Path.GetFileName(Model.KYCDocument);
    var fileNameWithExtensionbuss = Path.GetFileName(Model.BusinessCertificate);

}
<style>
    .imagetextfield {
        color: var(--link, #839AD6);
        font-family: "Noto Sans";
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
    }
    /* Style for the <p> container with class "pdfborder" */
    p.pdfborder {
        border-radius: 4px;
        background: #fcfcfc;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px 0px rgba(0, 0, 0, 0);
        padding: 16px 16px 8px 16px;
      
    }

    /* Style for the center box containing the image and text */
    .center-box {
        display: flex; /* Flex layout to arrange the image and text horizontally */
        align-items: center; /* Center content vertically */
        /*gap: 10px;*/ /* Space between the image and text */
        width: 88%; /* You can adjust this width */
        height:88%
    }

    /* Style for the image inside the box */
    .pdf-image {
        display: inline-block;       
        border-radius: 6.23px;
        opacity: 1; 
        padding-right: 10px;
    }

    .image-style {
        width: 40px; 
        height: 40px; 
        object-fit: contain; 
    }

    
    .text-content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 160px;
        font-size: 12.46px;
    }
        .text-content::after {
            content: ".pdf"; 
            position: absolute;
            right: 99px;
        }
    
    .image-style {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        border-radius: 6.23px; 
    }
</style>
<div id="add-new-club-hold-details"
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full"
     tabindex="-1" aria-labelledby="add-new-club-hold-details" aria-modal="true" role="dialog">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Profile
                </div>
                <button type="button" data-drawer-hide="add-new-club-hold-details" aria-controls="add-new-club-hold-details"
                        class="text-[20px]">
                    <i class="las la-window-close text-white" onclick="CancelFunction()"></i>
                </button>
            </div>
        </div>
        <div class="p-[24px]">

            <div class="my-5">
                @*<div class="font-bold text-[20px] pb-5 px-8 pt-8">
                        Club Profile
                    </div>*@


                <div class="pt-4 px-8">

                    <div class="flex gap-1">
                        <div class="border border-[#D75A8B] w-[1px] ">
                        </div>

                        <div class="text-[#D75A8B] font-[600] text-[16px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Info
                        </div>
                    </div>

                    <div class="grid  gap-2 mt-2">
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.StoreName :
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">
                                @Model.ClubName1
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Store_Name__Katakana_ :
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.ClubName2
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.English:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">
                                @Model.ClubName
                            </p>
                        </div>

                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Location:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.LocationDDL
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Postal_Code:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                〒  @Model.PostalCode
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Prefecture:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">
                                @*@Model.Prefecture*@
                                @Model.LocationDDL
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.City:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.City
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Street:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.Street
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Building___Room_No:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.BuildingRoomNo
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.LandlineNumber:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.LandlineNumber
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.GroupName
                            </p>
                        </div>
                        @*<div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">
                                    Group Name (Katakana):
                                </p>
                                <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                    @Model.GroupName2
                                </p>
                            </div>*@

                    </div>

                    <div class="flex gap-1 mt-[20px]">
                        <div class="border border-[#D75A8B] w-[1px] ">
                        </div>

                        <div class="text-[#D75A8B] font-[600] text-[16px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.BusinessInfo
                        </div>
                    </div>

                    <div class="grid  gap-2 mt-2" style="width:100%">
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Business_Type:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.BusinessTypeDDL
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.CEO_Full_Name:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.ceoFullName
                            </p>
                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Furigana:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                                @Model.CeoFurigana
                            </p>
                        </div>
                        <!--<div class=" grid grid-cols-2">-->
                        @*if corporate then only this field shown*@
                        <!--<p class="text-[#7A7A7A] text-[14px]">
                                Company Name:
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">


                                @Model.CompanyName
                            </p>
                        </div>-->

                    <div class=" grid grid-cols-2">
                        <p class="text-[#7A7A7A] text-[14px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Business_Cerfificate
                        </p>
                        @if (BussimageExtension == ".jpg" || BussimageExtension == ".jpeg" || BussimageExtension == ".png" || BussimageExtension == ".gif")
                        {
                            <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                 src="@Model.BusinessCertificate" />
                        }
                        else
                        {
                            <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                <span class="center-box">
                                    <span class="pdf-image">
                                        <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                    </span>
                                    <span class="text-content">@fileNameWithExtensionbuss</span>
                                </span>
                            </p>


                        }


                    </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">

                            </p>
                            <p>
                                @if (BussimageExtension == ".jpg" || BussimageExtension == ".jpeg" || BussimageExtension == ".png" || BussimageExtension == ".gif")
                                {
                                    <a class="imagetextfield" href="@Model.BusinessCertificate" target="_blank">
                                        View
                                    </a>
                                }
                                <a class="imagetextfield" style="padding-left: 7px;"
                                   href="@Model.BusinessCertificate" download="">
                                    Download
                                </a>
                            </p>
                        </div>

                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.CorporateRegistry
                            </p>
                            @if (CorporateRegistryExtension == ".jpg" || CorporateRegistryExtension == ".jpeg" || CorporateRegistryExtension == ".png" || CorporateRegistryExtension == ".gif")
                            {
                                <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                     src="@Model.CorporateRegistryDocument" />
                            }
                            else
                            {
                                <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                    <span class="center-box">
                                        <span class="pdf-image">
                                            <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                        </span>
                                        <span class="text-content">@fileNameWithExtension</span>                                      
                                    </span>
                                </p>

                             
                            }


                        </div>
                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">

                            </p>
                            <p>
                                @if (CorporateRegistryExtension == ".jpg" || CorporateRegistryExtension == ".jpeg" || CorporateRegistryExtension == ".png" || CorporateRegistryExtension == ".gif")
                                {
                                    <a class="imagetextfield" href="@Model.CorporateRegistryDocument" target="_blank">
                                        View
                                    </a>
                                }

                                <a class="imagetextfield" style="padding-left: 7px;"
                                   href="@Model.CorporateRegistryDocument" download="">
                                    Download
                                </a>
                            </p>
                        </div>


                        <div class=" grid grid-cols-2">
                            <p class="text-[#7A7A7A] text-[14px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.IdentificationType
                            </p>
                            <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">
                                @Model.IdentificationTypeName
                            </p>

                        </div>

                        @if (@Model.IdentificationType?.DecryptParameter() == "2")
                        {
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.KYCDocument
                                </p>
                                @if (passportimageExtension == ".jpg" || passportimageExtension == ".jpeg" || passportimageExtension == ".png" || passportimageExtension == ".gif")
                                {
                                    <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                         src="@Model.PassportPhoto" />
                                }
                                else
                                {
                                    <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                        <span class="center-box">
                                            <span class="pdf-image">
                                                <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                            </span>
                                            <span class="text-content">@fileNameWithExtensionpassport</span>
                                        </span>
                                    </p>


                                }

                            </div>
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">

                                </p>
                                <p>
                                    @if (passportimageExtension == ".jpg" || passportimageExtension == ".jpeg" || passportimageExtension == ".png" || passportimageExtension == ".gif")
                                    {
                                        <a class="imagetextfield" href="#" onclick="openImage('@Model.PassportPhoto'); return false;">
                                            View
                                        </a>
                                    }
                                    <a class="imagetextfield" style="padding-left: 7px;"
                                       href="@Model.PassportPhoto" download="">
                                        Download
                                    </a>
                                </p>
                            </div>


                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]"></p>
                                @if (insuranceimageExtension == ".jpg" || insuranceimageExtension == ".jpeg" || insuranceimageExtension == ".png" || insuranceimageExtension == ".gif")
                                {
                                    <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                         src="@Model.InsurancePhoto" />
                                }
                                else
                                {
                                    <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                        <span class="center-box">
                                            <span class="pdf-image">
                                                <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                            </span>
                                            <span class="text-content">@fileNameWithExtensioninsurance</span>
                                        </span>
                                    </p>


                                }

                            </div>
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">

                                </p>
                                <p>
                                    @if (insuranceimageExtension == ".jpg" || insuranceimageExtension == ".jpeg" || insuranceimageExtension == ".png" || insuranceimageExtension == ".gif")
                                    {
                                        <a class="imagetextfield" href="#" onclick="openImage('@Model.InsurancePhoto'); return false;">
                                            View
                                        </a>
                                    }
                                    <a class="imagetextfield" style="padding-left: 7px;"
                                       href="@Model.InsurancePhoto" download="">
                                        Download
                                    </a>
                                </p>
                            </div>
                        }
                        else
                        {
                    <div class=" grid grid-cols-2">
                        <p class="text-[#7A7A7A] text-[14px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.KYCDocument
                        </p>
                        @if (kycfrontimageExtension == ".jpg" || kycfrontimageExtension == ".jpeg" || kycfrontimageExtension == ".png" || kycfrontimageExtension == ".gif")
                        {
                            <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                 src="@Model.KYCDocument" />
                        }
                        else
                        {
                            <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                <span class="center-box">
                                    <span class="pdf-image">
                                        <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                    </span>
                                    <span class="text-content">@fileNameWithExtensionkycfront</span>
                                </span>
                            </p>


                        }


                    </div>
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">

                                </p>
                                <p>
                                    @if (kycfrontimageExtension == ".jpg" || kycfrontimageExtension == ".jpeg" || kycfrontimageExtension == ".png" || kycfrontimageExtension == ".gif")
                                    {

                                        <a class="imagetextfield" href="#" onclick="openImage('@Model.KYCDocument'); return false;">
                                            View
                                        </a>
                                    }
                                    <a class="imagetextfield" style="padding-left: 7px;"
                                       href="@Model.KYCDocument" download="">
                                        Download
                                    </a>
                                </p>
                            </div>
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">

                                </p>
                                @if (kycbackimageExtension == ".jpg" || kycbackimageExtension == ".jpeg" || kycbackimageExtension == ".png" || kycbackimageExtension == ".gif")
                                {
                                    <img class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold"
                                         src="@Model.KYCDocumentBack" />
                                }
                                else
                                {
                                    <p class="text-[#3E3E3E] h-[116px] w-[230px] text-[14px] leading-[12px] font-bold pdfborder">
                                        <span class="center-box">
                                            <span class="pdf-image">
                                                <img src="/Content/assets/images/pdficon.svg" alt="Your Image" class="image-style">
                                            </span>
                                            <span class="text-content">@fileNameWithExtensionkycback</span>
                                        </span>
                                    </p>


                                }



                            </div>
                            <div class=" grid grid-cols-2">
                                <p class="text-[#7A7A7A] text-[14px]">

                                </p>
                                <p>
                                    @if (kycbackimageExtension == ".jpg" || kycbackimageExtension == ".jpeg" || kycbackimageExtension == ".png" || kycbackimageExtension == ".gif")
                                    {
                                        <a class="imagetextfield" href="#" onclick="openImage('@Model.KYCDocumentBack'); return false;">
                                            View
                                        </a>
                                    }
                                    <a class="imagetextfield" style="padding-left: 7px;"
                                       href="@Model.KYCDocumentBack" download="">
                                        Download
                                    </a>
                                </p>
                            </div>
                        }


                    </div>
                </div>


                <!-- third section -->
                <div class="flex gap-1 mt-[20px]">
                    <div class="border border-[#D75A8B] w-[1px] ">
                    </div>

                    <div class="text-[#D75A8B] font-[600] text-[16px]">
                        @CRS.ADMIN.APPLICATION.Resources.Resource.User_Info
                    </div>
                </div>
                <div class="grid  gap-2 mt-2">
                    <div class=" grid grid-cols-2">
                        <p class="text-[#7A7A7A] text-[14px] max-w-[183px] w-full">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Mobile_Number__Easily_reachable_:
                        </p>
                        <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                            +81
                            @Model.MobileNumber
                        </p>
                    </div>
                    <div class=" grid grid-cols-2">
                        <p class="text-[#7A7A7A] text-[14px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.EmailAddress:
                        </p>
                        <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                            @Model.Email
                        </p>
                    </div>
                    <div class=" grid grid-cols-2">
                        <p class="text-[#7A7A7A] text-[14px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Username:
                        </p>
                        <p class="text-[#3E3E3E] text-[14px] leading-[12px] font-bold" style="margin-top:4px;">

                            @Model.LoginId
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


