@model CRS.ADMIN.APPLICATION.Models.ClubManagement.ManageClubModel
<div id="add-new-host-club"
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full"
     tabindex="-1" aria-labelledby="add-new-host-club" aria-modal="true" role="dialog">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_Club_Profile
                </div>
                <button type="button" data-drawer-hide="add-new-host-club" aria-controls="add-new-host-club"
                        class="text-[20px]">
                    <i class="las la-window-close text-white" onclick="CancelFunction()"></i>
                </button>
            </div>
        </div>
        <div class="p-[24px]">
            <div class=" py-4 grid gap-6">
                @using (Html.BeginForm("ManageClub", "ClubManagement", FormMethod.Post, new { @id = "ManageClubForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    if (!string.IsNullOrEmpty(Model.AgentId))
                    {
                        @Html.HiddenFor(model => model.AgentId)
                    }
                    if (!string.IsNullOrEmpty(Model.Logo))
                    {
                        @Html.HiddenFor(model => model.Logo)
                    }
                    if (!string.IsNullOrEmpty(Model.CoverPhoto))
                    {
                        @Html.HiddenFor(model => model.CoverPhoto)
                    }
                    if (!string.IsNullOrEmpty(Model.BusinessCertificate))
                    {
                        @Html.HiddenFor(model => model.BusinessCertificate)
                    }
                    if (!string.IsNullOrEmpty(Model.MobileNumber))
                    {
                        @Html.HiddenFor(model => model.MobileNumber)
                    }
                    if (!string.IsNullOrEmpty(Model.Email))
                    {
                        @Html.HiddenFor(model => model.Email)
                    }
                    if (!string.IsNullOrEmpty(Model.LoginId))
                    {
                        @Html.HiddenFor(model => model.LoginId)
                    }
                    <div class="flex gap-2">
                        <div class="flex items-center gap-2 profile-steps add-new-host-wizard  active" id="step1">
                            <div class="steps-number ">
                                1
                            </div>
                            <div class="steps-text">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Basic_Information
                            </div>
                            <hr class="setp-divider" />
                        </div>
                        <div class="flex items-center gap-2 profile-steps add-new-host-wizard " id="step2">
                            <div class="steps-number ">
                                2
                            </div>
                            <div class="steps-text">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Social_Links
                            </div>
                            <hr class="setp-divider" />
                        </div>
                        <div class="flex items-center gap-2 profile-steps add-new-host-wizard " id="step3">
                            <div class="steps-number ">
                                3
                            </div>
                            <div class="steps-text">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.User_Info
                            </div>
                            <hr class="setp-divider" />
                        </div>
                    </div>
                    <div id="content1" class="content-section" style="display: block;">
                        <div class="grid gap-4 py-[10px]">
                            <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                                <div class="flex-none">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Basic_Info
                                </div>
                                <div class="bg-[#F4F4F4] h-[1px] w-full">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_English
                                    </label>
                                    @Html.TextBoxFor(model => model.ClubName1, new
                                    {
                                        @class = "w-full",
                                        @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_English_Placeholder,
                                        @onkeypress = "return isAlphabetWithSpace(event)",
                                        autocomplete = "off",
                                        @maxLength = "50"
                                    })
                                    @* <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_English_Placeholder" name="ClubName1" value="@Model.ClubName1">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.ClubName1)
                                    </span>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_Katakana
                                    </label>
                                    @Html.TextBoxFor(model => model.ClubName2, new
                                    {
                                        @class = "w-full",
                                        @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_Katakana_Placeholder,
                                        @onkeypress = "return isAlphabetWithSpace(event)",
                                        autocomplete = "off",
                                        @maxLength = "50"
                                    })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Club_Name_Katakana_Placeholder" name="ClubName2" value="@Model.ClubName2">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.ClubName2)
                                    </span>
                                </div>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Business_Type
                                </label>
                                <select id="large" name="BusinessTypeDDL" class=" default_select select-common block w-full "
                                        style="width: text-2%;">
                                    @foreach (var item in ViewBag.BusinessTypeDDL as IEnumerable<SelectListItem>)
                                    {
                                        var selectedId = ViewBag.BusinessTypeKey as string;
                                        if (item.Value == selectedId)
                                        {
                                            <option value="@item.Value" selected>
                                                @item.Text
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Company_Name
                                </label>
                                @Html.TextBoxFor(model => model.CompanyName, new
                               {
                                   @class = "w-full",
                                   @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Company_Name_Placeholder,
                                   //@onkeypress = "return isAlphabetWithSpace(event)",
                                   autocomplete = "off",
                                   @maxLength = "50"
                               })
                                @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Company_Name_Placeholder" name="CompanyName" value="@Model.CompanyName">*@
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.CompanyName)
                                </span>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name
                                </label>
                                @Html.TextBoxFor(model => model.GroupName, new
                                {
                                   @class = "w-full",
                                   @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name_Placeholder,
                                   //@onkeypress = "return isAlphabetWithSpace(event)",
                                   autocomplete = "off",
                                   @maxLength = "50"
                                })
                                @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name_Placeholder" name="GroupName" value="@Model.GroupName">*@
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.GroupName)
                                </span>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.First_Name
                                    </label>
                                    @Html.TextBoxFor(model => model.FirstName, new
                                    {
                                       @class = "w-full",
                                       @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Firstname_Placeholder,
                                       //@onkeypress = "return isAlphabetWithSpace(event)",
                                       autocomplete = "off",
                                       @maxLength = "50"
                                    })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Firstname_Placeholder" name="FirstName" value="@Model.FirstName">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.FirstName)
                                    </span>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Last_Name
                                    </label>
                                    @Html.TextBoxFor(model => model.LastName, new
                                    {
                                       @class = "w-full",
                                       @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Lastname_Placeholder,
                                       //@onkeypress = "return isAlphabetWithSpace(event)",
                                       autocomplete = "off",
                                       @maxLength = "50"
                                    })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Lastname_Placeholder" name="LastName" value="@Model.LastName">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.LastName)
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Business_Cerfificate
                                </label>
                                <div class="file-upload-common">
                                    <label for="file_input_business_certificate" class="custom-file-upload w-[128px] flex-none text-ellipsis-customer ">
                                        <span>
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Choose_Images
                                        </span>
                                    </label>
                                    <input id="file_input_business_certificate" class="file-input" type="file" name="Business_Certificate" value="@Model.BusinessCertificate"
                                           style="display:none;">
                                    <p id="file_name_bussiness_certificate"
                                       class="file-name w-max h-[23px] overflow-hidden pl-2 text-xs text-[#686868] leading-[25px]">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.No_File_Choosen
                                </div>
                                <div class="text-xs text-error mt-[8px]">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Note:
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Image_should_be_in_HEIF_format
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.and_Maximum_file_size_is_5_MB .
                                </div>
                            </div>
                            <div>
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Logo
                                </label>
                                <div class="file-upload-common">
                                    <label for="file_input_logo" class="custom-file-upload w-[128px] flex-none text-ellipsis-customer">
                                        <span>
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Choose_Images
                                        </span>
                                    </label>
                                    <input id="file_input_logo" class="file-input" name="Logo_Certificate" value="@Model.Logo" type="file" style="display:none;">
                                    <p id="file_name_logo"
                                       class="file-name w-max h-[23px] overflow-hidden pl-2 text-xs text-[#686868] leading-[25px]">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.No_File_Choosen
                                </div>
                                <div class="text-xs text-error mt-[8px]">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Note:
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Image_should_be_in_HEIF_format
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.and_Maximum_file_size_is_5_MB .
                                </div>
                            </div>
                            <div>
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Cover_Photo
                                </label>
                                <div class="file-upload-common">
                                    <label for="file_input_personal_document" class="custom-file-upload w-[128px] flex-none text-ellipsis-customer ">
                                        <span>
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Choose_Images
                                        </span>
                                    </label>
                                    <input id="file_input_personal_document" class="file-input" name="CoverPhoto_Certificate" value="@Model.CoverPhoto" type="file"
                                           style="display:none;">
                                    <p id="file_name_personal_document"
                                       class="file-name w-max h-[23px] overflow-hidden pl-2 text-xs text-[#686868] leading-[25px]">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.No_File_Choosen
                                </div>
                                <div class="text-xs text-error mt-[8px]">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Note:
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Image_should_be_in_HEIF_format
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.and_Maximum_file_size_is_5_MB .
                                </div>
                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Email
                                </label>
                                @if (!string.IsNullOrEmpty(Model.AgentId))
                                {
                                    <input type="text" class="w-full" placeholder="e.g abc@gmail.om" name="@CRS.ADMIN.APPLICATION.Resources.Resource.Email" value="@Model.Email" disabled>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Email, new
                                    {
                                       @class = "w-full",
                                       @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Email,
                                       //@onkeypress = "return isAlphabetWithSpace(event)",
                                       autocomplete = "off",
                                       @maxLength = "200"
                                    })
                                    @*<input type="text" class="w-full" placeholder="e.g abc@gmail.om" name="@CRS.ADMIN.APPLICATION.Resources.Resource.Email" value="@Model.Email">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </span>
                                }
                            </div>
                            <div class="input-field-common w-full">
                                <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number
                                </label>
                                @*<div class="number-input w-full">*@
                                @*<div class="flag-section">
                                        <div class="japan-flag">
                                            <div></div>
                                        </div>
                                        <div>
                                            +81
                                        </div>
                                        <div class="line-y">

                                        </div>

                                    </div>*@
                                @if (!string.IsNullOrEmpty(Model.AgentId))
                                {
                                    <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number" name="MobileNumber" value="@Model.MobileNumber" disabled>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.MobileNumber, new
                               {
                                   @class = "w-full",
                                   @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number,
                                   @onkeypress = "return isNumber(event)",
                                   autocomplete = "off",
                                   @maxLength = "11"
                               })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number" name="MobileNumber" value="@Model.MobileNumber">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.MobileNumber)
                                    </span>
                                }
                                @*</div>*@
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Description
                                </label>
                                @Html.TextAreaFor(model => model.Description, new
                           {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Description_Placeholder,
                               //@onkeypress = "return isNumber(event)",
                               autocomplete = "off",
                               @maxLength = "500"
                           })
                                @*<textarea class="w-full " placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Description_Placeholder" name="Description"
                                    ="">@Model.Description</textarea>*@
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.Description)
                                </span>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Location
                                </label>
                                <select id="large" class=" default_select select-common block w-full "
                                        style="width:text-2%;" name="LocationDDL">
                                    @foreach (var item in ViewBag.LocationDDLList as IEnumerable<SelectListItem>)
                                    {
                                        var selectedId = ViewBag.LocationIdKey as string;
                                        if (item.Value == selectedId)
                                        {
                                            <option value="@item.Value" selected>
                                                @item.Text
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                </select>
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.LocationId)
                                </span>
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Longitude
                                    </label>
                                    @Html.TextBoxFor(model => model.Longitude, new
                                    {
                                    @class = "w-full",
                                    @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Longitude_Placeholder,
                                    //@onkeypress = "return isNumber(event)",
                                    autocomplete = "off",
                                    @maxLength = "30"
                                    })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Longitude_Placeholder" name="Longitude" value="@Model.Longitude">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.Longitude)
                                    </span>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Latitude
                                    </label>
                                    @Html.TextBoxFor(model => model.Latitude, new
                                    {
                                    @class = "w-full",
                                    @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Latitude_Placeholder,
                                    //@onkeypress = "return isNumber(event)",
                                    autocomplete = "off",
                                    @maxLength = "30"
                                    })
                                    @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Latitude_Placeholder" name="Latitude" value="@Model.Latitude">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.Latitude)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content2" class="content-section" style="display: none;">
                        <div class="grid gap-4 py-[10px]">
                            <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                                <div class="flex-none">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Website
                                </div>
                                <div class="bg-[#F4F4F4] h-[1px] w-full">
                                </div>
                            </div>
                            <div class="grid  gap-4">
                                <div class="input-field-common">
                                    <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Website
                                    </label>
                                    @Html.TextBoxFor(model => model.WebsiteLink, new
                               {
                                   @class = "w-full",
                                   @placeholder = "i.e. www.clubglobal.com",
                                   //@onkeypress = "return isNumber(event)",
                                   autocomplete = "off"
                                   //@maxLength = "30"
                               })
                                    @*<input type="text" class="w-full" placeholder="i.e. www.clubglobal.com" name="WebsiteLink" value="@Model.WebsiteLink" ="">*@
                                    <span class="error">
                                        @Html.ValidationMessageFor(m => m.WebsiteLink)
                                    </span>
                                </div>
                                <div class="social-links-form grid gap-[16px]">
                                    <div class="font-semibold text-sm uppercase">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Social_Links
                                    </div>
                                    <div class="input-field-common">
                                        <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tiktok
                                        </label>
                                        @Html.TextBoxFor(model => model.TiktokLink, new
                                        {
                                        @class = "w-full",
                                        @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Tiktok,
                                        //@onkeypress = "return isNumber(event)",
                                        autocomplete = "off"
                                        //@maxLength = "30"
                                        })
                                        @*<input type="text" class="w-full" placeholder=" @CRS.ADMIN.APPLICATION.Resources.Resource.Tiktok" name="TiktokLink" value="@Model.TiktokLink"
                                            ="">*@
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.TiktokLink)
                                        </span>
                                    </div>
                                    <div class="input-field-common">
                                        <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Twitter
                                        </label>
                                        @Html.TextBoxFor(model => model.TwitterLink, new
                                        {
                                        @class = "w-full",
                                        @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Twitter,
                                        //@onkeypress = "return isNumber(event)",
                                        autocomplete = "off"
                                        //@maxLength = "30"
                                        })
                                        @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Twitter" name="TwitterLink" value="@Model.TwitterLink"
                                            ="">*@
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.TwitterLink)
                                        </span>
                                    </div>
                                    <div class="input-field-common">
                                        <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Instagram
                                        </label>
                                        @Html.TextBoxFor(model => model.InstagramLink, new
                                        {
                                        @class = "w-full",
                                        @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Instagram,
                                        //@onkeypress = "return isNumber(event)",
                                        autocomplete = "off"
                                        //@maxLength = "30"
                                        })
                                        @*<input type="text" class="w-full" placeholder=" @CRS.ADMIN.APPLICATION.Resources.Resource.Instagram" name="InstagramLink" value="@Model.InstagramLink"
                                            ="">*@
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.InstagramLink)
                                        </span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="content3" class="content-section" style="display: none;">
                        <div class="grid gap-4 py-[10px]">
                            <div class="grid gap-x-5 gap-y-4">
                                <div class="input-field-common w-full">
                                    <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Username
                                    </label>
                                    @if (!string.IsNullOrEmpty(Model.AgentId))
                                    {
                                        <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Username" name="LoginId" value="@Model.LoginId" disabled>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.LoginId, new
                                        {
                                        @class = "w-full",
                                        @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Username,
                                        //@onkeypress = "return isNumber(event)",
                                        autocomplete = "off"
                                        //@maxLength = "30"
                                        })
                                        @*<input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Username" name="LoginId" value="@Model.LoginId">*@
                                        <span class="error">
                                            @Html.ValidationMessageFor(m => m.LoginId)
                                        </span>
                                    }
                                </div>
                                @*<div class="input-field-common w-full ">
                                    <label class="block mb-4 text-sm font-medium text-secondary-100 ">
                                        Password
                                    </label>
                                    <div class="password-input">
                                        <input type="text" class="w-full" placeholder="Enter password" name="clubpassword" required>
                                        <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between ">
                        <div>
                            <button class="btn btn-primary-normal leading-[12px] rounded-[4px] px-3 text-sm"
                                    id="previousBtn">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                            </button>
                        </div>
                        <div class="flex gap-6">
                            <button class="resetForm btn btn-primary-normal rounded-[4px] px-8 text-sm"
                                    data-drawer-hide="add-new-host-club" onclick="CancelFunction();">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                            </button>
                            <button class="btn btn-primary-default rounded-[4px] px-8 text-sm leading-[10px]"
                                    id="nextBtn">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                            </button>
                            @*<button class="resetForm btn btn-primary-default px-8 rounded-[4px]  text-sm leading-[10px]"
                                        data-drawer-hide="add-new-host-club" id="saveData" onclick="ManageClubSubmitFunction();">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Save
                                </button>*@
                            @*<button class="resetForm btn btn-primary-default px-8 rounded-[4px]  text-sm leading-[10px]" id="saveData">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Save
                                </button>*@
                        </div>
                    </div>
                    <div class="flex justify-end py-4">
                        <div class="flex gap-6">
                            <a>
                                <button class="resetForm btn btn-primary-default h-[40px] px-8 rounded-[4px]  text-sm leading-[10px]" id="submit-button-id">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Submit
                                </button>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.password-eye').forEach(function (eyeIcon) {
        eyeIcon.addEventListener('click', function () {
            togglePassword(this);
        });
    });

    function togglePassword(eyeIcon) {
        const passwordInput = eyeIcon.previousElementSibling; // Get the input element before the icon

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('la-eye');
            eyeIcon.classList.add('la-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('la-eye-slash');
            eyeIcon.classList.add('la-eye');
        }
    }
</script>