@model CRS.ADMIN.APPLICATION.Models.ClubManagement.ClubManagementCommonModel
@{
    ViewBag.Title = "Club List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ManageClubModel = Model.ManageClubModel as CRS.ADMIN.APPLICATION.Models.ClubManagement.ManageClubModel;
    var _ManageTag = Model.ManageTag as CRS.ADMIN.APPLICATION.Models.TagManagement.ManageTag;
}

<div class="px-8 py-4">
    @Html.AntiForgeryToken()
    <!-- title  -->
    <div class="flex flex-col  gap-6">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.ClubManagement
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Management_Supporting_Text
            </div>
        </div>
        <!-- container  -->
        <div id="tab1" class="tab-content-plane">
            <div class="flex flex-col gap-8">
                <div id="tab1" class="tab-content">
                    <div class="flex justify-between pb-[24px]">
                        <form action="/ClubManagement/ClubList" method="get">
                            <div class="relative input-search-wrapper">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                        <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                              stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <input type="search"
                                       id="default-search"
                                       class="input-search block w-full "
                                       placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                       value="@Model.SearchFilter"
                                       name="SearchFilter">
                            </div>
                        </form>
                        <div class="flex gap-6">
                            <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'Club')">
                                <img src="~/Content/assets_new/images/club/download-solid.svg">@CRS.ADMIN.APPLICATION.Resources.Resource.Export
                            </div>

                            <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-host-club"
                                 data-drawer-show="add-new-host-club" data-drawer-placement="right" data-drawer-backdrop="false"
                                 aria-controls="drawer-disabled-backdrop" id="add-new-id">
                                <img src="~/Content/assets_new/images/plus-circle-solid.svg" />
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                            </div>
                        </div>
                    </div>
                    <div class="table-tab">
                        <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                            <div class="flex items-center select-entries" id="ShowEntries-Id">
                            </div>
                        </div>
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-left club-table" id="table-id">
                                <thead class="club-table-thead">
                                    <tr>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                S.N
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Profile
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>

                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Phone_Number
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Rank
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Ratings
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Address
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex w-max">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Created_On
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex  w-max ">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Updated_On
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px] flex justify-center">
                                            <div class="flex w-max justify-center">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int SN = 1;
                                        foreach (var item in Model.ClubListModel)
                                        {
                                            <tr class="bg-white border-b ">
                                                <td class="p-[12px]">
                                                    @SN
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="round-image-text flex gap-[12px] w-max">
                                                        <img class="w-[32px] h-[32px] rounded-full" src="@item.ClubLogo" />

                                                        <div class="flex justify-between w-full">
                                                            <div class="text-image grid flex-none ">
                                                                <div class="text-sm font-semibold text-[#101828] ">@item.ClubNameEng</div>
                                                                @if (!string.IsNullOrEmpty(item.ClubCategory))
                                                                {
                                                                    <div class="@item.ClubCategory.ToLower()">
                                                                        @item.ClubCategory.ToUpper()
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    @item.MobileNumber
                                                </td>
                                                <td class="p-[12px]">
                                                    @item.Rank
                                                </td>
                                                <td class="p-[12px]">
                                                    @item.Ratings
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="w-max">
                                                        @item.Location
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="w-max">
                                                        @item.CreatedDate
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="w-max">
                                                        @item.UpdatedDate
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="flex gap-[7px]">
                                                        @* <i class="las la-eye text-[20px] cursor-pointer text-[#A6A6A6]"></i>*@
                                                        <i class="las la-edit text-[20px] cursor-pointer text-[#A6A6A6]" onclick="ManageClubGetDetailsFunction('@item.AgentId');"></i>
                                                        <i class="las la-tag text-[20px] cursor-pointer text-[#C8B477]" onclick="ManageClubTagFunction('@item.AgentId');"></i>
                                                        <i class=" las la-trash-alt text-[20px] cursor-pointer text-[#CB3F3F]" onclick="BlockUnblockFunction('@item.AgentId');"></i>
                                                        <i class="las la-user text-[20px] cursor-pointer text-[#A6A6A6]" onclick="HostRedirectFunction('@item.AgentId');"></i>
                                                        <i class="las la-calendar-check text-[20px] cursor-pointer text-[#A6A6A6]" onclick="window.location.href='/ScheduleManagement/ClubScheduleManagement?ClubId=' + '@item.AgentId'"></i>
                                                        <img src="/Content/assets/images/notice.svg" alt="notice" class="cursor-pointer h-[20px] aspect-square" onclick="window.location.href='/ClubManagement/EventList?ClubId=' + '@item.AgentId'     " data-drawer-target="add-new-notice-tag" data-drawer-show="add-new-notice-tag" data-drawer-placement="right" data-drawer-backdrop="false" aria-controls="drawer-disabled-backdrop">
                                                        <div>
                                                            <a onclick="ClubGalleryRedirectFunction('@item.AgentId');">
                                                                <i class="las la-image text-[#C8B477] text-[20px] mt-[1px] cursor-pointer"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            SN++;
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="pagination-club">
                            <div class="show-entry" id="Entries-Id">
                            </div>
                            <div class="flex gap-[12px]">
                                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                </div>
                                <div class="flex gap-[12px]" id="pagination-id">
                                </div>
                                <div class="btn btn-secondary-box-shadow" id="next-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add new host from -->
@Html.Partial("_ManageTagPartialView", _ManageTag)

<!-- Confirmation  -->
<div id="add-new-host-modal-save" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
     style="align-items: flex-start;">
    <div class="relative max-w-2xl max-h-full w-[412px] px-4 pt-[40px] pb-[46px]  mt-24">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->

            <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center absolute top-[24px] right-[20px] "
                    data-modal-hide="add-new-host-modal-save">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <rect y="0.621094" width="24" height="24" rx="12" fill="#FAFAFA" />
                    <path d="M5.41406 4.95703L4.33594 6.03516L10.9219 12.6211L4.33594 19.207L5.41406 20.2852L12 13.6992L18.5859 20.2852L19.6641 19.207L13.0781 12.6211L19.6641 6.03516L18.5859 4.95703L12 11.543L5.41406 4.95703Z"
                          fill="#7A7A7A" />
                </svg>
            </button>
            <!-- Modal body -->
            <div class="grid gap-6 px-[20px] py-8">
                <div class="flex justify-center mb-4">
                    <img src="~/Content/assets_new/images/save-check.svg" />

                </div>
                <div class="grid gap-[20px] text-[#062937] mb-[44px]">
                    <div class="text-base text-secondary-text-2 text-center font-semibold">
                        Update Profile
                    </div>
                    <div class="text-[14px] text-secondary-text-2 text-center">
                        Congratulations, you just added a new club.
                    </div>
                </div>
                <div class="flex justify-end">
                    <div class="flex gap-8">
                        <button data-modal-hide="add-new-host-modal-save"
                                class="btn btn-primary-normal rounded-[4px] text-sm gap-2 w-[130px]"
                                data-drawer-target="add-new-host-club" data-drawer-show="add-new-host-club"
                                data-drawer-placement="right" data-drawer-backdrop="false"
                                aria-controls="drawer-disabled-backdrop">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                 height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8 1.5C4.41602 1.5 1.5 4.41602 1.5 8C1.5 11.584 4.41602 14.5 8 14.5C11.584 14.5 14.5 11.584 14.5 8C14.5 4.41602 11.584 1.5 8 1.5ZM8 2.5C11.043 2.5 13.5 4.95703 13.5 8C13.5 11.043 11.043 13.5 8 13.5C4.95703 13.5 2.5 11.043 2.5 8C2.5 4.95703 4.95703 2.5 8 2.5ZM7.5 5V7.5H5V8.5H7.5V11H8.5V8.5H11V7.5H8.5V5H7.5Z"
                                      fill="#D75A8B" />
                            </svg>Add New
                        </button>

                        <button class="btn btn-primary-default rounded-[4px] w-[108px] gap-2"
                                data-modal-hide="add-new-host-modal-save">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17"
                                 height="16" viewBox="0 0 17 16" fill="none">
                                <path d="M5.71997 7.33117H13.8346V8.6645H5.71997L9.29597 12.2405L8.3533 13.1832L3.16797 7.99783L8.3533 2.8125L9.29597 3.75517L5.71997 7.33117Z"
                                      fill="white" />
                            </svg>Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- drawer component -->
@Html.Partial("_ManageClubPartialView", _ManageClubModel)

@section scripts
{

    <script>
        const checkbox = document.getElementById('tag1');
        const tagInput = document.getElementById('tagInput');

        if (checkbox.checked) {
            tagInput.style.display = 'block';
        }

        checkbox.addEventListener('change', function () {
            if (this.checked) {
                tagInput.style.display = 'block';
                $('#Tag1Status').val('A');
            } else {
                tagInput.style.display = 'none';
                $('#Tag1Status').val('B');
            }
        });
    </script>
    <script>
        const checkbox2 = document.getElementById('tag2');
        const tagInput2 = document.getElementById('tagInput2');

        checkbox2.addEventListener('change', function () {
            if (this.checked) {
                tagInput2.style.display = 'block';
                $('#Tag2Status').val('A');
            } else {
                tagInput2.style.display = 'none';
                $('#Tag2Status').val('B');
            }
        });
    </script>
    <script>
        const checkbox3 = document.getElementById('tag3');
        const tagInput3 = document.getElementById('tagInput3');

        checkbox3.addEventListener('change', function () {
            if (this.checked) {
                tagInput3.style.display = 'block';
                $('#Tag3Status').val('A');
            } else {
                tagInput3.style.display = 'none';
                $('#Tag3Status').val('B');
            }
        });
    </script>
    <script>
        const checkbox4 = document.getElementById('tag4');
        const tagInput4 = document.getElementById('tagInput4');

        checkbox4.addEventListener('change', function () {
            if (this.checked) {
                $('#Tag4Status').val('A');
                tagInput4.style.display = 'block';
            } else {
                $('#Tag4Status').val('B');
                tagInput4.style.display = 'none';
            }
        });
    </script>
    <script>
        const checkbox5 = document.getElementById('tag5');
        const tagInput5 = document.getElementById('tagInput5');

        checkbox5.addEventListener('change', function () {
            if (this.checked) {
                tagInput5.style.display = 'block';
                $('#Tag5Status').val('A');
            } else {
                tagInput5.style.display = 'none';
                $('#Tag5Status').val('B');
            }
        });
    </script>
    <script>
        // Get references to the file input and file name display element
        const fileInput = document.getElementById("file_input");
        const fileNameDisplay = document.getElementById("file_name_display");

        // Add an event listener to the file input
        fileInput.addEventListener("change", function () {
            // Check if a file has been selected
            if (fileInput.files.length > 0) {
                // Display the name of the selected file
                fileNameDisplay.textContent = `${fileInput.files[0].name}`;
            } else {
                // No file selected
                fileNameDisplay.textContent = "";
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            debugger;
            $('select').select2({
                minimumResultsForSearch: Infinity
            });
            var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "Manage") {
                 var element = document.getElementById('add-new-host-club');
                 element.classList.remove('translate-x-full');
            }
            else if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "ManageTag") {
                 var element = document.getElementById('add-new-host-tag');
                 element.classList.remove('translate-x-full');
            }
            var tag1Status = $('#Tag1Status').val();
            var tag2Status = $('#Tag2Status').val();
            var tag3Status = $('#Tag3Status').val();
            var tag4Status = $('#Tag4Status').val();
            var tag5Status = $('#Tag5Status').val();

            if (tag1Status != null && tag1Status != "" && tag1Status == "A") {
                var checkbox = document.getElementById("tag1");
                checkbox.checked = true;
                document.getElementById('tagInput').style.display = 'block';
            } else {
                var checkbox = document.getElementById("tag1");
                checkbox.checked = false;
                document.getElementById('tagInput').style.display = 'none';
            }
            if (tag2Status != null && tag2Status != "" && tag2Status == "A") {
                var checkbox = document.getElementById("tag2");
                checkbox.checked = true;
                document.getElementById('tagInput2').style.display = 'block';
            } else {
                var checkbox = document.getElementById("tag2");
                checkbox.checked = false;
                document.getElementById('tagInput2').style.display = 'none';
            }
            if (tag3Status != null && tag3Status != "" && tag3Status == "A") {
                var checkbox = document.getElementById("tag3");
                checkbox.checked = true;
                document.getElementById('tagInput3').style.display = 'block';
            } else {
                var checkbox = document.getElementById("tag3");
                checkbox.checked = false;
                document.getElementById('tagInput3').style.display = 'none';
            }
            if (tag4Status != null && tag4Status != "" && tag4Status == "A") {
                var checkbox = document.getElementById("tag4");
                checkbox.checked = true;
                document.getElementById('tagInput4').style.display = 'block';
                $('#Tag4Status').val("A");
            } else {
                var checkbox = document.getElementById("tag4");
                checkbox.checked = false;
                document.getElementById('tagInput4').style.display = 'none';
                $('#Tag4Status').val("B");
            }
            if (tag5Status != null && tag5Status != "" && tag5Status == "A") {
                var checkbox = document.getElementById("tag5");
                checkbox.checked = true;
                document.getElementById('tagInput5').style.display = 'block';
            } else {
                var checkbox = document.getElementById("tag5");
                checkbox.checked = false;
                document.getElementById('tagInput5').style.display = 'none';
            }
        });
        debugger;
        const steps = document.querySelectorAll('.profile-steps');
        const nextButton = document.getElementById('nextBtn');
        const saveData = document.getElementById('saveData');
        const previousButton = document.getElementById('previousBtn');
        const submitButton = document.getElementById('submit-button-id');
        const contentSections = document.querySelectorAll('.content-section');

        let currentStep = 0;
        const cancelButton = document.querySelector('.resetForm');

        cancelButton.addEventListener('click', () => {
            currentStep = 0; // Reset the step to 0
            updateStep(); // Update the UI to reflect the new step
        });

        const updateStep = () => {
            steps.forEach((step, index) => {
                if (index === currentStep) {
                    step.classList.add('active');
                    step.classList.remove('active-green');
                } else if (index < currentStep) {
                    step.classList.remove('active');
                    step.classList.add('active-green');
                } else {
                    step.classList.remove('active', 'active-green');
                }
            });

            contentSections.forEach((section, index) => {
                if (index === currentStep) {
                    section.style.display = 'block';
                } else {
                    section.style.display = 'none';
                }
            });

            if (currentStep === 0) {
                previousButton.style.display = 'none';
                previousButton.setAttribute('type', 'button');
            } else {
                previousButton.style.display = 'inline';
                previousButton.setAttribute('type', 'button');
            }

            if (currentStep === steps.length - 1) {
                nextButton.style.display = 'none';
                //saveData.style.display = 'block';
                nextButton.textContent = '@CRS.ADMIN.APPLICATION.Resources.Resource.Save_Changes';
                submitButton.style.display = 'block';
                nextButton.setAttribute('type', 'button');
            } else {
                nextButton.style.display = 'block';
                submitButton.style.display = 'none';
                nextButton.textContent = '@CRS.ADMIN.APPLICATION.Resources.Resource.Next';
                nextButton.setAttribute('type', 'button');

            }
        };

        nextButton.addEventListener('click', () => {
            if (currentStep < steps.length - 1) {
                currentStep++;
                updateStep();
            }
        });

        previousButton.addEventListener('click', () => {
            if (currentStep > 0) {
                currentStep--;
                updateStep();
            }
        });

        // Initial state setup
        updateStep();
    </script>
    <script>
        function BlockUnblockFunction(i) {
            var RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("BlockClub", "ClubManagement")',
                 data: {
                     '__RequestVerificationToken': RequestVerificationToken, 'AgentId': i},
                success: function (response) {
                    window.location.reload();
                 },
                error: function (error) {
                    window.location.reload();
                 }
             })
        }
        function ManageClubSubmitFunction() {
            document.getElementById("ManageClubForm").submit();
        }

        function ManageClubGetDetailsFunction(i) {
            window.location.href = '/ClubManagement/ManageClub?AgentId=' + i;
        }

        function CancelFunction() {
            location.reload();
        }

        function HostRedirectFunction(i) {
            window.location.href = '/HostManagement/HostList?AgentId=' + i;
        }

        function ClubGalleryRedirectFunction(i) {
            window.location.href = '/ClubManagement/GalleryManagement?ClubId=' + i;
        }

        function ManageClubTagFunction(i) {
            window.location.href = '/ClubManagement/ManageTag?ClubId=' + i;
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/ClubManagement/ClubList";
                let search_filter = $('#default-search').val();
                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                LoadPagination(page_size, total_data, start_index_val, URL);
            });
    </script>
    <script>
        debugger;
        //document.addEventListener('DOMContentLoaded', function () {
        //    document.getElementById('addRowButton').addEventListener('click', function () {
        //        debugger;
        //        //$('.plandropdown').select2();
        //        var plansDivs = document.querySelectorAll('#container .plans');
        //        var plansDivsCount = plansDivs.length;
        //        var rowcouunts = parseInt( plansDivsCount) + 1
        //        var newid = rowcouunts + "_large";
        //        var newRow = $('#addablerow .plans').clone(); // Clone the content
        //        newRow.find('select').attr('id', newid);
        //        $('#container').append(newRow);
        //        $('#' + newid + '').select2();// Append it to the container
        //       /* ('.plans').find('.your-span-class').remove();*/
        //    });
        //    //var style = document.createElement('style');
        //    //style.innerHTML = '.select2-container--default .select2-selection--single {' +
        //    //    'height: 44px !important;' +
        //    //    '}';
        //    //document.head.appendChild(style); // Append the style element to the document's head
        //    //$('.plandropdown').select2();
        //});

        function getRowValues() {
            debugger;
            var rowsData = [];
            var plansDivs = document.querySelectorAll('#container .plans');
            var sv = "";
            var name=""
            plansDivs.forEach(function (plansDiv) {
                debugger;

                var staticDataInputs = plansDiv.querySelectorAll('.StaticDataValue');
                var nameInputs = plansDiv.querySelectorAll('.name');
                var descriptionInputs = plansDiv.querySelectorAll('.w-full');

                var rowData = [];

                for (var i = 0; i < staticDataInputs.length; i++) {
                    var staticDataValue = staticDataInputs[i].value;
                    var nameValue = nameInputs[i].value;
                    var descriptionValue = descriptionInputs[i].value;

                    rowData.push({
                        StaticDataValue: staticDataValue,
                        name: nameValue,
                        IdentityDescription: descriptionValue
                    });
                }

                rowsData.push(rowData);
            });
            debugger;
            var jsonData = JSON.stringify(rowsData);
            $("#data").val(jsonData)
            $('#ManageClubForm').submit();

        }
        debugger;
        /*var rowcouunt = 1;*/
             @*for (var i = 0; i <@Model.ManageClubModel.PlanDetailList[0].PlanIdentityList.Count; i++) {
     var PlanList = @Html.Raw(Json.Encode(Model.ManageClubModel.PlanDetailList[0]));
      var id = rowcouunt +"_PlanList_IdentityDescription_" + i ;
      if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "dropdown") {
          html += `<div class="input-field-common">
    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2">
        ${PlanList.PlanIdentityList[i].IdentityLabel}
    </label>
       <input type="hidden" name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].StaticDataValue" value=${PlanList.PlanIdentityList[i].StaticDataValue}  class='StaticDataValue'/>
    <input type="hidden"name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].name" value=${PlanList.PlanIdentityList[i].name}   class='name'/>

    <select id="large" name="ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].IdentityDescription"   class="default_select select-common block w-full" style="width: 100%;">
         @foreach (KeyValuePair<string, string> item in ViewBag.PlansList as Dictionary<string, string>)
         {

               <option value="@item.Key" selected>
                     @item.Value
                </option>
         }


    </select>
</div>`;
      }
      else if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "textbox") {
          html += `<div class="input-field-common">
    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2">
        ${PlanList.PlanIdentityList[i].IdentityLabel}
    </label>
    <input type="hidden" name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].StaticDataValue" value=${PlanList.PlanIdentityList[i].StaticDataValue}  class='StaticDataValue'  />
  <input type="hidden" name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].name" value=${PlanList.PlanIdentityList[i].name}   class='name'/>
    <input type="text" name="ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].IdentityDescription"   class="w-full" autocomplete="off" maxlength="100" />
    <span class="error">${PlanList.PlanIdentityList[i].IdentityDescription}</span>
</div>`;
      }
      else if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "time") {
          html += `<div class="input-field-common">
    <label for="instagram" class="block mb-[12px] text-sm font-medium text-secondary-100">
        ${PlanList.PlanIdentityList[i].IdentityLabel}
    </label>
       <input type="hidden"   name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].StaticDataValue" value=${PlanList.PlanIdentityList[i].StaticDataValue}  class='StaticDataValue' />
      <input type="hidden" name= "ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].name" value=${PlanList.PlanIdentityList[i].name} class='name'  />
    <input type="time" name="ManageClubModel.PlanDetailList[${rowcouunt}].PlanIdentityList[${i}].IdentityDescription"   class="w-full" placeholder="HH:MM" autocomplete="off" maxlength="30"  />
    <span class="error">${PlanList.PlanIdentityList[i].IdentityDescription}</span>
  </div>`;
      }
  }*@





     function repeatContent() {
       debugger;
       rowcouunt++;
      var originalContent = document.getElementById('container');
     var plansDivs = document.querySelectorAll('#container .plans');
     var plansDivsCount = plansDivs.length;
     var rowcouunt = parseInt( plansDivsCount)
     var html = "";
     for (var i = 0; i < @Model.ManageClubModel.PlanDetailList[0].PlanIdentityList.Count; i++) {
    var PlanList = @Html.Raw(Json.Encode(Model.ManageClubModel.PlanDetailList[0]));
    var id = rowcouunt + "_PlanList_IdentityDescription_" + i;
    if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "dropdown") {
        html += "<div class='input-field-common'>";
        html += "<label class='block mb-[12px] text-sm font-medium text-secondary-text-2'>";
        html += PlanList.PlanIdentityList[i].IdentityLabel;
        html += "</label>";
        html += "<input type='hidden' name='ManageClubModelPlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].StaticDataValue' value='" + PlanList.PlanIdentityList[i].StaticDataValue + "' class='StaticDataValue' />";
        html += "<input type='hidden' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].name' value='" + PlanList.PlanIdentityList[i].name + "' class='name' />";
        html += "<select id='large' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].IdentityDescription' class='default_select select-common block w-full' style='width: 100%;'>";
         @foreach (KeyValuePair<string, string> item in ViewBag.PlansList as Dictionary<string, string>)
         {
            <text>
                html += "<option value='@item.Key'>@item.Value</option>";
             </text>
             
         }
        // Add options here...
        html += "</select>";
        html += "</div>";
    } else if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "textbox") {
        html += "<div class='input-field-common'>";
        html += "<label class='block mb-[12px] text-sm font-medium text-secondary-text-2'>";
        html += PlanList.PlanIdentityList[i].IdentityLabel;
        html += "</label>";
        html += "<input type='hidden' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].StaticDataValue' value='" + PlanList.PlanIdentityList[i].StaticDataValue + "' class='StaticDataValue' />";
        html += "<input type='hidden' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].name' value='" + PlanList.PlanIdentityList[i].name + "' class='name' />";
        html += "<input type='text' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].IdentityDescription' class='w-full' autocomplete='off' maxlength='100' />";
        html += "<span class='error'>" + PlanList.PlanIdentityList[i].IdentityDescription + "</span>";
        html += "</div>";
    } else if (PlanList.PlanIdentityList[i].inputtype.toLowerCase() === "time") {
        html += "<div class='input-field-common'>";
        html += "<label for='time' class='block mb-[12px] text-sm font-medium text-secondary-100'>";
        html += PlanList.PlanIdentityList[i].IdentityLabel;
        html += "</label>";
        html += "<input type='hidden' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].StaticDataValue' value='" + PlanList.PlanIdentityList[i].StaticDataValue + "' class='StaticDataValue' />";
        html += "<input type='hidden' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].name' value='" + PlanList.PlanIdentityList[i].name + "' class='name' />";
        html += "<input type='time' name='PlanDetailList[" + rowcouunt + "].PlanIdentityList[" + i + "].IdentityDescription' class='w-full' placeholder='HH:MM' autocomplete='off' maxlength='30' />";
        html += "<span class='error'>" + PlanList.PlanIdentityList[i].IdentityDescription + "</span>";
        html += "</div>";
    }
}


            var htmlToInsert =

                `<style>
                    .select2-container--default .select2-selection--single {
                        height: 44px !important;
                  }
                </style>`+
                '<!-- for plan last order and last entry  -->' +
                ' <div class="plans">' +
                '<div class="grid grid-cols-3 gap-x-4 gap-y-5">' +
                html+
                '</div>' +
                '</div>';
          /*    rowCount++;*/
                originalContent.insertAdjacentHTML('beforeend', htmlToInsert);



           // getalllistofolanlist();

            // Initialize Select2 after inserting HTML
            $('#large').select2();
        }

        //function getalllistofolanlist() {
        //    debugger;
        //    var rows = document.querySelectorAll('.plans'); // Get all rows
        //    var rowData = [];
        //    rows.forEach(function (row) {
        //        var inputs = row.querySelectorAll('input, select'); // Get all inputs/selects in this row
        //        var rowDataItem = {};
        //        inputs.forEach(function (input, index) {
        //            var planListIdentityDescription = row.querySelector('[name="PlanList[' + index + '].IdentityDescription"]').value;
        //            rowData.push(planListIdentityDescription);
        //           /* rowDataItem[input.name] = input.value; // Assuming name attribute is set for each input/select*/
        //        });
        //       /* rowData.push(rowDataItem['PlanList[1].IdentityDescription']);*/
        //    });

        //    //console.log(rowData); // Output the collected data

        //};
    </script>

}