@model List<CRS.ADMIN.APPLICATION.Models.RecommendationManagement.ClubRequestListModel>
@{
    ViewBag.Title = "Club Request View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var model = Model;
}
<div class="px-8 py-4 flex flex-col gap-8">
    @Html.AntiForgeryToken()
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">Club List</div>
            <div class="span-title-light-gray"></div>
        </div>
    </div>
    <div class="flex flex-col gap-8">
        <div class="flex justify-between ">
            <form>
                <div class="relative input-search-wrapper">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                            <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                  stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </div>
                    <input type="search" id="default-search" class="input-search block w-full " placeholder="Search"
                           required="">
                </div>
            </form>
            <div class="flex gap-3">
                <div class="export-button h-[40px]">
                    <img src="/Content/assets_new/images/club/download-solid.svg" /> export
                </div>
                <a href="@Url.Action("ManageClubRecommendationRequest", "RecommendationManagement", new { GroupId = ViewBag.GroupId,LocationId=ViewBag.LocationId })">
                    <div class="btn btn-primary-default h-[40px] gap-2">
                        <i class="las la-plus-circle"></i> Add New
                    </div>
                </a>
            </div>
        </div>
        <div class="table-tab">
            <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                <div class="flex items-center select-entries">
                    show&nbsp;
                    <select id="countries" class="w-full select-entires " style="width: 100%; ">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">100</option>
                    </select>&nbsp;entries
                </div>
            </div>
            <div class="relative overflow-x-auto">
                <table class="w-full  text-left club-table">
                    <thead class="club-table-thead">
                        <tr>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    S.N
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Club Profile
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Display Page
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Display Order <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>

                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Updated Date <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>

                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Remarks
                                    <div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="p-[12px]">
                                <div class="flex">
                                    Action<div class="relative pl-[5px]">
                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                    </div>
                                </div>
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                            foreach (var item in Model)
                            {
                                <tr class="bg-white border-b ">
                                    <td class="p-[12px]">
                                        @sno
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="round-image-text flex gap-[12px] w-max ">
                                            <img class="w-[32px] h-[32px] rounded-full"
                                                 src="@item.ClubLogo" />

                                            <div class="flex justify-between w-full">
                                                <div class="text-image grid flex-none">
                                                    <div class="text-sm font-semibold text-[#101828] ">@item.ClubName</div>
                                                    <div class="platinum ">@item.ClubCategory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        @item.DisplayPage
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.DisplayOrder
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="w-max">
                                            @item.ActionDate
                                        </div>
                                    </td>
                                    <td class="p-[12px]">
                                        This is remarks.
                                    </td>
                                    <td class="p-[12px]">
                                        <div class="flex gap-[7px] items-center justify-center text-[24px]">
                                            <i class="fa-regular fa-pen-to-square text-[#989898]  cursor-pointer" onclick="ShowDetail('@item.RecommendationId')"></i>
                                            <i class="las la-trash-alt text-[#CB3F3F]  cursor-pointer" onclick="DeleteRequest('@item.RecommendationId')"></i>
                                        </div>
                                    </td>
                                </tr>
                                sno++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination-club">
                <div class="show-entry">Showing 1 to 5 of 301 Entries</div>
                <div class="flex gap-[12px]">
                    <div class="btn btn-secondary-box-shadow ">Previous</div>
                    <div class="flex gap-[12px]">
                        <div class="pagination-number active">
                            1
                        </div>
                        <div class="pagination-number">
                            2
                        </div>
                        <div class="pagination-number">
                            3
                        </div>
                        <div class="pagination-number">
                            ..
                        </div>
                        <div class="pagination-number">
                            10
                        </div>
                    </div>
                    <div class="btn btn-secondary-box-shadow ">Next</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function ShowDetail(recommendationId) {
            window.location.href = "/RecommendationManagement/ManageClubRecommendationRequest?recommendationId=" + recommendationId + "&GroupId=" + '@ViewBag.GroupId' + "&locationId=" + '@ViewBag.LocationId';
        }
    </script>
    <!--Club recommendation delete section jQuery Code-->
    <script>
        function DeleteRequest(recommendationId) {
            $.ajax({
                type: 'POST',
                async: true,
                url: "/RecommendationManagement/DeleteClubRecommendatioRequest?recommendationId=" + recommendationId,
                dataType: 'json',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                },
                success: function (responseData) {
                    window.location.reload();
                },
                error: function (ex) {

                }
            });
        }
    </script>
}
