@model CRS.ADMIN.APPLICATION.Models.PromotionManagement.PromotionManagementCommonModel
@{
    ViewBag.Title = "Promotion Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _PromotionManagementModel = Model.PromotionManagementModel as CRS.ADMIN.APPLICATION.Models.PromotionManagement.PromotionManagementModel;
    var _AdvertisementModel = Model.AdvertisementManagementModel as CRS.ADMIN.APPLICATION.Models.PromotionManagement.AdvertisementManagementModel;

}
<style>
    .file-upload-common.bg-gray-gallery {
        background: #F5F5F5;
    }
</style>
<div class="px-8 py-4">
    <div class="flex flex-col  gap-6">
        <div>
            <div class="heading-title">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Promotion_Management
            </div>
            <div class="span-title-light-gray">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_your_promotion_details_
            </div>
        </div>
        <div id="tab1" class="tab-content-plane">
            <div class="flex flex-col gap-8">
                <div id="tab1" class="tab-content">
                    <div class="flex gap-4 mb-8 border-b ">
                        <div id="tab1Link" class="styleCss active px-1 pb-4 cursor-pointer active" onclick="changeTab('banner', 'tab1Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Banners
                        </div>
                        <div id="tab2Link" class="styleCss px-1 pb-4 cursor-pointer" onclick="changeTab('advertisement', 'tab2Link')">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Advetisements
                        </div>
                    </div>


                    <div id="banner" class="pane active table-tab">
                        <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                            <div class="flex items-center select-entries" id="ShowEntries-Id">
                            </div>
                        </div>
                        <div class="flex justify-between px-[12px] py-[16px]">
                            <form action="/PromotionManagement/GetPromotionalImages" method="get">
                                <div class="relative input-search-wrapper">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                            <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                                  stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </div>
                                    <input type="search"
                                           id="default-search"
                                           class="input-search block w-full "
                                           placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                           value="@Model.SearchFilter"
                                           name="SearchFilter">
                                </div>
                            </form>
                            <div class="btn btn-primary gap-[8px] h-[40px]" data-drawer-target="add-new-host-location"
                                 data-drawer-show="add-new-host-location" data-drawer-placement="right" data-drawer-backdrop="false"
                                 aria-controls="drawer-disabled-backdrop">
                                <img src="~/Content/assets_new/images/plus-circle-solid.svg">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Add_New
                            </div>
                        </div>
                        <div class="relative overflow-x-auto">
                            <table class="w-full  text-left club-table" id="table-id">
                                <thead class="club-table-thead">
                                    <tr>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                S.N
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Image_Titile
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Image_Description
                                                <div class="relative pl-[5px]">
                                                    <svg class="svg-inline--fa fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg><!-- <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i> Font Awesome fontawesome.com -->
                                                    <svg class="svg-inline--fa fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg><!-- <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i> Font Awesome fontawesome.com -->
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Image
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Status
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Created_On
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="p-[12px]">
                                            <div class="flex justify-center">
                                                @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                                <div class="relative pl-[5px]">
                                                    <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                    <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.PromotionManagementListModel)
                                        {
                                            <tr class="bg-white border-b ">
                                                <td class="p-[12px]">
                                                    @item.SNO
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="round-image-text gap-[12px]">
                                                        @item.Title
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    <div class="round-image-text gap-[12px]">
                                                        @item.Description
                                                    </div>
                                                </td>
                                                <td class="p-[12px]">
                                                    @if (!string.IsNullOrEmpty(item.ImagePath))
                                                    {
                                                        <img class="table-image h-[36px] w-[88px]" src="@item.ImagePath">
                                                    }
                                                    else
                                                    {
                                                        <img class="table-image h-[36px] w-[88px]" src="~/Content/assets_new/images/demo-image.jpeg">
                                                    }
                                                </td>
                                                <td class="p-[12px]">
                                                    @if (!string.IsNullOrEmpty(item.IsDeleted) && item.IsDeleted.ToUpper() == "A")
                                                    {
                                                        <span class="badge badge-success approved items-start gap-1">Active <i class="fa-solid fa-sort-down"></i></span>
                                                    }
                                                    else if (!string.IsNullOrEmpty(item.IsDeleted) && item.IsDeleted.ToUpper() == "B")
                                                    {
                                                        <span class="badge badge-danger blocked items-start gap-1">Blocked <i class="fa-solid fa-sort-down"></i></span>
                                                    }
                                                </td>
                                                <td class="p-[12px]">
                                                    @item.ActionDate
                                                </td>

                                                <td class="p-[12px]">
                                                    <div class="flex gap-[7px] justify-center text-[20px] ">
                                                        @if (!string.IsNullOrEmpty(item.IsDeleted) && item.IsDeleted.ToLower() == "a")
                                                        {
                                                            <div onclick="ManagePormotion('@item.Id');">
                                                                <i class="las la-edit text-[#989898] cursor-pointer"></i>
                                                            </div>
                                                            <div onclick="ManageStatus('@item.Id')">
                                                                @*<i class="fa-solid fa-lock"></i>*@
                                                                <i class="las la-lock text-[#CB3F3F] cursor-pointer"></i>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div onclick="ManageStatus('@item.Id')">
                                                                <i class="las la-unlock text-[#CB3F3F] cursor-pointer"></i>
                                                            </div>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-club">
                            <div class="show-entry" id="Entries-Id">
                            </div>
                            <div class="flex gap-[12px]">
                                <div class="btn btn-secondary-box-shadow" id="prev-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                </div>
                                <div class="flex gap-[12px]" id="pagination-id">
                                </div>
                                <div class="btn btn-secondary-box-shadow" id="next-btn">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="advertisement" class="pane table-tab" style="display: none;">
                        @Html.Partial("_AdvertisementList", Model)
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ManagePormotion", _PromotionManagementModel)

@Html.Partial("_ManageAdvertisementPartialView", _AdvertisementModel)
<!--Manage Location-->
@section scripts
{
    <script>
        $(document).ready(function () {
            var PopUpRenderValue = '@ViewBag.PopUpRenderValue';
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "Manage") {
                var element = document.getElementById('add-new-host-location');
                element.classList.remove('translate-x-full');
            }
            if (PopUpRenderValue != null && PopUpRenderValue != "" && PopUpRenderValue == "ManageAdvertisement") {
                var element = document.getElementById('add-new-advertisement');
                element.classList.remove('translate-x-full');
            }

        });
        function addQueryParam2(url, paramName, paramValue, paramName2, paramValue2) {
            // Add the first query parameter
            if (paramValue != null && paramValue != "") {
                // Check if it's the first parameter, if so, use "?" else use "&"
                url += url.includes('?') ? `&${paramName}=${paramValue}` : `?${paramName}=${paramValue}`;
            }

            // Add the second query parameter
            if (paramValue2 != null && paramValue2 != "") {
                url += url.includes('?') ? `&${paramName2}=${paramValue2}` : `?${paramName2}=${paramValue2}`;
            }

            return url;
        }
        function ManagePormotion(i) {
            window.location.href = '/PromotionManagement/ManagePromotionalImage?Id=' + i;
        }
        function ManageAdvertisement(i) {
            const page_size = @ViewBag.PageSize2;
            const total_data = @ViewBag.TotalData2;
            const start_index_val = @ViewBag.StartIndex2;
            var searchfilter = $("#default-search2").val();
            window.location.href = '/PromotionManagement/ManageAdvertisementImage?Id=' +i+ '&SearchFilter2=' + searchfilter + '&StartIndex2=' + start_index_val + '&PageSize2=' + page_size;
        }

        function ManageStatus(i) {
             var RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
             $.ajax({
                  type: "POST",
                  url: '@Url.Action("BlockUnblockPromotionalImage", "PromotionManagement")',
                  data: {
                      '__RequestVerificationToken': RequestVerificationToken, 'Id': i},
                 success: function (response) {
                     window.location.reload();
                  },
                 error: function (error) {
                     window.location.reload();
                  }
              })
        }
        document.getElementById('CloseId').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
        document.getElementById('CancelId').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
        document.getElementById('CloseIdadv').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
        document.getElementById('CancelIdadv').addEventListener('click',
            function (event) {
                event.preventDefault();
                window.location.reload();
            });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
         if ($("#ListType").val().toLowerCase() == "a") {
          changeTab('advertisement', 'tab2Link')
          const page_size = @ViewBag.PageSize2;
          const total_data = @ViewBag.TotalData2;
          const start_index_val = @ViewBag.StartIndex2;
          let URL = "/PromotionManagement/GetPromotionalImages";
          let search_filter = $('#default-search2').val();
          URL = addQueryParam2(URL, 'SearchFilter2', search_filter);
          LoadPagination(page_size, total_data, start_index_val, URL);
        }
       else {
          changeTab('banner', 'tab1Link')
          const page_size = @ViewBag.PageSize;
          const total_data = @ViewBag.TotalData;
          const start_index_val = @ViewBag.StartIndex;
          let URL = "/PromotionManagement/GetPromotionalImages";
          let search_filter = $('#default-search').val();
          URL = addQueryParam2(URL, 'SearchFilter', search_filter);
          LoadPagination(page_size, total_data, start_index_val, URL);

        }


         });
    </script>

    <script>
        document.getElementById('tab1Link').style.color = '#D75A8B';
        document.getElementById('tab1Link').style.borderBottom = '#D75A8B 2px solid';

        function changeTab(selectedTabId, selectedLinkId) {
            var tabLinks = document.querySelectorAll('.styleCss');
            var tabContents = document.querySelectorAll('.pane');

            // Toggle active class for tab links
            tabLinks.forEach(function (link) {
                if (link.id === selectedLinkId) {
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            });

            // Toggle display for tab contents
            tabContents.forEach(function (content) {
                if (content.id === selectedTabId) {
                    content.style.display = 'block';
                } else {
                    content.style.display = 'none';
                }
            });
            // Change color for tab links
            if (selectedLinkId === 'tab1Link') {
                document.getElementById('tab1Link').style.color = '#D75A8B';
                document.getElementById('tab1Link').style.borderBottom = '#D75A8B 2px solid';
                document.getElementById('tab2Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '';
               const page_size = @ViewBag.PageSize;
               const total_data = @ViewBag.TotalData;
               const start_index_val = @ViewBag.StartIndex;
               let URL = "/PromotionManagement/GetPromotionalImages";
               let search_filter = $('#default-search').val();
               URL = addQueryParam2(URL, 'SearchFilter', search_filter);
               LoadPagination(page_size, total_data, start_index_val, URL);



            } else if (selectedLinkId === 'tab2Link') {
                document.getElementById('tab1Link').style = ''; // Reset color for other link
                document.getElementById('tab1Link').style.borderBottom = '';
                document.getElementById('tab2Link').style.color = '#D75A8B';
                document.getElementById('tab2Link').style.borderBottom = '#D75A8B 2px solid';
                $("#ListType").val("a");
                const page_size = @ViewBag.PageSize2;
                const total_data = @ViewBag.TotalData2;
                const start_index_val = @ViewBag.StartIndex2;
                let URL = "/PromotionManagement/GetPromotionalImages";
                let search_filter = $('#default-search2').val();
                URL = addQueryParam2(URL, 'SearchFilter2', search_filter);
                LoadPagination(page_size, total_data, start_index_val, URL);

            }
        }

    </script>
}
