@model CRS.ADMIN.APPLICATION.Models.RoleManagement.ManageRole
<div id="add-new-roles"
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Manage_Role
                </div>
                <button type="button" data-drawer-hide="add-new-roles" aria-controls="add-new-roles"
                        class="text-[20px]" id="CloseId">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        @using (Html.BeginForm("AddRoleType", "RoleManagement", FormMethod.Post, new { @id = "ManageRoleTypeForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.RoleType)
            @Html.HiddenFor(model => model.RoleTypeName)
            <div class="p-[24px]">
                <div class="pb-[16px] grid gap-4">
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Role_Title
                        </label>
                        @Html.TextBoxFor(model => model.RoleName, new
                        {
                            @class = "w-full rounded-[4px]",
                            @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Role_Title_Placeholder,
                       @style = "border-radius:4px !important",
                            @onkeypress = "return isAlphabetWithSpace(event)",
                            autocomplete = "off",
                            @maxLength = "50"
                        })
                        <span class="validationMessage">
                            @Html.ValidationMessageFor(m => m.RoleName)
                        </span>
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Description
                        </label>
                        @Html.TextAreaFor(model => model.Description, new
                        {
                            @class = "w-full",
                            @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Role_Description_Placeholder,
                        @onkeypress = "return isAlphabetWithSpace(event)",
                            autocomplete = "off",
                            @maxLength = 200
                        })
                        <span class="validationMessage">
                            @Html.ValidationMessageFor(m => m.Description)
                        </span>
                    </div>
                </div>
                <div class="flex justify-end py-4">
                    <div class="flex gap-6">
                        <button class="resetForm btn btn-gray-white h-[40px] rounded-[4px] px-8 text-sm" id="CancelId">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        <a>
                            <button class="resetForm btn btn-primary-default h-[40px] px-8 rounded-[4px]  text-sm leading-[10px]">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Submit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>