<!-- drawer component -->
<div id="custom-date-drawer"
     class="fixed top-0 right-0 z-40 h-screen px-[32px] py-[48px] overflow-y-auto transition-transform translate-x-full bg-white w-[629px] "
     tabindex="-1" aria-labelledby="drawer-right-label">

    <div class="flex items-center justify-end">
        <button type="button" data-drawer-hide="custom-date-drawer" aria-controls="custom-date-drawer" class=" ">
            <img src="~/Content/assets_new/images/drawer-close.svg" />
        </button>
    </div>
    <!--- calender --->
    <div class="py-[32px] ">
        <div class="flex justify-between pb-[24px] items-center text-base font-medium">
            <div class="">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Calendar
            </div>
            <div class="flex gap-[12px] items-center">
                <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="flex text-base font-medium">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.August - @CRS.ADMIN.APPLICATION.Resources.Resource.September
                </div>
                <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="grid gap-[12px]">
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>SUN</div>
                        <div> 30</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>MON</div>
                        <div> 31</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>TUE</div>
                        <div> 1</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>WED</div>
                        <div> 2</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>THU</div>
                        <div> 3</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card active">
                    <div class="text-xs font-medium text-center">
                        <div>FRI</div>
                        <div> 4</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>SAT</div>
                        <div> 5</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>SUN</div>
                        <div> 6</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>MON</div>
                        <div>7</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>TUE</div>
                        <div>8</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>WED</div>
                        <div>9</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>THU</div>
                        <div>10</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>FRI</div>
                        <div>11</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>SAT</div>
                        <div>12</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>SUN</div>
                        <div>13</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>MON</div>
                        <div>14</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>TUE</div>
                        <div>15</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>WED</div>
                        <div>16</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>THU</div>
                        <div>17</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>FRI</div>
                        <div>18</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>SAT</div>
                        <div>19</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>SUN</div>
                        <div>20</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>MON</div>
                        <div>21</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>TUE</div>
                        <div>22</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>WED</div>
                        <div>23</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>THU</div>
                        <div>24</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>FRI</div>
                        <div>25</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>SAT</div>
                        <div>26</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>SUN</div>
                        <div>27</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>MON</div>
                        <div>28</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>TUE</div>
                        <div>29</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>WED</div>
                        <div>30</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>THU</div>
                        <div>31</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>FRI</div>
                        <div>1</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>SAT</div>
                        <div>2</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-end">
        <div class="flex gap-[24px]">
            <button class="btn btn-secondary "> @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel</button>
            <button class="btn btn-primary">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Confirm
            </button>
        </div>
    </div>

</div>
