@model List<CRS.ADMIN.APPLICATION.Models.ReservationLedger.ReservationLedgerDetailModel>

@{
    ViewBag.Title = "Club Reservations Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-8 py-4 flex flex-col gap-8">

    <!-- booking information  -->
    <div class="flex justify-between items-center">
        <div>
            <div class="heading-title">
                Club Reservations Details
            </div>
            <div class="span-title-light-gray">
                Manage club's' reservation informations.
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <div class="py-4">
            <div class="flex flex-col  gap-8">
                <div class="flex justify-between ">
                    @using (Html.BeginForm("ReservationLedgerList", "ReservationLedger", FormMethod.Get))
                    {
                        @Html.HiddenFor(x => x.FirstOrDefault().ClubId)
                        <div class="relative input-search-wrapper">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                     fill="none">
                                    <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                          stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                          stroke-linejoin="round">
                                    </path>
                                </svg>
                            </div>
                            <input type="search" id="default-search"
                                   class="input-search block w-full "
                                   placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                                   name="searchText" value="@ViewBag.SearchText">
                        </div>

                    }
                    <div class="flex gap-4">
                    </div>
                </div>

                <div class="bg-white  ">
                    <div id="tab1" class="tab-content">
                        <!-- Content for Tab 1 -->
                        <!-- table  -->
                        <div class="table-tab">
                            <div class="px-[12px] py-[16px] flex justify-between entry-export-container">
                                <div class="flex items-center select-entries">
                                    @*@CRS.ADMIN.APPLICATION.Resources.Resource.Show&nbsp;
                                        <select id="countries" class="w-full select-entires " style="width: 100%; ">
                                            <option value="5" selected>5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">100</option>
                                        </select>&nbsp;@CRS.ADMIN.APPLICATION.Resources.Resource.Entries*@
                                </div>
                                <div class="export-button h-[40px]">
                                    <img src="~/Content/assets_new/images/club/download-solid.svg">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Export
                                </div>
                            </div>

                            <div class="relative overflow-x-auto">
                                <table class="w-full  text-left club-table">
                                    <thead class="club-table-thead">
                                        <tr>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    S.N
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Customer
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Plan
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.People
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Visit_Date
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Visit_Time
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Payment_Option
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Club Verification
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Transaction Status
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Reservation Type
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Plan Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Total Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Commission Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Total Commission Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="col" class="p-[12px]">
                                                <div class="flex w-max">
                                                    Admin Payment Amount
                                                    <div class="relative pl-[5px]">
                                                        <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                                        <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rowCount = 1;
                                            foreach (var paymentLedger in Model)
                                            {
                                                <tr class="bg-white border-b ">
                                                    <td class="p-[12px] w-max">
                                                        @rowCount
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="round-image-text flex gap-[12px] w-max ">
                                                            <img class="w-[32px] h-[32px] rounded-full"
                                                                 src="@paymentLedger.CustomerImage" />

                                                            <div class="flex justify-between w-full">
                                                                <div class="text-image grid flex-none">
                                                                    <div class="text-sm font-semibold text-[#101828] ">
                                                                        @paymentLedger.CustomerName
                                                                    </div>
                                                                    <div class='text-sm  text-[#667085] '>
                                                                        @paymentLedger.CustomerNickName
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="p-[12px] w-max">

                                                        <div class="plan-b">
                                                            @paymentLedger.PlanName
                                                        </div>

                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        @paymentLedger.NoOfPeople
                                                    </td>

                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">@paymentLedger.VisitDate</div>

                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">@paymentLedger.VisitTime</div>

                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="plan-b w-max">
                                                            @paymentLedger.PaymentType
                                                        </div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">@paymentLedger.ClubVerification</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">@paymentLedger.TransactionStatus</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">@paymentLedger.ReservationType</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max ">¥@paymentLedger.PlanAmount</div>

                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max text-[#1976D2] ">¥@paymentLedger.TotalAmount</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max text-[#1976D2] ">¥@paymentLedger.CommissionAmount</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max text-[#1976D2] ">¥@paymentLedger.TotalCommissionAmount</div>
                                                    </td>
                                                    <td class="p-[12px] w-max">
                                                        <div class="w-max text-[#1976D2] ">¥@paymentLedger.AdminPaymentAmount</div>
                                                    </td>
                                                </tr>
                                                rowCount++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @*<div class="pagination-club">
                                    <div class="show-entry">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Showing 1 to 5 of 301 @CRS.ADMIN.APPLICATION.Resources.Resource.Entries
                                    </div>
                                    <div class="flex gap-[12px]">
                                        <div class="btn btn-secondary-box-shadow ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                                        </div>
                                        <div class="flex gap-[12px]">
                                            <div class="pagination-number active">

                                                1
                                            </div>
                                            <div class="pagination-number">
                                                2
                                            </div>
                                            <div class="pagination-number">
                                                3
                                            </div>
                                            <div class="pagination-number">
                                                ..
                                            </div>
                                            <div class="pagination-number">
                                                10
                                            </div>

                                        </div>
                                        <div class="btn btn-secondary-box-shadow ">
                                            @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_CustomDate")
</div>