
@{
    ViewBag.Title = "Reservation Ledger List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<div class="px-8 py-4">
    <!-- title  -->
    <div class="flex flex-col  gap-8">
        <div class="flex justify-between items-center">
            <div>
                <div class="heading-title">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.Reservation_Ledger
                </div>
                <div class="span-title-light-gray">
                    Manage club's reservation informations.
                </div>
            </div>
            @*<div class="flex gap-6">
                    <div class="btn btn-primary-normal h-[40px] gap-1 font-semibold px-4"
                         data-drawer-target="custom-date-drawer" data-drawer-show="custom-date-drawer"
                         data-drawer-placement="right" aria-controls="custom-date-drawer">
                        <i class="las la-calendar"></i>
                        @CRS.ADMIN.APPLICATION.Resources.Resource.View_Calendar
                    </div>
                </div>*@
        </div>
        <div class="flex flex-col  gap-4">
            <form action="/ReservationLedger/ReservationLedgerList" method="get">
                <div class="flex justify-between ">
                    @*<form action="/ReservationLedger/ReservationLedgerList" method="get">*@
                    <div class="relative input-search-wrapper">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-[16px] pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                 fill="none">
                                <path d="M17.5 18L13.875 14.375M15.8333 9.66667C15.8333 13.3486 12.8486 16.3333 9.16667 16.3333C5.48477 16.3333 2.5 13.3486 2.5 9.66667C2.5 5.98477 5.48477 3 9.16667 3C12.8486 3 15.8333 5.98477 15.8333 9.66667Z"
                                      stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                      stroke-linejoin="round">
                                </path>
                            </svg>
                        </div>
                        @*<input type="hidden" name="ClubId" value="@ViewBag.ClubIdKey" />
                        <input name="FromDate" value="@ViewBag.FromDate" hidden />
                        <input name="ToDate" value="@ViewBag.ToDate" hidden />*@
                        <input type="search"
                               id="default-search"
                               class="input-search block w-full "
                               placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Search"
                               value="@ViewBag.SearchText"
                               name="SearchText">
                    </div>
                    @*</form>*@

                </div>
                <br />
                <!-- filter  -->
                <div class="mb-4">
                    <div id="filter" class="export-button h-[40px] text-[#3E3E3E] w-max" onclick="showFilterContainer()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                            <path d="M5 10.5H15M2.5 5.5H17.5M7.5 15.5H12.5" stroke="#3E3E3E" stroke-width="1.67"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        @CRS.ADMIN.APPLICATION.Resources.Resource.Filter_By
                    </div>

                    <div id="filter-container" class="px-6 py-5 rounded-[5px] border border-[#D0D5DD]"
                         style="display: none;">
                        @*<form action="/ReservationLedger/ReservationLedgerList" method="get" id="filter-id">*@
                        <div class="flex flex-col gap-4">
                            <div class="flex text-[#3E3E3E] gap-1 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M5 10.5H15M2.5 5.5H17.5M7.5 15.5H12.5" stroke="#3E3E3E" stroke-width="1.67"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Filter_By
                            </div>

                            <div class="grid grid-cols-3 gap-[27px]">
                                @*<div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Hosts
                                </label>
                                <select id="large" name="Host" class=" default_select select-common block w-full "
                                        style="width: 100%;">
                                    <option>Select Host</option>
                                    <option value="CA">club</option>
                                    <option value="FR">club</option>
                                    <option value="DE">club</option>
                                </select>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Status
                                </label>
                                <select id="large" name="ClubStatus" class=" default_select select-common block w-full "
                                        style="width: 100%;">
                                    <option>Select Club Status</option>
                                    <option value="CA">club</option>
                                    <option value="FR">club</option>
                                    <option value="DE">club</option>
                                </select>
                            </div>*@
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.ClubName
                                    </label>
                                    <select id="large" name="ClubId" class=" default_select select-common block w-full "
                                            style="width: 100%;">
                                        @foreach (var item in ViewBag.ClubDDL as IEnumerable<SelectListItem>)
                                        {
                                            var selectedId = ViewBag.ClubIdKey as string;
                                            if (item.Value == selectedId)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">
                                                    @item.Text
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.From_Date
                                    </label>
                                    <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.From_Date" name="FromDate" id="FromDate" value="@ViewBag.FromDate" readonly>
                                </div>
                                <div class="input-field-common">
                                    <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.To_Date
                                    </label>
                                    <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.To_Date" name="ToDate" id="ToDate" value="@ViewBag.ToDate" readonly>
                                </div>

                            </div>
                        </div>
                        <div class=" flex gap-4 mt-4">
                            <button id="cancelFilter" class="btn btn-primary-normal gap-1 rounded-[4px]"
                                    onclick="window.location.href='@Url.Action("ReservationLedgerList", "ReservationLedger")';" type="button">
                                <i class="las la-times"></i>@CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                            </button>

                            <button id="cancelFilter" class="btn btn-primary-default gap-1 rounded-[4px]" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                     height="19" viewBox="0 0 18 19" fill="none">
                                    <path d="M5.25 14.75V10.25H12.75V14.75H14.25V6.371L12.129 4.25H3.75V14.75H5.25ZM3 2.75H12.75L15.75 5.75V15.5C15.75 15.6989 15.671 15.8897 15.5303 16.0303C15.3897 16.171 15.1989 16.25 15 16.25H3C2.80109 16.25 2.61032 16.171 2.46967 16.0303C2.32902 15.8897 2.25 15.6989 2.25 15.5V3.5C2.25 3.30109 2.32902 3.11032 2.46967 2.96967C2.61032 2.82902 2.80109 2.75 3 2.75ZM6.75 11.75V14.75H11.25V11.75H6.75Z"
                                          fill="white" />
                                </svg>@CRS.ADMIN.APPLICATION.Resources.Resource.Apply
                            </button>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </form>
            <!-- table  -->
            <div class="table-tab">
                <div class="px-[16px] py-[12px] flex justify-between entry-export-container">
                    <div class="flex items-center select-entries" id="ShowEntries-Id">
                    </div>
                    <div class="export-button h-[40px]" onclick="exportExcel('table-id', 'ReservationLedger')">
                        <img src="~/Content/assets_new/images/club/download-solid.svg"> @CRS.ADMIN.APPLICATION.Resources.Resource.Export
                    </div>
                </div>
                <div class="relative overflow-x-auto">
                    <table class="w-full  text-left club-table" id="table-id">
                        <thead class="club-table-thead">
                            <tr>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        S.N
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Club_Profile
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Total_Visitors
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Admin_Payment
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Date
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="p-[12px]">
                                    <div class="flex justify-center">
                                        @CRS.ADMIN.APPLICATION.Resources.Resource.Action
                                        <div class="relative pl-[5px]">
                                            <i class="fa-solid fa-chevron-up text-[8px] absolute top-[2px] text-[#545659]"></i>
                                            <i class="fa-solid fa-chevron-down text-[8px] absolute top-[8px] let-[5px] text-[#c3b6b9]"></i>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in ViewBag.LedgerList)
                                {
                                    <tr class="bg-white border-b ">
                                        <td class="p-[12px]">
                                            @item.SNO
                                        </td>
                                        <td class="p-[12px] w-max">
                                            <div class="round-image-text w-max flex gap-[12px]">
                                                <img class="w-[32px] h-[32px] rounded-full"
                                                     src="@item.ClubLogo">

                                                <div class="flex justify-between w-full">
                                                    <div class="text-image grid flex-none ">
                                                        <div class="text-sm font-semibold text-[#101828] ">@item.ClubName</div>
                                                        <div class="platinum ">@item.ClubCategory</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-[12px]">
                                            @item.TotalVisitors
                                        </td>
                                        <td class="p-[12px]">
                                            <div class="text-[#245EDC]">
                                                ¥@item.AdminPayment
                                            </div>
                                        </td>
                                        <td class="p-[12px]">
                                            @item.TransactionFormattedDate
                                        </td>
                                        <td class="p-[12px]">
                                            <div class="text-[#E3AB00] text-center text-[20px]"
                                                 onclick="window.location.href='@Url.Action("ReservationLedgerDetail","ReservationLedger", new {ClubId = item.ClubId, Date = item.TransactionDate})'">
                                                <i class="las la-eye"></i>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }
                    </table>
                </div>
                <div class="pagination-club">
                    <div class="show-entry" id="Entries-Id">
                    </div>
                    <div class="flex gap-[12px]">
                        <div class="btn btn-secondary-box-shadow" id="prev-btn">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Previous
                        </div>
                        <div class="flex gap-[12px]" id="pagination-id">
                        </div>
                        <div class="btn btn-secondary-box-shadow" id="next-btn">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Next
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Custom date picker section-->
<!-- drawer component -->
<div id="custom-date-drawer"
     class="fixed top-0 right-0 z-40 h-screen px-[32px] py-[48px] overflow-y-auto transition-transform translate-x-full bg-white w-[629px] "
     tabindex="-1" aria-labelledby="drawer-right-label">

    <div class="flex items-center justify-end">
        <button type="button" data-drawer-hide="custom-date-drawer" aria-controls="custom-date-drawer" class=" ">
            <img src="/Content/assets_new/images/drawer-close.svg" />
        </button>
    </div>
    <!--- calender --->

    <div class="py-[32px] ">
        <div class="flex justify-between pb-[24px] items-center text-base font-medium">
            <div class="">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Calendar
            </div>
            <div class="flex gap-[12px] items-center">
                <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="flex text-base font-medium">
                    @CRS.ADMIN.APPLICATION.Resources.Resource.August - @CRS.ADMIN.APPLICATION.Resources.Resource.September
                </div>
                <div class="flex h-[32px] w-[40px] justify-center items-center border border-[#D9D9D9] rounded-[4px]">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

        </div>
        <div class="grid gap-[12px]">
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Sunday
                        </div>
                        <div> 30</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Monday
                        </div>
                        <div> 31</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tuesday
                        </div>
                        <div> 1</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Wednesday
                        </div>
                        <div> 2</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Thursday
                        </div>
                        <div> 3</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card active">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Friday
                        </div>
                        <div> 4</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Saturday
                        </div>
                        <div> 5</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Sunday
                        </div>
                        <div> 6</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Monday
                        </div>
                        <div>7</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tuesday
                        </div>
                        <div>8</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Wednesday
                        </div>
                        <div>9</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Thursday
                        </div>
                        <div>10</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Friday
                        </div>
                        <div>11</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Saturday
                        </div>
                        <div>12</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Sunday
                        </div>
                        <div>13</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Monday
                        </div>
                        <div>14</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tuesday
                        </div>
                        <div>15</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Wednesday
                        </div>
                        <div>16</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Thursday
                        </div>
                        <div>17</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Friday
                        </div>
                        <div>18</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Saturday
                        </div>
                        <div>19</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Sunday
                        </div>
                        <div>20</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Monday
                        </div>
                        <div>21</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tuesday
                        </div>
                        <div>22</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Wednesday
                        </div>
                        <div>23</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Thursday
                        </div>
                        <div>24</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Friday
                        </div>
                        <div>25</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Saturday
                        </div>
                        <div>26</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
            <div class="flex justify-between calender-card-container  ">
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Sunday
                        </div>
                        <div>27</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>

                </div>
                <div class="calender-card ">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Monday
                        </div>
                        <div>28</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Tuesday
                        </div>
                        <div>29</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Wednesday
                        </div>
                        <div>30</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Thursday
                        </div>
                        <div>31</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Friday
                        </div>
                        <div>1</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
                <div class="calender-card disabled">
                    <div class="text-xs font-medium text-center">
                        <div>
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Saturday
                        </div>
                        <div>2</div>
                    </div>
                    <div class="calender-number">
                        12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-end">
        <div class="flex gap-[24px]">
            <button class="btn btn-secondary ">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
            </button>
            <button class="btn btn-primary">
                @CRS.ADMIN.APPLICATION.Resources.Resource.Confirm
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                const page_size = @ViewBag.PageSize;
                const total_data = @ViewBag.TotalData;
                const start_index_val = @ViewBag.StartIndex;
                let URL = "/ReservationLedger/ReservationLedgerList";
                let search_filter = '@ViewBag.SearchFilter';
                let FromDate = '@ViewBag.FromDate';
                let ToDate = '@ViewBag.ToDate';
                let ClubId = '@ViewBag.ClubIdKey';

                URL = addQueryParam(URL, 'SearchFilter', search_filter);
                URL = addQueryParam(URL, 'FromDate', FromDate);
                URL = addQueryParam(URL, 'ToDate', ToDate);
                URL = addQueryParam(URL, 'ClubId', ClubId);
                LoadPagination(page_size, total_data, start_index_val, URL);

            debugger;
                var currentDate = new Date();
            var lastThreeMonths = new Date();
            var Future14days = new Date();
                lastThreeMonths.setMonth(currentDate.getMonth() - 3);
            Future14days.setDate(currentDate.getDate() + 14);
                 $("#FromDate").val("@ViewBag.FromDate");
                 jQuery(function ($) {
                     $.datepicker.regional['ja'] = {
                         closeText: '閉じる',
                         prevText: '&#x3c;前',
                         nextText: '次&#x3e;',
                         currentText: '今日',
                         monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                             '7月', '8月', '9月', '10月', '11月', '12月'],
                         monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                             '7月', '8月', '9月', '10月', '11月', '12月'],
                         dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                         dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                         dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                         weekHeader: '週',
                         dateFormat: 'yy/mm/dd',
                         firstDay: 0,
                         isRTL: false,
                         showMonthAfterYear: true,
                         yearSuffix: '年'
                     };
                     $.datepicker.setDefaults($.datepicker.regional['ja']);
                     $("#FromDate").datepicker({
                         minDate: lastThreeMonths,
                         //maxDate: new Date(),
                         maxDate: Future14days,
                         defaultDate: '@ViewBag.FromDate'
                     });
                 });

                $("#ToDate").val("@ViewBag.ToDate");
                 jQuery(function ($) {
                     $.datepicker.regional['ja'] = {
                         closeText: '閉じる',
                         prevText: '&#x3c;前',
                         nextText: '次&#x3e;',
                         currentText: '今日',
                         monthNames: ['1月', '2月', '3月', '4月', '5月', '6月',
                             '7月', '8月', '9月', '10月', '11月', '12月'],
                         monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月',
                             '7月', '8月', '9月', '10月', '11月', '12月'],
                         dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
                         dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                         dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
                         weekHeader: '週',
                         dateFormat: 'yy/mm/dd',
                         firstDay: 0,
                         isRTL: false,
                         showMonthAfterYear: true,
                         yearSuffix: '年'
                     };
                     $.datepicker.setDefaults($.datepicker.regional['ja']);
                     $("#ToDate").datepicker({
                         minDate: lastThreeMonths,
                         //maxDate: new Date(),
                         maxDate: Future14days,
                         defaultDate: '@ViewBag.ToDate'
                     });
                 });
            });
    </script>
}