
@model CRS.ADMIN.APPLICATION.Models.RecommendationManagementV2.ManageGroup
<!-- add manage-groupfrom -->
<div id="manage-group"
     class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[616px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>@CRS.ADMIN.APPLICATION.Resources.Resource.Manage_Group</div>
                <button type="button" data-drawer-hide="manage-group" aria-controls="manage-group" class="text-[20px]">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        @using (Html.BeginForm("ManageGroup", "RecommendationManagementV2", FormMethod.Post, new { @id = "ManageGroupForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="p-[24px]">
                <div class=" py-4 grid gap-5">
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name
                        </label>
                        @Html.TextBoxFor(model => model.GroupName, new
                       {
                           @class = "w-full rounded-[4px]",
                           @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Group_Name,
                           @style = "border-radius:4px !important",
                           @autocomplete = "off",
                           @maxLength = "50"
                       })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.GroupName)
                        </span>
                        @*<input type="text" class="w-full rounded-[4px]" style="border-radius:4px !important"
                            placeholder="Enter Group Name" name="GroupName" value="@Model.GroupName" required>*@
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Description
                        </label>
                        @Html.TextBoxFor(model => model.Description, new
                        {
                            @class = "w-full rounded-[4px]",
                            @placeholder = @CRS.ADMIN.APPLICATION.Resources.Resource.Description,
                            @style = "border-radius:4px !important",
                            @autocomplete = "off",
                            @maxLength = "200"
                        })
                        <span class="error">
                            @Html.ValidationMessageFor(m => m.Description)
                        </span>
                        @*<input type="text" class="w-full rounded-[4px]" style="border-radius:4px !important"
                            placeholder="Write group Description" name="Description" value="@Model.Description" required>*@
                    </div>
                    <div class="input-field-common">
                        <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Display_Order
                        </label>
                        <select id="large" name="displayOrderId" class=" default_select select-common block w-full "
                                style="width: 100%;">
                            @foreach (var item in ViewBag.DisplayOrderDDL as IEnumerable<SelectListItem>)
                            {
                                var selectedId = ViewBag.DisplayOrderDDLKey as string;
                                if (item.Value == selectedId)
                                {
                                    <option value="@item.Value" selected>
                                        @item.Text
                                    </option>
                                }
                                else
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="flex justify-end mt-6">
                    <div class="flex gap-6">
                        <button class="resetForm btn btn-gray-white rounded-[4px] px-8 text-sm"
                                data-drawer-hide="manage-group" onclick="CancelFunction()">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        @*<button class="resetForm btn btn-primary-default px-8 rounded-[4px]  text-sm leading-[10px]"
                                    data-drawer-hide="manage-group" data-modal-target=""
                                    data-modal-toggle="" id="saveData" onclick="AddGroup()">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.Submit
                            </button>*@
                        <button class="resetForm btn btn-primary-default px-8 rounded-[4px]  text-sm leading-[10px]">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Submit
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>