@model CRS.ADMIN.APPLICATION.Models.AffiliateManagement.ManageAffiliateModel
<style>
    .clsgender {
        display: flex; /* Display children in a row */
    }

    .box {
        flex: 1; /* Equal width for all boxes */
        /* height: 100px;*/
        margin-top: -19px;
        margin-right: 10px;
        /*background-color: gray;*/ /* Default color */
        color: gray; /* Text color */
        text-align: center; /* Center text */
        /*line-height: 100px;*/ /* Vertically center text */
        border: 1px solid #a09e91;
        padding: 10px 14px;
        font-size: 16px;
        border-radius: 4px;
        max-height: 44px;
        cursor: pointer; /* Change cursor to pointer */
    }

        .box.active {
            border: 1px solid rgb(204 82 122 / var(--tw-bg-opacity));
            color: rgb(204 82 122 / var(--tw-bg-opacity));
        }
</style>

<div id="add-new-affiliate" class="drawer-close-disable  flex justify-end fixed top-0 right-0 z-40 h-screen overflow-y-auto transition-transform translate-x-full "
     tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="bg-white w-[863px] drawer-container relative">
        <div class="drawer-form-container sticky top-0 z-[5] ">
            <div class="drawer-form flex justify-between bg-secondary-color-pink py-[16px] px-[24px] h-[56px]">
                <div>  @CRS.ADMIN.APPLICATION.Resources.Resource.ManageAffiliate</div>
                <button type="button" data-drawer-hide="add-new-affiliate" aria-controls="add-new-affiliate" onclick="CancelFunction()"
                        class="text-[20px]">
                    <i class="las la-window-close text-white"></i>
                </button>
            </div>
        </div>
        <div class="p-[24px]">
            @*<form class="h-adr">
            <span class="p-country-name" style="display:none;">Japan</span>
            PostalCode<input type="text" class="p-postal-code" size="8" maxlength="8"><br>
            Address：<input type="text" class="p-region p-locality p-street-address p-extended-address" /><br>
            都道府県：<input type="text" class="p-region" /><br>
            地区町村：<input type="text" class="p-locality" /><br>
            町名番地：<input type="text" class="p-street-address p-extended-address" />
        </form>*@
            @using (Html.BeginForm("ManageAffiliate", "AffiliateManagement", FormMethod.Post, new { @id = "ManageAffiliateForm", @class = "h-adr" }))
            {
                <span class="p-country-name" style="display:none;">Japan</span>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AffiliateId);
                @Html.HiddenFor(model => model.EmailAddress)
                @Html.HiddenFor(model => model.MobileNumber)
                <div class=" py-4 grid gap-6">
                    @*<div style="display:none">*@

                    @*</div>*@

                    <div class="grid gap-4 py-[10px]">
                        <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                            <div class="flex-none uppercase">@CRS.ADMIN.APPLICATION.Resources.Resource.Basic_Info</div>
                            <div class="bg-[#F4F4F4] h-[1px] w-full">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Username
                                </label>
                                @Html.HiddenFor(model => model.LoginId)
                                <input type="text" class="w-full" placeholder="@CRS.ADMIN.APPLICATION.Resources.Resource.Username" name="LoginId" value="@Model.LoginId" disabled>

                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateFullName
                                </label>
                                @Html.TextBoxFor(model => model.FullName, new
                           {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateFullName,
                               //@onkeypress = "return isNumber(event)",
                               autocomplete = "off",
                               @maxLength = "100"

                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </span>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.FullNameFurigana
                                </label>
                                @Html.TextBoxFor(model => model.FullNameFurigana, new
                           {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.FullNameFurigana,
                               //@onkeypress = "return isNumber(event)",
                               autocomplete = "off",
                               @maxLength = "100"

                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </span>
                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliatePhoneNumber
                                </label>

                                @Html.TextBoxFor(model => model.MobileNumber, new
                           {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliatePhoneNumber,
                               autocomplete = "off",
                               @maxLength = "11",
                               @disabled = "disabled"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </span>

                            </div>
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateEmailAddress
                                </label>

                                @Html.TextBoxFor(model => model.EmailAddress, new
                           {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateEmailAddress,
                               autocomplete = "off",
                               @maxLength = "75",
                               @disabled = "disabled"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </span>

                            </div>


                        </div>
                        <div class="grid gap-[16px]">

                            <div class="input-field-common">
                                <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Birth_Date
                                </label>
                                <div class="select-date-common flex gap-[16px]">

                                    @Html.TextBoxFor(model => model.BirthDateYear, new
                                   {
                                       @class = "input-common block w-[100px]",
                                       @placeholder = "YYYY",
                                       @autocomplete = "off",
                                       @maxlength = "4"
                                   })
                                    @Html.TextBoxFor(model => model.BirthDateMonth, new
                                        {
                                        @class = "input-common block w-[100px]",
                                        @placeholder = "MM",
                                        @autocomplete = "off",
                                        @maxlength = "2"
                                        })
                                    @Html.TextBoxFor(model => model.BirthDateDay, new
                                       {
                                       @class = "input-common block w-[100px]",
                                       @placeholder = "DD",
                                       @autocomplete = "off",
                                       @maxlength = "2"
                                       })

                                </div>

                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-x-5 gap-y-4">
                            <label for="email" class="block mb-[12px] text-sm font-medium text-secondary-100 ">
                                @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateGender
                            </label>
                            <div class="clsgender">
                                @Html.HiddenFor(model => model.Gender, new { @class = "clsgender", id = "gender" })
                                <div class="box" value="M">
                                    Male
                                </div>
                                <div class="box" value="F">
                                    Female
                                </div>
                                <div class="box" value="O">
                                    Others
                                </div>
                            </div>

                        </div>


                    </div>



                    <div class="grid gap-4 py-[10px]">
                        <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                            <div class="flex-none uppercase">@CRS.ADMIN.APPLICATION.Resources.Resource.Address</div>
                            <div class="bg-[#F4F4F4] h-[1px] w-full">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4">

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliatePostalcode
                                </label>
                                @Html.TextBoxFor(model => model.PostalCode, new
                           {
                               @class = "w-full p-postal-code",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliatePostalcode,
                               @autocomplete = "off",
                               @size = "8",
                               @maxlength = "8",
                               @onchange = "FillDetails()"
                               //@maxLength = "30"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.PostalCode)
                                </span>
                            </div>

                            @*<div class="input-field-common">
                             <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                 @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateAutoFilledAddress
                             </label>

                             @Html.TextBoxFor(model => model.Address, new
                          {
                            @class = "w-full p-region p-locality p-street-address p-extended-address",
                            @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateAutoFilledAddress,
                            autocomplete = "off",
                            @maxLength = "200"
                        })
                             <span class="error">
                                 @Html.ValidationMessageFor(m => m.Address)
                             </span>

                         </div>*@
                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4">

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Prefecture
                                </label>
                                @Html.TextBoxFor(model => model.Prefecture, new
                                {
                                @class = "w-full p-region",
                                @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.Prefecture,
                                autocomplete = "off",
                                @maxLength = "200"
                                })
                                @*@Html.NDropDownListFor(model => model.Pref, new SelectList(ViewBag.PrefPref, "", "Text"), new { @class = "form-control select2", autocomplete = "off", id = "large" }, 2)*@

                                @*<select id="large" class=" default_select select-common block w-full "
                                    style="width: 100%;" name="Prefecture">
                                @foreach (KeyValuePair<string, string> item in ViewBag.Pref as Dictionary<string, string>)
                                {
                                    var selectedId = ViewBag.PrefIdKey as string;
                                    if (item.Value == selectedId)
                                    {
                                        <option value="@item.Key" selected>
                                            @item.Value
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">
                                            @item.Value
                                        </option>
                                    }
                                }
                            </select>*@
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.Prefecture)
                                </span>
                            </div>


                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCityTown
                                </label>

                                @Html.TextBoxFor(model => model.City, new
                             {
                               @class = "w-full p-locality",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCityTown,
                               autocomplete = "off",
                               @maxLength = "200"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.City)
                                </span>

                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateStreet
                                </label>

                                @Html.TextBoxFor(model => model.Street, new
                             {
                               @class = "w-full p-street-address p-extended-address",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateStreet,
                               autocomplete = "off",
                               @maxLength = "200"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.Street)
                                </span>

                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateBuildingRoomNo
                                </label>

                                @Html.TextBoxFor(model => model.BuildingRoomNo, new
                             {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateBuildingRoomNo,
                               autocomplete = "off",
                               @maxLength = "50"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.BuildingRoomNo)
                                </span>

                            </div>


                        </div>
                    </div>





                    <div class="grid gap-4 py-[10px]">
                        <div class="flex gap-2 text-primary-300 text-sm font-semibold items-center mt-[10px]">
                            <div class="flex-none uppercase">@CRS.ADMIN.APPLICATION.Resources.Resource.BusinessInfo</div>
                            <div class="bg-[#F4F4F4] h-[1px] w-full">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4">

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.Business_Type
                                </label>
                                <select id="large" name="BusinessType" class=" default_select select-common block w-full "
                                        style="width: text-2%;">
                                    @foreach (var item in ViewBag.BusinessTypeDDL as IEnumerable<SelectListItem>)
                                    {
                                        var selectedId = ViewBag.BusinessTypeKey as string;
                                        if (item.Value == selectedId)
                                        {
                                            <option value="@item.Value" selected>
                                                @item.Text
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="grid grid-cols-2 gap-x-5 gap-y-4 clscorporation" style="display:none;">
                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCeoname
                                </label>

                                @Html.TextBoxFor(model => model.CEOName, new
                             {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCeoname,
                               autocomplete = "off",
                               @maxLength = "100"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.CEOName)
                                </span>

                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCeoFurigana
                                </label>

                                @Html.TextBoxFor(model => model.CEONameFurigana, new
                             {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCeoFurigana,
                               autocomplete = "off",
                               @maxLength = "100"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.CEONameFurigana)
                                </span>

                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCompanyName
                                </label>

                                @Html.TextBoxFor(model => model.CompanyName, new
                             {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCompanyName,
                               autocomplete = "off",
                               @maxLength = "100"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.CompanyName)
                                </span>

                            </div>

                            <div class="input-field-common">
                                <label class="block mb-[12px] text-sm font-medium text-secondary-text-2 ">
                                    @CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCompanyAddress
                                </label>

                                @Html.TextBoxFor(model => model.CompanyAddress, new
                             {
                               @class = "w-full",
                               @placeholder = CRS.ADMIN.APPLICATION.Resources.Resource.AffiliateCompanyAddress,
                               autocomplete = "off",
                               @maxLength = "300"
                           })
                                <span class="error">
                                    @Html.ValidationMessageFor(m => m.CompanyAddress)
                                </span>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="py-4 flex justify-end">
                    <div class="flex gap-6">
                        <button class="btn btn-secondary rounded-[4px]" type="button" data-drawer-hide="add-new-host-tag"
                                aria-controls="add-new-host-tag" onclick="CancelFunction();">
                            @CRS.ADMIN.APPLICATION.Resources.Resource.Cancel
                        </button>
                        <button class="btn btn-primary-default rounded-[4px]" type="submit"> @CRS.ADMIN.APPLICATION.Resources.Resource.Submit</button>


                    </div>

                </div>
            }
        </div>
    </div>
</div>
